In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
# Reading vaccination data in vaccine_df
vaccine_df = pd.read_csv('vaccine_data_new.csv')
vaccine_df

,S No,State_Code,State,District_Key,Cowin Key,District,16/01/2021,16/01/2021.1,16/01/2021.2,16/01/2021.3,...,01/09/2021,01/09/2021.1,01/09/2021.2,01/09/2021.3,01/09/2021.4,01/09/2021.5,01/09/2021.6,01/09/2021.7,01/09/2021.8,01/09/2021.9
0,1.0,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobar,Nicobars,745.0,0.0,0.0,0.0,...,1433521,1262,10,22234,8326,16468,14090,2,0,30560
1,2.0,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,North and Middle Andaman,1496.0,0.0,0.0,0.0,...,104841,4406,18,73655,31186,54856,49972,13,0,104841
2,3.0,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,South Andaman,6028.0,2.0,2.0,23.0,...,229879,15704,25,163017,66862,123444,106397,38,1,229879
3,4.0,AP,Andhra Pradesh,AP_Anantapur,Anantapur,Anantapur,20781.0,28.0,26.0,287.0,...,2471041,416660,372,1678857,792184,1141050,1328828,1163,342472,2128569
4,5.0,AP,Andhra Pradesh,AP_Chittoor,Chittoor,Chittoor,26285.0,63.0,31.0,424.0,...,2774228,370134,436,1935756,838472,1288979,1484856,393,436745,2322388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,751.0,WB,West Bengal,WB_Purulia,Purulia,Purulia,18395.0,1.0,1.0,31.0,...,957812,60500,217,689952,267860,508759,448907,146,132217,825595
750,752.0,WB,West Bengal,WB_Birbhum,Rampurhat HD (Birbhum),Birbhum,4685.0,0.0,0.0,1.0,...,612157,54198,248,445297,166860,284440,327614,103,74282,537875
751,753.0,WB,West Bengal,WB_South 24 Parganas,South 24 Parganas,South 24 Parganas,24722.0,6.0,6.0,14.0,...,2206458,183463,421,1616155,590303,1142488,1063614,356,182772,2023686
752,754.0,WB,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,Uttar Dinajpur,0.0,0.0,0.0,0.0,...,873498,70159,131,651975,221523,475245,398040,213,126507,746991
753,755.0,WB,West Bengal,WB_Paschim Bardhaman,West Bardhaman,Paschim Bardhaman,22782.0,2.0,2.0,62.0,...,1304227,66471,156,973371,330856,714378,589599,250,140487,1163385

In [3]:
vaccine_df3 = vaccine_df.copy()

In [4]:
# Creating a temporary Dataframe for storing district_wise total number 
# of Covishield vaccinated persons (either 1 or 2 doses) to total number of Covaxin vaccinated persons
tempdf = vaccine_df3[['State','District','District_Key','14/08/2021.8','14/08/2021.9']]
tempdf

,State,District,District_Key,14/08/2021.8,14/08/2021.9
0,Andaman and Nicobar Islands,Nicobars,AN_Nicobars,0,30191
1,Andaman and Nicobar Islands,North and Middle Andaman,AN_North and Middle Andaman,0,97324
2,Andaman and Nicobar Islands,South Andaman,AN_South Andaman,1,202481
3,Andhra Pradesh,Anantapur,AP_Anantapur,280843,1680877
4,Andhra Pradesh,Chittoor,AP_Chittoor,380464,1811380
...,...,...,...,...,...
749,West Bengal,Purulia,WB_Purulia,119235,667928
750,West Bengal,Birbhum,WB_Birbhum,66816,443747
751,West Bengal,South 24 Parganas,WB_South 24 Parganas,155874,1608273
752,West Bengal,Uttar Dinajpur,WB_Uttar Dinajpur,115375,598638
753,West Bengal,Paschim Bardhaman,WB_Paschim Bardhaman,127712,917162

In [5]:
tempdf.columns = ['State','District','District_Key','Covaxin','Covishield']
tempdf

,State,District,District_Key,Covaxin,Covishield
0,Andaman and Nicobar Islands,Nicobars,AN_Nicobars,0,30191
1,Andaman and Nicobar Islands,North and Middle Andaman,AN_North and Middle Andaman,0,97324
2,Andaman and Nicobar Islands,South Andaman,AN_South Andaman,1,202481
3,Andhra Pradesh,Anantapur,AP_Anantapur,280843,1680877
4,Andhra Pradesh,Chittoor,AP_Chittoor,380464,1811380
...,...,...,...,...,...
749,West Bengal,Purulia,WB_Purulia,119235,667928
750,West Bengal,Birbhum,WB_Birbhum,66816,443747
751,West Bengal,South 24 Parganas,WB_South 24 Parganas,155874,1608273
752,West Bengal,Uttar Dinajpur,WB_Uttar Dinajpur,115375,598638
753,West Bengal,Paschim Bardhaman,WB_Paschim Bardhaman,127712,917162

In [6]:
# Changing data type to numeric for mathematical computations in future
tempdf['Covaxin'] = pd.to_numeric(tempdf['Covaxin'])
tempdf['Covishield'] = pd.to_numeric(tempdf['Covishield'])
tempdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 754 entries, 0 to 753
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State         754 non-null    object
 1   District      754 non-null    object
 2   District_Key  754 non-null    object
 3   Covaxin       754 non-null    int64
 4   Covishield    754 non-null    int64
dtypes: int64(2), object(3)
memory usage: 29.6+ KB

C:\Users\CHABIL~1\AppData\Local\Temp/ipykernel_9508/2663067318.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempdf['Covaxin'] = pd.to_numeric(tempdf['Covaxin'])
C:\Users\CHABIL~1\AppData\Local\Temp/ipykernel_9508/2663067318.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempdf['Covishield'] = pd.to_numeric(tempdf['Covishield'])

### Two Cells below show how some districts multiple rows for vaccination data, for this we will add these rows to find actual vaccination data for these districts

In [7]:
tempdf[tempdf['District_Key']=='GJ_Gandhinagar']

       State     District    District_Key  Covaxin  Covishield
172  Gujarat  Gandhinagar  GJ_Gandhinagar    57729      701560
173  Gujarat  Gandhinagar  GJ_Gandhinagar    44296      377828

In [8]:
val_counts = tempdf['District_Key'].value_counts()
val_counts[val_counts>1]

TN_Tiruvannamalai       2
WB_South 24 Parganas    2
MZ_Aizawl               2
RJ_Jaipur               2
GJ_Ahmedabad            2
GJ_Bhavnagar            2
TN_Virudhunagar         2
GJ_Gandhinagar          2
GJ_Jamnagar             2
GJ_Junagadh             2
TN_Ramanathapuram       2
WB_Bankura              2
WB_North 24 Parganas    2
AR_Papum Pare           2
WB_Birbhum              2
TN_Thiruvallur          2
TN_Thoothukkudi         2
GJ_Rajkot               2
WB_Purba Medinipur      2
TN_Dindigul             2
GJ_Vadodara             2
GJ_Surat                2
KA_Bengaluru Urban      2
TN_Pudukkottai          2
TN_Salem                2
Name: District_Key, dtype: int64

In [9]:
# Using Groupby to add multiplt rows of same district
tempdf = tempdf.groupby('District_Key').sum()
tempdf

                             Covaxin  Covishield
District_Key
AN_Nicobars                        0       30191
AN_North and Middle Andaman        0       97324
AN_South Andaman                   1      202481
AP_Anantapur                  280843     1680877
AP_Chittoor                   380464     1811380
...                              ...         ...
WB_Purba Bardhaman            134961     1259745
WB_Purba Medinipur            266517     1944649
WB_Purulia                    119235      667928
WB_South 24 Parganas          305074     2555782
WB_Uttar Dinajpur             115375      598638

[729 rows x 2 columns]

In [10]:
tempdf.reset_index(inplace = True)
tempdf

                    District_Key  Covaxin  Covishield
0                    AN_Nicobars        0       30191
1    AN_North and Middle Andaman        0       97324
2               AN_South Andaman        1      202481
3                   AP_Anantapur   280843     1680877
4                    AP_Chittoor   380464     1811380
..                           ...      ...         ...
724           WB_Purba Bardhaman   134961     1259745
725           WB_Purba Medinipur   266517     1944649
726                   WB_Purulia   119235      667928
727         WB_South 24 Parganas   305074     2555782
728            WB_Uttar Dinajpur   115375      598638

[729 rows x 3 columns]

In [11]:
# Finding the ratio of both vaccines for each district
tempdf['Vaccine_Ratio'] = tempdf['Covishield'] / tempdf['Covaxin']
tempdf

                    District_Key  Covaxin  Covishield  Vaccine_Ratio
0                    AN_Nicobars        0       30191            inf
1    AN_North and Middle Andaman        0       97324            inf
2               AN_South Andaman        1      202481   2.024810e+05
3                   AP_Anantapur   280843     1680877   5.985113e+00
4                    AP_Chittoor   380464     1811380   4.760976e+00
..                           ...      ...         ...            ...
724           WB_Purba Bardhaman   134961     1259745   9.334141e+00
725           WB_Purba Medinipur   266517     1944649   7.296529e+00
726                   WB_Purulia   119235      667928   5.601778e+00
727         WB_South 24 Parganas   305074     2555782   8.377581e+00
728            WB_Uttar Dinajpur   115375      598638   5.188628e+00

[729 rows x 4 columns]

In [12]:
# Rounding up the ratio values to three decimal places
tempdf['Vaccine_Ratio'] = tempdf['Vaccine_Ratio'].apply(lambda x: '%.3f' % x)
tempdf

                    District_Key  Covaxin  Covishield Vaccine_Ratio
0                    AN_Nicobars        0       30191           inf
1    AN_North and Middle Andaman        0       97324           inf
2               AN_South Andaman        1      202481    202481.000
3                   AP_Anantapur   280843     1680877         5.985
4                    AP_Chittoor   380464     1811380         4.761
..                           ...      ...         ...           ...
724           WB_Purba Bardhaman   134961     1259745         9.334
725           WB_Purba Medinipur   266517     1944649         7.297
726                   WB_Purulia   119235      667928         5.602
727         WB_South 24 Parganas   305074     2555782         8.378
728            WB_Uttar Dinajpur   115375      598638         5.189

[729 rows x 4 columns]

In [13]:
district_result_df = tempdf.copy()
district_result_df

                    District_Key  Covaxin  Covishield Vaccine_Ratio
0                    AN_Nicobars        0       30191           inf
1    AN_North and Middle Andaman        0       97324           inf
2               AN_South Andaman        1      202481    202481.000
3                   AP_Anantapur   280843     1680877         5.985
4                    AP_Chittoor   380464     1811380         4.761
..                           ...      ...         ...           ...
724           WB_Purba Bardhaman   134961     1259745         9.334
725           WB_Purba Medinipur   266517     1944649         7.297
726                   WB_Purulia   119235      667928         5.602
727         WB_South 24 Parganas   305074     2555782         8.378
728            WB_Uttar Dinajpur   115375      598638         5.189

[729 rows x 4 columns]

In [14]:
district_result_df.drop(['Covaxin','Covishield'],axis=1,inplace=True)
district_result_df

                    District_Key Vaccine_Ratio
0                    AN_Nicobars           inf
1    AN_North and Middle Andaman           inf
2               AN_South Andaman    202481.000
3                   AP_Anantapur         5.985
4                    AP_Chittoor         4.761
..                           ...           ...
724           WB_Purba Bardhaman         9.334
725           WB_Purba Medinipur         7.297
726                   WB_Purulia         5.602
727         WB_South 24 Parganas         8.378
728            WB_Uttar Dinajpur         5.189

[729 rows x 2 columns]

In [15]:
district_result_df.columns = ['districtid', 'vaccineratio']
district_result_df

                      districtid vaccineratio
0                    AN_Nicobars          inf
1    AN_North and Middle Andaman          inf
2               AN_South Andaman   202481.000
3                   AP_Anantapur        5.985
4                    AP_Chittoor        4.761
..                           ...          ...
724           WB_Purba Bardhaman        9.334
725           WB_Purba Medinipur        7.297
726                   WB_Purulia        5.602
727         WB_South 24 Parganas        8.378
728            WB_Uttar Dinajpur        5.189

[729 rows x 2 columns]

In [16]:
# Storing the result in district-vaccine-type-ratio.csv 
district_result_df.to_csv('Outputs/district-vaccine-type-ratio.csv',index=True)

## Now Doing this for state

In [17]:
vaccine_df3

,S No,State_Code,State,District_Key,Cowin Key,District,16/01/2021,16/01/2021.1,16/01/2021.2,16/01/2021.3,...,01/09/2021,01/09/2021.1,01/09/2021.2,01/09/2021.3,01/09/2021.4,01/09/2021.5,01/09/2021.6,01/09/2021.7,01/09/2021.8,01/09/2021.9
0,1.0,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobar,Nicobars,745.0,0.0,0.0,0.0,...,1433521,1262,10,22234,8326,16468,14090,2,0,30560
1,2.0,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,North and Middle Andaman,1496.0,0.0,0.0,0.0,...,104841,4406,18,73655,31186,54856,49972,13,0,104841
2,3.0,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,South Andaman,6028.0,2.0,2.0,23.0,...,229879,15704,25,163017,66862,123444,106397,38,1,229879
3,4.0,AP,Andhra Pradesh,AP_Anantapur,Anantapur,Anantapur,20781.0,28.0,26.0,287.0,...,2471041,416660,372,1678857,792184,1141050,1328828,1163,342472,2128569
4,5.0,AP,Andhra Pradesh,AP_Chittoor,Chittoor,Chittoor,26285.0,63.0,31.0,424.0,...,2774228,370134,436,1935756,838472,1288979,1484856,393,436745,2322388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,751.0,WB,West Bengal,WB_Purulia,Purulia,Purulia,18395.0,1.0,1.0,31.0,...,957812,60500,217,689952,267860,508759,448907,146,132217,825595
750,752.0,WB,West Bengal,WB_Birbhum,Rampurhat HD (Birbhum),Birbhum,4685.0,0.0,0.0,1.0,...,612157,54198,248,445297,166860,284440,327614,103,74282,537875
751,753.0,WB,West Bengal,WB_South 24 Parganas,South 24 Parganas,South 24 Parganas,24722.0,6.0,6.0,14.0,...,2206458,183463,421,1616155,590303,1142488,1063614,356,182772,2023686
752,754.0,WB,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,Uttar Dinajpur,0.0,0.0,0.0,0.0,...,873498,70159,131,651975,221523,475245,398040,213,126507,746991
753,755.0,WB,West Bengal,WB_Paschim Bardhaman,West Bardhaman,Paschim Bardhaman,22782.0,2.0,2.0,62.0,...,1304227,66471,156,973371,330856,714378,589599,250,140487,1163385

In [18]:
# Creating a temporary dataframe to store the vaccination data for each state
tempdf = pd.DataFrame()
tempdf['State'] = vaccine_df3['State'].unique()
tempdf

                                       State
0                Andaman and Nicobar Islands
1                             Andhra Pradesh
2                          Arunachal Pradesh
3                                      Assam
4                                      Bihar
5                                 Chandigarh
6                               Chhattisgarh
7   Dadra and Nagar Haveli and Daman and Diu
8                                      Delhi
9                                        Goa
10                                   Gujarat
11                                   Haryana
12                          Himachal Pradesh
13                         Jammu and Kashmir
14                                 Jharkhand
15                                 Karnataka
16                                    Kerala
17                                    Ladakh
18                               Lakshadweep
19                            Madhya Pradesh
20                               Maharashtra
21                                   Manipur
22                                 Meghalaya
23                                   Mizoram
24                                  Nagaland
25                                    Odisha
26                                Puducherry
27                                    Punjab
28                                 Rajasthan
29                                    Sikkim
30                                Tamil Nadu
31                                 Telangana
32                                   Tripura
33                             Uttar Pradesh
34                               Uttarakhand
35                               West Bengal

In [19]:
tempdf['Covaxin'] = np.nan
tempdf['Covishield'] = np.nan
tempdf

                                       State  Covaxin  Covishield
0                Andaman and Nicobar Islands      NaN         NaN
1                             Andhra Pradesh      NaN         NaN
2                          Arunachal Pradesh      NaN         NaN
3                                      Assam      NaN         NaN
4                                      Bihar      NaN         NaN
5                                 Chandigarh      NaN         NaN
6                               Chhattisgarh      NaN         NaN
7   Dadra and Nagar Haveli and Daman and Diu      NaN         NaN
8                                      Delhi      NaN         NaN
9                                        Goa      NaN         NaN
10                                   Gujarat      NaN         NaN
11                                   Haryana      NaN         NaN
12                          Himachal Pradesh      NaN         NaN
13                         Jammu and Kashmir      NaN         NaN
14                                 Jharkhand      NaN         NaN
15                                 Karnataka      NaN         NaN
16                                    Kerala      NaN         NaN
17                                    Ladakh      NaN         NaN
18                               Lakshadweep      NaN         NaN
19                            Madhya Pradesh      NaN         NaN
20                               Maharashtra      NaN         NaN
21                                   Manipur      NaN         NaN
22                                 Meghalaya      NaN         NaN
23                                   Mizoram      NaN         NaN
24                                  Nagaland      NaN         NaN
25                                    Odisha      NaN         NaN
26                                Puducherry      NaN         NaN
27                                    Punjab      NaN         NaN
28                                 Rajasthan      NaN         NaN
29                                    Sikkim      NaN         NaN
30                                Tamil Nadu      NaN         NaN
31                                 Telangana      NaN         NaN
32                                   Tripura      NaN         NaN
33                             Uttar Pradesh      NaN         NaN
34                               Uttarakhand      NaN         NaN
35                               West Bengal      NaN         NaN

In [20]:
# Filling covaxin/covishield data for each state
# As vaccine_df contains data district wise so adding covaxin/covishield data of all the district for a particular state
for i in range(len(tempdf)):
    newdf = vaccine_df3[vaccine_df3['State'] == tempdf.iloc[i,0]]
    sumdf = newdf.sum(axis=0)
    tempdf.iloc[i,1] = pd.to_numeric(sumdf.loc['14/08/2021.8'])
    tempdf.iloc[i,2] = pd.to_numeric(sumdf.loc['14/08/2021.9'])
tempdf

                                       State    Covaxin  Covishield
0                Andaman and Nicobar Islands        1.0    329996.0
1                             Andhra Pradesh  4070226.0  20879561.0
2                          Arunachal Pradesh      178.0    900714.0
3                                      Assam  1732408.0  12138691.0
4                                      Bihar  3395490.0  26628989.0
5                                 Chandigarh     4528.0    973402.0
6                               Chhattisgarh  1392850.0  10760651.0
7   Dadra and Nagar Haveli and Daman and Diu       47.0    688754.0
8                                      Delhi  2715588.0   8750718.0
9                                        Goa    27658.0   1415066.0
10                                   Gujarat  4254163.0  35573589.0
11                                   Haryana  1960592.0  11673302.0
12                          Himachal Pradesh     3390.0   6458208.0
13                         Jammu and Kashmir   261784.0   6858976.0
14                                 Jharkhand  1792791.0   9135601.0
15                                 Karnataka  4582255.0  29854578.0
16                                    Kerala  2383883.0  21521356.0
17                                    Ladakh       49.0    262360.0
18                               Lakshadweep        9.0     69553.0
19                            Madhya Pradesh  4309324.0  33434967.0
20                               Maharashtra  6476709.0  42611472.0
21                                   Manipur       96.0   1440236.0
22                                 Meghalaya      195.0   1226159.0
23                                   Mizoram       23.0    877800.0
24                                  Nagaland      413.0    804175.0
25                                    Odisha  2563646.0  16917276.0
26                                Puducherry   138153.0    843183.0
27                                    Punjab  1547445.0   9450495.0
28                                 Rajasthan  4692948.0  32811380.0
29                                    Sikkim      229.0    658871.0
30                                Tamil Nadu  4072435.0  22532135.0
31                                 Telangana  3266527.0  12857010.0
32                                   Tripura    66328.0   3194209.0
33                             Uttar Pradesh  6782893.0  50624720.0
34                               Uttarakhand   525657.0   6692654.0
35                               West Bengal  4467467.0  29689814.0

In [21]:
# Finding the ratio of both vaccines for each state
tempdf['Vaccine_Ratio'] = tempdf['Covishield'] / tempdf['Covaxin']
tempdf

,State,Covaxin,Covishield,Vaccine_Ratio
0,Andaman and Nicobar Islands,1.0,329996.0,329996.000000
1,Andhra Pradesh,4070226.0,20879561.0,5.129828
2,Arunachal Pradesh,178.0,900714.0,5060.191011
3,Assam,1732408.0,12138691.0,7.006832
4,Bihar,3395490.0,26628989.0,7.842458
5,Chandigarh,4528.0,973402.0,214.973940
6,Chhattisgarh,1392850.0,10760651.0,7.725635
7,Dadra and Nagar Haveli and Daman and Diu,47.0,688754.0,14654.340426
8,Delhi,2715588.0,8750718.0,3.222403
9,Goa,27658.0,1415066.0,51.162991
10,Gujarat,4254163.0,35573589.0,8.362065
11,Haryana,1960592.0,11673302.0,5.953968
12,Himachal Pradesh,3390.0,6458208.0,1905.076106
13,Jammu and Kashmir,261784.0,6858976.0,26.200898
14,Jharkhand,1792791.0,9135601.0,5.095742
15,Karnataka,4582255.0,29854578.0,6.515259
16,Kerala,2383883.0,21521356.0,9.027857
17,Ladakh,49.0,262360.0,5354.285714
18,Lakshadweep,9.0,69553.0,7728.111111
19,Madhya Pradesh,4309324.0,33434967.0,7.758750
20,Maharashtra,6476709.0,42611472.0,6.579186
21,Manipur,96.0,1440236.0,15002.458333
22,Meghalaya,195.0,1226159.0,6287.994872
23,Mizoram,23.0,877800.0,38165.217391
24,Nagaland,413.0,804175.0,1947.154964
25,Odisha,2563646.0,16917276.0,6.598913
26,Puducherry,138153.0,843183.0,6.103255
27,Punjab,1547445.0,9450495.0,6.107161
28,Rajasthan,4692948.0,32811380.0,6.991635
29,Sikkim,229.0,658871.0,2877.165939
30,Tamil Nadu,4072435.0,22532135.0,5.532841
31,Telangana,3266527.0,12857010.0,3.935988
32,Tripura,66328.0,3194209.0,48.157777
33,Uttar Pradesh,6782893.0,50624720.0,7.463588
34,Uttarakhand,525657.0,6692654.0,12.731979
35,West Bengal,4467467.0,29689814.0,6.645782

In [22]:
# Rounding up the ratios to three decimal places
tempdf['Vaccine_Ratio'] = tempdf['Vaccine_Ratio'].apply(lambda x: '%.3f' % x)
tempdf

,State,Covaxin,Covishield,Vaccine_Ratio
0,Andaman and Nicobar Islands,1.0,329996.0,329996.000
1,Andhra Pradesh,4070226.0,20879561.0,5.130
2,Arunachal Pradesh,178.0,900714.0,5060.191
3,Assam,1732408.0,12138691.0,7.007
4,Bihar,3395490.0,26628989.0,7.842
5,Chandigarh,4528.0,973402.0,214.974
6,Chhattisgarh,1392850.0,10760651.0,7.726
7,Dadra and Nagar Haveli and Daman and Diu,47.0,688754.0,14654.340
8,Delhi,2715588.0,8750718.0,3.222
9,Goa,27658.0,1415066.0,51.163
10,Gujarat,4254163.0,35573589.0,8.362
11,Haryana,1960592.0,11673302.0,5.954
12,Himachal Pradesh,3390.0,6458208.0,1905.076
13,Jammu and Kashmir,261784.0,6858976.0,26.201
14,Jharkhand,1792791.0,9135601.0,5.096
15,Karnataka,4582255.0,29854578.0,6.515
16,Kerala,2383883.0,21521356.0,9.028
17,Ladakh,49.0,262360.0,5354.286
18,Lakshadweep,9.0,69553.0,7728.111
19,Madhya Pradesh,4309324.0,33434967.0,7.759
20,Maharashtra,6476709.0,42611472.0,6.579
21,Manipur,96.0,1440236.0,15002.458
22,Meghalaya,195.0,1226159.0,6287.995
23,Mizoram,23.0,877800.0,38165.217
24,Nagaland,413.0,804175.0,1947.155
25,Odisha,2563646.0,16917276.0,6.599
26,Puducherry,138153.0,843183.0,6.103
27,Punjab,1547445.0,9450495.0,6.107
28,Rajasthan,4692948.0,32811380.0,6.992
29,Sikkim,229.0,658871.0,2877.166
30,Tamil Nadu,4072435.0,22532135.0,5.533
31,Telangana,3266527.0,12857010.0,3.936
32,Tripura,66328.0,3194209.0,48.158
33,Uttar Pradesh,6782893.0,50624720.0,7.464
34,Uttarakhand,525657.0,6692654.0,12.732
35,West Bengal,4467467.0,29689814.0,6.646

In [23]:
state_result_df = tempdf.copy()
state_result_df

,State,Covaxin,Covishield,Vaccine_Ratio
0,Andaman and Nicobar Islands,1.0,329996.0,329996.000
1,Andhra Pradesh,4070226.0,20879561.0,5.130
2,Arunachal Pradesh,178.0,900714.0,5060.191
3,Assam,1732408.0,12138691.0,7.007
4,Bihar,3395490.0,26628989.0,7.842
5,Chandigarh,4528.0,973402.0,214.974
6,Chhattisgarh,1392850.0,10760651.0,7.726
7,Dadra and Nagar Haveli and Daman and Diu,47.0,688754.0,14654.340
8,Delhi,2715588.0,8750718.0,3.222
9,Goa,27658.0,1415066.0,51.163
10,Gujarat,4254163.0,35573589.0,8.362
11,Haryana,1960592.0,11673302.0,5.954
12,Himachal Pradesh,3390.0,6458208.0,1905.076
13,Jammu and Kashmir,261784.0,6858976.0,26.201
14,Jharkhand,1792791.0,9135601.0,5.096
15,Karnataka,4582255.0,29854578.0,6.515
16,Kerala,2383883.0,21521356.0,9.028
17,Ladakh,49.0,262360.0,5354.286
18,Lakshadweep,9.0,69553.0,7728.111
19,Madhya Pradesh,4309324.0,33434967.0,7.759
20,Maharashtra,6476709.0,42611472.0,6.579
21,Manipur,96.0,1440236.0,15002.458
22,Meghalaya,195.0,1226159.0,6287.995
23,Mizoram,23.0,877800.0,38165.217
24,Nagaland,413.0,804175.0,1947.155
25,Odisha,2563646.0,16917276.0,6.599
26,Puducherry,138153.0,843183.0,6.103
27,Punjab,1547445.0,9450495.0,6.107
28,Rajasthan,4692948.0,32811380.0,6.992
29,Sikkim,229.0,658871.0,2877.166
30,Tamil Nadu,4072435.0,22532135.0,5.533
31,Telangana,3266527.0,12857010.0,3.936
32,Tripura,66328.0,3194209.0,48.158
33,Uttar Pradesh,6782893.0,50624720.0,7.464
34,Uttarakhand,525657.0,6692654.0,12.732
35,West Bengal,4467467.0,29689814.0,6.646

In [24]:
state_result_df.drop(['Covaxin','Covishield'],axis = 1,inplace = True)
state_result_df

                                       State Vaccine_Ratio
0                Andaman and Nicobar Islands    329996.000
1                             Andhra Pradesh         5.130
2                          Arunachal Pradesh      5060.191
3                                      Assam         7.007
4                                      Bihar         7.842
5                                 Chandigarh       214.974
6                               Chhattisgarh         7.726
7   Dadra and Nagar Haveli and Daman and Diu     14654.340
8                                      Delhi         3.222
9                                        Goa        51.163
10                                   Gujarat         8.362
11                                   Haryana         5.954
12                          Himachal Pradesh      1905.076
13                         Jammu and Kashmir        26.201
14                                 Jharkhand         5.096
15                                 Karnataka         6.515
16                                    Kerala         9.028
17                                    Ladakh      5354.286
18                               Lakshadweep      7728.111
19                            Madhya Pradesh         7.759
20                               Maharashtra         6.579
21                                   Manipur     15002.458
22                                 Meghalaya      6287.995
23                                   Mizoram     38165.217
24                                  Nagaland      1947.155
25                                    Odisha         6.599
26                                Puducherry         6.103
27                                    Punjab         6.107
28                                 Rajasthan         6.992
29                                    Sikkim      2877.166
30                                Tamil Nadu         5.533
31                                 Telangana         3.936
32                                   Tripura        48.158
33                             Uttar Pradesh         7.464
34                               Uttarakhand        12.732
35                               West Bengal         6.646

In [25]:
state_result_df.columns = ['stateid', 'vaccineratio']
state_result_df

                                     stateid vaccineratio
0                Andaman and Nicobar Islands   329996.000
1                             Andhra Pradesh        5.130
2                          Arunachal Pradesh     5060.191
3                                      Assam        7.007
4                                      Bihar        7.842
5                                 Chandigarh      214.974
6                               Chhattisgarh        7.726
7   Dadra and Nagar Haveli and Daman and Diu    14654.340
8                                      Delhi        3.222
9                                        Goa       51.163
10                                   Gujarat        8.362
11                                   Haryana        5.954
12                          Himachal Pradesh     1905.076
13                         Jammu and Kashmir       26.201
14                                 Jharkhand        5.096
15                                 Karnataka        6.515
16                                    Kerala        9.028
17                                    Ladakh     5354.286
18                               Lakshadweep     7728.111
19                            Madhya Pradesh        7.759
20                               Maharashtra        6.579
21                                   Manipur    15002.458
22                                 Meghalaya     6287.995
23                                   Mizoram    38165.217
24                                  Nagaland     1947.155
25                                    Odisha        6.599
26                                Puducherry        6.103
27                                    Punjab        6.107
28                                 Rajasthan        6.992
29                                    Sikkim     2877.166
30                                Tamil Nadu        5.533
31                                 Telangana        3.936
32                                   Tripura       48.158
33                             Uttar Pradesh        7.464
34                               Uttarakhand       12.732
35                               West Bengal        6.646

In [26]:
# Storing the result in state-vaccine-type-ratio.csv 
state_result_df.to_csv('Outputs/state-vaccine-type-ratio.csv',index=True)

## Now doing this for India

In [27]:
tempdf = pd.DataFrame()
tempdf['Country'] = ['India']
tempdf

  Country
0   India

In [28]:
# Finding the covaxin/covishield data for India by summing of all districts
tempdf['Covaxin'] = vaccine_df3['14/08/2021.8'].sum()
tempdf['Covishield'] = vaccine_df3['14/08/2021.9'].sum()
tempdf

  Country   Covaxin  Covishield
0   India  67488378   471540621

In [29]:
# Finding the ratio of both vaccines for India
tempdf['Vaccine_Ratio'] = tempdf['Covishield'] / tempdf['Covaxin']
tempdf

  Country   Covaxin  Covishield  Vaccine_Ratio
0   India  67488378   471540621        6.98699

In [30]:
india_result_df = tempdf.copy()
india_result_df

  Country   Covaxin  Covishield  Vaccine_Ratio
0   India  67488378   471540621        6.98699

In [31]:
india_result_df.drop(['Covaxin','Covishield'],axis=1,inplace=True)
india_result_df

  Country  Vaccine_Ratio
0   India        6.98699

In [32]:
india_result_df.columns = ['countryid', 'vaccineratio']
india_result_df

  countryid  vaccineratio
0     India       6.98699

In [33]:
# Storing the result in india-vaccine-type-ratio.csv 
india_result_df.to_csv('Outputs/india-vaccine-type-ratio.csv',index=True)