In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
# Reading vaccination data in df
df = pd.read_csv('vaccine_data_new.csv')
df

,S No,State_Code,State,District_Key,Cowin Key,District,16/01/2021,16/01/2021.1,16/01/2021.2,16/01/2021.3,...,01/09/2021,01/09/2021.1,01/09/2021.2,01/09/2021.3,01/09/2021.4,01/09/2021.5,01/09/2021.6,01/09/2021.7,01/09/2021.8,01/09/2021.9
0,1.0,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobar,Nicobars,745.0,0.0,0.0,0.0,...,1433521,1262,10,22234,8326,16468,14090,2,0,30560
1,2.0,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,North and Middle Andaman,1496.0,0.0,0.0,0.0,...,104841,4406,18,73655,31186,54856,49972,13,0,104841
2,3.0,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,South Andaman,6028.0,2.0,2.0,23.0,...,229879,15704,25,163017,66862,123444,106397,38,1,229879
3,4.0,AP,Andhra Pradesh,AP_Anantapur,Anantapur,Anantapur,20781.0,28.0,26.0,287.0,...,2471041,416660,372,1678857,792184,1141050,1328828,1163,342472,2128569
4,5.0,AP,Andhra Pradesh,AP_Chittoor,Chittoor,Chittoor,26285.0,63.0,31.0,424.0,...,2774228,370134,436,1935756,838472,1288979,1484856,393,436745,2322388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,751.0,WB,West Bengal,WB_Purulia,Purulia,Purulia,18395.0,1.0,1.0,31.0,...,957812,60500,217,689952,267860,508759,448907,146,132217,825595
750,752.0,WB,West Bengal,WB_Birbhum,Rampurhat HD (Birbhum),Birbhum,4685.0,0.0,0.0,1.0,...,612157,54198,248,445297,166860,284440,327614,103,74282,537875
751,753.0,WB,West Bengal,WB_South 24 Parganas,South 24 Parganas,South 24 Parganas,24722.0,6.0,6.0,14.0,...,2206458,183463,421,1616155,590303,1142488,1063614,356,182772,2023686
752,754.0,WB,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,Uttar Dinajpur,0.0,0.0,0.0,0.0,...,873498,70159,131,651975,221523,475245,398040,213,126507,746991
753,755.0,WB,West Bengal,WB_Paschim Bardhaman,West Bardhaman,Paschim Bardhaman,22782.0,2.0,2.0,62.0,...,1304227,66471,156,973371,330856,714378,589599,250,140487,1163385

In [3]:
# Reading Population Census data in census_df
census_df = pd.read_excel('DDW_PCA0000_2011_Indiastatedist.xlsx')
census_df

,State,District,Subdistt,Town/Village,Ward,EB,Level,Name,TRU,No_HH,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
0,0,0,0,0,0,0,India,India,Total,249501663,...,5820403,1420348,491424,928924,5518450,3082613,2435837,728966109,291330383,437635726
1,0,0,0,0,0,0,India,India,Rural,168612897,...,5640822,1154975,386077,768898,3803400,1972348,1831052,485005760,200944045,284061715
2,0,0,0,0,0,0,India,India,Urban,80888766,...,179581,265373,105347,160026,1715050,1110265,604785,243960349,90386338,153574011
3,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Total,2119718,...,44570,26585,6780,19805,108457,56880,51577,8218589,3445572,4773017
4,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Rural,1553433,...,40936,21963,5757,16206,89232,45625,43607,5994979,2562471,3432508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,35,639,0,0,0,0,DISTRICT,North & Middle Andaman,Rural,25475,...,119,30,21,9,1047,654,393,65311,23633,41678
2024,35,639,0,0,0,0,DISTRICT,North & Middle Andaman,Urban,724,...,1,0,0,0,70,43,27,1707,616,1091
2025,35,640,0,0,0,0,DISTRICT,South Andaman,Total,59064,...,63,48,24,24,1311,933,378,141311,49720,91591
2026,35,640,0,0,0,0,DISTRICT,South Andaman,Rural,23767,...,62,42,20,22,777,550,227,57596,19971,37625
2027,35,640,0,0,0,0,DISTRICT,South Andaman,Urban,35297,...,1,6,4,2,534,383,151,83715,29749,53966

In [4]:
# Creating a temporary Dataframe for storing district_wise first dose and second dose data
newdf = pd.DataFrame()
newdf['State'] = df['State']
newdf['District'] = df['District']
newdf['District_Key'] = df['District_Key']
newdf

,State,District,District_Key
0,Andaman and Nicobar Islands,Nicobars,AN_Nicobars
1,Andaman and Nicobar Islands,North and Middle Andaman,AN_North and Middle Andaman
2,Andaman and Nicobar Islands,South Andaman,AN_South Andaman
3,Andhra Pradesh,Anantapur,AP_Anantapur
4,Andhra Pradesh,Chittoor,AP_Chittoor
...,...,...,...
749,West Bengal,Purulia,WB_Purulia
750,West Bengal,Birbhum,WB_Birbhum
751,West Bengal,South 24 Parganas,WB_South 24 Parganas
752,West Bengal,Uttar Dinajpur,WB_Uttar Dinajpur
753,West Bengal,Paschim Bardhaman,WB_Paschim Bardhaman

In [5]:
newdf.drop_duplicates(inplace=True)

In [6]:
newdf

,State,District,District_Key
0,Andaman and Nicobar Islands,Nicobars,AN_Nicobars
1,Andaman and Nicobar Islands,North and Middle Andaman,AN_North and Middle Andaman
2,Andaman and Nicobar Islands,South Andaman,AN_South Andaman
3,Andhra Pradesh,Anantapur,AP_Anantapur
4,Andhra Pradesh,Chittoor,AP_Chittoor
...,...,...,...
745,West Bengal,Purba Medinipur,WB_Purba Medinipur
747,West Bengal,Paschim Medinipur,WB_Paschim Medinipur
749,West Bengal,Purulia,WB_Purulia
752,West Bengal,Uttar Dinajpur,WB_Uttar Dinajpur
753,West Bengal,Paschim Bardhaman,WB_Paschim Bardhaman

In [7]:
# As the vaccination data is cumulative so to find the number of female/males vaccinated of a district only taking the last 
# date's data is enough.
# Taking 14 August 2021 as standard last date for entire assignment.
vaccine_df_copy = df.copy()

#Converting last date number of female/male vaccinated columns to numeric

vaccine_df_copy['14/08/2021.5'] = pd.to_numeric(vaccine_df_copy['14/08/2021.5'])
vaccine_df_copy['14/08/2021.6'] = pd.to_numeric(vaccine_df_copy['14/08/2021.6'])
vaccine_df_copy

,S No,State_Code,State,District_Key,Cowin Key,District,16/01/2021,16/01/2021.1,16/01/2021.2,16/01/2021.3,...,01/09/2021,01/09/2021.1,01/09/2021.2,01/09/2021.3,01/09/2021.4,01/09/2021.5,01/09/2021.6,01/09/2021.7,01/09/2021.8,01/09/2021.9
0,1.0,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobar,Nicobars,745.0,0.0,0.0,0.0,...,1433521,1262,10,22234,8326,16468,14090,2,0,30560
1,2.0,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,North and Middle Andaman,1496.0,0.0,0.0,0.0,...,104841,4406,18,73655,31186,54856,49972,13,0,104841
2,3.0,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,South Andaman,6028.0,2.0,2.0,23.0,...,229879,15704,25,163017,66862,123444,106397,38,1,229879
3,4.0,AP,Andhra Pradesh,AP_Anantapur,Anantapur,Anantapur,20781.0,28.0,26.0,287.0,...,2471041,416660,372,1678857,792184,1141050,1328828,1163,342472,2128569
4,5.0,AP,Andhra Pradesh,AP_Chittoor,Chittoor,Chittoor,26285.0,63.0,31.0,424.0,...,2774228,370134,436,1935756,838472,1288979,1484856,393,436745,2322388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,751.0,WB,West Bengal,WB_Purulia,Purulia,Purulia,18395.0,1.0,1.0,31.0,...,957812,60500,217,689952,267860,508759,448907,146,132217,825595
750,752.0,WB,West Bengal,WB_Birbhum,Rampurhat HD (Birbhum),Birbhum,4685.0,0.0,0.0,1.0,...,612157,54198,248,445297,166860,284440,327614,103,74282,537875
751,753.0,WB,West Bengal,WB_South 24 Parganas,South 24 Parganas,South 24 Parganas,24722.0,6.0,6.0,14.0,...,2206458,183463,421,1616155,590303,1142488,1063614,356,182772,2023686
752,754.0,WB,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,Uttar Dinajpur,0.0,0.0,0.0,0.0,...,873498,70159,131,651975,221523,475245,398040,213,126507,746991
753,755.0,WB,West Bengal,WB_Paschim Bardhaman,West Bardhaman,Paschim Bardhaman,22782.0,2.0,2.0,62.0,...,1304227,66471,156,973371,330856,714378,589599,250,140487,1163385

In [8]:
newdf.reset_index(drop=True,inplace=True)

In [9]:
newdf

,State,District,District_Key
0,Andaman and Nicobar Islands,Nicobars,AN_Nicobars
1,Andaman and Nicobar Islands,North and Middle Andaman,AN_North and Middle Andaman
2,Andaman and Nicobar Islands,South Andaman,AN_South Andaman
3,Andhra Pradesh,Anantapur,AP_Anantapur
4,Andhra Pradesh,Chittoor,AP_Chittoor
...,...,...,...
724,West Bengal,Purba Medinipur,WB_Purba Medinipur
725,West Bengal,Paschim Medinipur,WB_Paschim Medinipur
726,West Bengal,Purulia,WB_Purulia
727,West Bengal,Uttar Dinajpur,WB_Uttar Dinajpur
728,West Bengal,Paschim Bardhaman,WB_Paschim Bardhaman

In [10]:
# Creating null columns for storing number of males/females vaccinated data in future
newdf['Males_Vaccinated'] = np.nan
newdf['Females_Vaccinated'] = np.nan
newdf

,State,District,District_Key,Males_Vaccinated,Females_Vaccinated
0,Andaman and Nicobar Islands,Nicobars,AN_Nicobars,NaN,NaN
1,Andaman and Nicobar Islands,North and Middle Andaman,AN_North and Middle Andaman,NaN,NaN
2,Andaman and Nicobar Islands,South Andaman,AN_South Andaman,NaN,NaN
3,Andhra Pradesh,Anantapur,AP_Anantapur,NaN,NaN
4,Andhra Pradesh,Chittoor,AP_Chittoor,NaN,NaN
...,...,...,...,...,...
724,West Bengal,Purba Medinipur,WB_Purba Medinipur,NaN,NaN
725,West Bengal,Paschim Medinipur,WB_Paschim Medinipur,NaN,NaN
726,West Bengal,Purulia,WB_Purulia,NaN,NaN
727,West Bengal,Uttar Dinajpur,WB_Uttar Dinajpur,NaN,NaN
728,West Bengal,Paschim Bardhaman,WB_Paschim Bardhaman,NaN,NaN

In [11]:
# We can see below that using just district key for identifying unique district is not enough in some cases
# So we have to add vaccine data for such district to calculate actual number of first/second doses
vaccine_df_copy[vaccine_df_copy['District_Key'] == 'GJ_Gandhinagar']

,S No,State_Code,State,District_Key,Cowin Key,District,16/01/2021,16/01/2021.1,16/01/2021.2,16/01/2021.3,...,01/09/2021,01/09/2021.1,01/09/2021.2,01/09/2021.3,01/09/2021.4,01/09/2021.5,01/09/2021.6,01/09/2021.7,01/09/2021.8,01/09/2021.9
172,173.0,GJ,Gujarat,GJ_Gandhinagar,Gandhinagar,Gandhinagar,11989.0,1.0,1.0,5.0,...,891442,47321,231,686840,204602,478194,413129,119,62801,828641
173,174.0,GJ,Gujarat,GJ_Gandhinagar,Gandhinagar Corporation,Gandhinagar,2800.0,1.0,1.0,29.0,...,457598,16140,381,331139,126459,256987,200526,85,47281,410317

In [12]:
# Filling number of males/females vaccinated data from vaccination data (vaccine_df_copy) also as mentioned earlier 
# adding the vaccine data for districts with multiple entries (example: Gandhinagar and Gandhinagar Corporation) by suming both values
for i in range(len(newdf)):
    try:
        tempdf = vaccine_df_copy[(vaccine_df_copy['State'] == newdf.iloc[i,0])&(vaccine_df_copy['District'] == newdf.iloc[i,1])]
        sumdf = tempdf.sum(axis=0)
        newdf.iloc[i,3] = pd.to_numeric(sumdf.loc['14/08/2021.5'])
        newdf.iloc[i,4] = pd.to_numeric(sumdf.loc['14/08/2021.6'])
    except:
        print(newdf.iloc[i,0],' ',newdf.iloc[i,1])
newdf

,State,District,District_Key,Males_Vaccinated,Females_Vaccinated
0,Andaman and Nicobar Islands,Nicobars,AN_Nicobars,16267.0,13922.0
1,Andaman and Nicobar Islands,North and Middle Andaman,AN_North and Middle Andaman,50819.0,46493.0
2,Andaman and Nicobar Islands,South Andaman,AN_South Andaman,108324.0,94124.0
3,Andhra Pradesh,Anantapur,AP_Anantapur,893118.0,1067715.0
4,Andhra Pradesh,Chittoor,AP_Chittoor,1004937.0,1201195.0
...,...,...,...,...,...
724,West Bengal,Purba Medinipur,WB_Purba Medinipur,1110995.0,1099904.0
725,West Bengal,Paschim Medinipur,WB_Paschim Medinipur,735054.0,593166.0
726,West Bengal,Purulia,WB_Purulia,418785.0,368255.0
727,West Bengal,Uttar Dinajpur,WB_Uttar Dinajpur,386259.0,327606.0
728,West Bengal,Paschim Bardhaman,WB_Paschim Bardhaman,587059.0,457639.0

In [13]:
newdf.isnull().sum()

State                 0
District              0
District_Key          0
Males_Vaccinated      0
Females_Vaccinated    0
dtype: int64

In [14]:
#Lowering the case of the district names and changing their names according to census data
newdf['District'] = newdf['District'].str.lower()
newdf

,State,District,District_Key,Males_Vaccinated,Females_Vaccinated
0,Andaman and Nicobar Islands,nicobars,AN_Nicobars,16267.0,13922.0
1,Andaman and Nicobar Islands,north and middle andaman,AN_North and Middle Andaman,50819.0,46493.0
2,Andaman and Nicobar Islands,south andaman,AN_South Andaman,108324.0,94124.0
3,Andhra Pradesh,anantapur,AP_Anantapur,893118.0,1067715.0
4,Andhra Pradesh,chittoor,AP_Chittoor,1004937.0,1201195.0
...,...,...,...,...,...
724,West Bengal,purba medinipur,WB_Purba Medinipur,1110995.0,1099904.0
725,West Bengal,paschim medinipur,WB_Paschim Medinipur,735054.0,593166.0
726,West Bengal,purulia,WB_Purulia,418785.0,368255.0
727,West Bengal,uttar dinajpur,WB_Uttar Dinajpur,386259.0,327606.0
728,West Bengal,paschim bardhaman,WB_Paschim Bardhaman,587059.0,457639.0

In [15]:
# As many district's in vaccination and census data have different spellings so we need to convert any one to match other
# this function maps the name of districts from vaccination data to names of same district in census data
# this will be used to change names of vaccination data 

def corrected_name( x ):
    if(x=="ahmedabad"):
        x = "ahmadabad"
    if(x=="ahmednagar"):
        x = "ahmadnagar"
    if(x=="bagalkote"):
        x = "bagalkot"
    if(x=="bandipora"):
        x = "bandipore"
    if(x=="barabanki"):
        x = "bara banki"
    if(x=="buldhana"):
        x = "buldana"
    if(x=="chikkamagaluru"):
        x = "chikmagalur"
    if(x=="chittorgarh"):
        x = "chittaurgarh"
    if(x=="dadra and nagar haveli"):
        x = "dadra & nagar haveli"
    if(x=="darjeeling"):
        x = "darjiling"
    if(x=="dahod"):
        x = "dohad"
    if(x=="gurugram"):
        x = "gurgaon"
    if(x=="haridwar"):
        x = "hardwar"
    if(x=="janjgir champa"):
        x = "janjgir - champa"
    if(x=="kanyakumari"):
        x = "kanniyakumari"
    if(x=="khandwa"):
        x = "khandwa (east nimar)"
    if(x=="khargone"):
        x = "khargone (west nimar)"
    if(x=="kutch"):
        x = "kachchh"
    if(x=="lahaul and spiti"):
        x = "lahul & spiti"
    if(x=="leh"):
        x = "leh(ladakh)"
    if(x=="mahabubnagar"):
        x = "mahbubnagar"
    if(x=="mysuru"):
        x = "mysore"
    if(x=="north 24 parganas"):
        x = "north twenty four parganas"
    if(x=="south 24 parganas"):
        x = "south twenty four parganas"
    if(x=="north and middle andaman"):
        x = "north  & middle andaman"
    if(x=="panchmahal"):
        x = "panch mahals"
    if(x=="shopiyan"):
        x = "shupiyan"
    if(x=="y.s.r. kadapa"):
        x = "y.s.r."
    if(x=="bengaluru urban"):
        x = "bangalore"
    if(x=="aizwal"):
        x = "aizawl"
    if(x=="rae bareilly"):
        x = "rae bareli"
    if(x=='angul'):
        x = 'anugul'
    if(x=='ashok nagar'):
        x = 'ashoknagar'
    if(x=='budgam'):
        x = 'badgam'
    if(x=='bageshwar'):
        x = 'baleshwar'
    if(x=='banaskantha'):
        x = 'banas kantha'
    if(x=='bengaluru rural'):
        x = 'bangalore rural'
    if(x=='bangalore urban'):
        x = 'bengaluru urban'
    if(x=='baramulla'):
        x = 'baramula'
    if(x=='boudh'):
        x = 'baudh'
    if(x=='belagavi'):
        x = 'belgaum'
    if(x=='ballari'):
        x = 'bellary'
    if(x=='bametara'):
        x = 'bemetara'
    if(x=='beed'):
        x = 'bid'
    if(x=='biswanath'):
        x = 'bishwanath'
    if(x=='chamarajanagara'):
        x = 'chamarajanagar'
    if(x=='dantewada'):
        x = 'dakshin bastar dantewada'
    if(x=='deogarh'):
        x = 'debagarh'
    if(x=='devbhumi dwarka'):
        x = 'devbhumi dwaraka'
    if(x=='dholpur'):
        x = 'dhaulpur'
#     if(x=='east delhi'):
#         x = "delhi"
    if(x=='east karbi anglong'):
        x = 'karbi anglong'
    if(x=='ayodhya'):
        x = 'faizabad'
    if(x=='fategarh sahib'):
        x = 'fatehgarh sahib'
    if(x=='ferozepur'):
        x = 'firozpur'
    if(x=='gondia'):
        x = 'gondiya'
    if(x=='hooghly'):
        x = 'hugli'
    if(x=='jagatsinghpur'):
        x = 'jagatsinghapur'
    if(x=='jajpur'):
        x = 'jajapur'
    if(x=='jalore'):
        x = 'jalor'
    if(x=='janjgir-champa'):
        x = 'janjgir champa'
    if(x=='jhunjhunu'):
        x = 'jhunjhunun'
    if(x=='amroha'):
        x = 'jyotiba phule nagar'
    if(x=='kabirdham'):
        x = 'kabeerdham'
    if(x=='kaimur'):
        x = 'kaimur (bhabua)'
    if(x=='kanchipuram'):
        x = 'kancheepuram'
    if(x=='lakhimpur kheri'):
        x = 'kheri'
    if(x=='cooch behar'):
        x = 'koch bihar'
    if(x=='koderma'):
        x = 'kodarma'
    if(x=='komaram bheem'):
        x = 'komram bheem'
    if(x=='konkan division'): #not found
        x = 'konkan division'
    if(x=='lahul and spiti'):
        x = 'lahaul and spiti'
    if(x=='mehsana'):
        x = 'mahesana'
    if(x=='maharajganj'):
        x = 'mahrajganj'
    if(x=='malda'):
        x = 'maldah'
    if(x=='marigaon'):
        x = 'morigaon'
    if(x=='medchal–malkajgiri'):
        x = 'medchal malkajgiri'
    if(x=='sri muktsar sahib'): #not found
        x = 'muktsar'
#     if(x=='mumbai city'):
#         x = 'mumbai'
#     if x== 'mumbai suburban':
#         x = 'mumbai'
    if x== 'nandubar':
        x = 'nandurbar'
    if x== 'narsinghpur':
        x = 'narsimhapur'
    if x== 'nav sari':
        x = 'navsari'
#     if x=='new delhi' :
#         x = 'delhi'
    if x== 'noklak': #not found
        x = 'noklak'
#     if x== 'north delhi':
#         x = 'delhi'
#     if x== 'north east delhi':
#         x = 'delhi'
#     if x== 'north west delhi':
#         x = 'delhi'
    if x== 'pakaur':
        x = 'pakur'
    if x== 'palghat':
        x = 'palghar'
    if x== 'panch mahal':
        x = 'panchmahal'
    if x== 'west champaran':
        x = 'pashchim champaran'
    if x== 'west singhbhum':
        x = 'pashchimi singhbhum'
    if x== 'pattanamtitta':
        x = 'pathanamthitta'
    if x== 'east champaran':
        x = 'purba champaran'
    if x== 'east singhbhum':
        x = 'purbi singhbhum'
    if x== 'purulia':
        x = 'puruliya'
    if x== 'rajauri':
        x = 'rajouri'
    if x== 'ranga reddy':
        x = 'rangareddy'
    if x== 'ri-bhoi':
        x = 'ribhoi'
    if x== 'sabarkantha':
        x = 'sabar kantha'
    if x== 's.a.s. nagar':
        x = 'sahibzada ajit singh nagar'
    if x== 'sait kibir nagar':
        x = 'sant kabir nagar'
    if x== 'bhadohi':
        x = 'sant ravidas nagar (bhadohi)'
    if x== 'sepahijala':
        x = 'sipahijala'
    if x== 'seraikela kharsawan':
        x = 'saraikela-kharsawan'
    if x== 'shahdara': #not found
        x = 'shahdara'
    if x== 'shaheed bhagat singh nagar':
        x = 'shahid bhagat singh nagar'
    if x== 'sharawasti':
        x = 'shrawasti'
    if x== 'shivamogga':
        x = 'shimoga'
    if x== 'shopian':
        x = 'shopiyan'
    if x== 'siddharth nagar':
        x = 'siddharthnagar'
    if x== 'sivagangai':
        x = 'sivaganga'
    if x== 'sonapur':
        x = 'subarnapur'
#     if x== 'south delhi':
#         x = 'delhi'
#     if x== 'south east delhi':
#         x = 'delhi'
    if x== 'south salmara-mankachar':
        x = 'south salmara mankachar'
#     if x== 'south west delhi':
#         x = 'delhi'
    if x== 'sri ganganagar':
        x = 'ganganagar'
    if x== 's.p.s. nellore':
        x = 'sri potti sriramulu nellore'
    if x== 'dang':
        x = 'the dangs'
    if x== 'nilgiris':
        x = 'the nilgiris'
    if x== 'thoothukudi':
        x = 'thoothukkudi'
    if x== 'tiruchchirappalli':
        x = 'tiruchirappalli'
    if x== 'tirunelveli kattabo':
        x = 'tirunelveli'
    if x== 'tiruvanamalai':
        x = 'tiruvannamalai'
    if x== 'tumakuru':
        x = 'tumkur'
    if x== 'west delhi':
        x = 'delhi'
    if x== 'yadagiri':
        x = 'yadadri bhuvanagiri'
    return x

In [16]:
# Using above function to map district names
newdf['District'] = newdf['District'].apply(corrected_name)
newdf

,State,District,District_Key,Males_Vaccinated,Females_Vaccinated
0,Andaman and Nicobar Islands,nicobars,AN_Nicobars,16267.0,13922.0
1,Andaman and Nicobar Islands,north & middle andaman,AN_North and Middle Andaman,50819.0,46493.0
2,Andaman and Nicobar Islands,south andaman,AN_South Andaman,108324.0,94124.0
3,Andhra Pradesh,anantapur,AP_Anantapur,893118.0,1067715.0
4,Andhra Pradesh,chittoor,AP_Chittoor,1004937.0,1201195.0
...,...,...,...,...,...
724,West Bengal,purba medinipur,WB_Purba Medinipur,1110995.0,1099904.0
725,West Bengal,paschim medinipur,WB_Paschim Medinipur,735054.0,593166.0
726,West Bengal,puruliya,WB_Purulia,418785.0,368255.0
727,West Bengal,uttar dinajpur,WB_Uttar Dinajpur,386259.0,327606.0
728,West Bengal,paschim bardhaman,WB_Paschim Bardhaman,587059.0,457639.0

In [17]:
# Separating district population data from complete census data
district_census = census_df[census_df['Level'] == 'DISTRICT']
district_census

,State,District,Subdistt,Town/Village,Ward,EB,Level,Name,TRU,No_HH,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
6,1,1,0,0,0,0,DISTRICT,Kupwara,Total,113929,...,1955,1216,597,619,7369,4727,2642,641290,283291,357999
7,1,1,0,0,0,0,DISTRICT,Kupwara,Rural,101930,...,1893,1130,556,574,6644,4149,2495,569632,250046,319586
8,1,1,0,0,0,0,DISTRICT,Kupwara,Urban,11999,...,62,86,41,45,725,578,147,71658,33245,38413
9,1,2,0,0,0,0,DISTRICT,Badgam,Total,103363,...,2035,3823,1148,2675,4674,2393,2281,538879,235463,303416
10,1,2,0,0,0,0,DISTRICT,Badgam,Rural,89417,...,2000,3652,1107,2545,3585,1740,1845,474065,208816,265249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,35,639,0,0,0,0,DISTRICT,North & Middle Andaman,Rural,25475,...,119,30,21,9,1047,654,393,65311,23633,41678
2024,35,639,0,0,0,0,DISTRICT,North & Middle Andaman,Urban,724,...,1,0,0,0,70,43,27,1707,616,1091
2025,35,640,0,0,0,0,DISTRICT,South Andaman,Total,59064,...,63,48,24,24,1311,933,378,141311,49720,91591
2026,35,640,0,0,0,0,DISTRICT,South Andaman,Rural,23767,...,62,42,20,22,777,550,227,57596,19971,37625
2027,35,640,0,0,0,0,DISTRICT,South Andaman,Urban,35297,...,1,6,4,2,534,383,151,83715,29749,53966

In [18]:
# Lowering the case of the names of the district in census data so that they can match with our vaccination data
district_census['Name'] = district_census['Name'].str.lower()
district_census['Name'] = district_census['Name'].str.strip()
district_census

C:\Users\CHABIL~1\AppData\Local\Temp/ipykernel_12544/3332354619.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  district_census['Name'] = district_census['Name'].str.lower()
C:\Users\CHABIL~1\AppData\Local\Temp/ipykernel_12544/3332354619.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  district_census['Name'] = district_census['Name'].str.strip()

,State,District,Subdistt,Town/Village,Ward,EB,Level,Name,TRU,No_HH,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
6,1,1,0,0,0,0,DISTRICT,kupwara,Total,113929,...,1955,1216,597,619,7369,4727,2642,641290,283291,357999
7,1,1,0,0,0,0,DISTRICT,kupwara,Rural,101930,...,1893,1130,556,574,6644,4149,2495,569632,250046,319586
8,1,1,0,0,0,0,DISTRICT,kupwara,Urban,11999,...,62,86,41,45,725,578,147,71658,33245,38413
9,1,2,0,0,0,0,DISTRICT,badgam,Total,103363,...,2035,3823,1148,2675,4674,2393,2281,538879,235463,303416
10,1,2,0,0,0,0,DISTRICT,badgam,Rural,89417,...,2000,3652,1107,2545,3585,1740,1845,474065,208816,265249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,35,639,0,0,0,0,DISTRICT,north & middle andaman,Rural,25475,...,119,30,21,9,1047,654,393,65311,23633,41678
2024,35,639,0,0,0,0,DISTRICT,north & middle andaman,Urban,724,...,1,0,0,0,70,43,27,1707,616,1091
2025,35,640,0,0,0,0,DISTRICT,south andaman,Total,59064,...,63,48,24,24,1311,933,378,141311,49720,91591
2026,35,640,0,0,0,0,DISTRICT,south andaman,Rural,23767,...,62,42,20,22,777,550,227,57596,19971,37625
2027,35,640,0,0,0,0,DISTRICT,south andaman,Urban,35297,...,1,6,4,2,534,383,151,83715,29749,53966

In [19]:
# Creating  a null columns for storing the population data in future
newdf['Male_Pop'] = np.nan
newdf['Female_Pop'] = np.nan
newdf

,State,District,District_Key,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop
0,Andaman and Nicobar Islands,nicobars,AN_Nicobars,16267.0,13922.0,NaN,NaN
1,Andaman and Nicobar Islands,north & middle andaman,AN_North and Middle Andaman,50819.0,46493.0,NaN,NaN
2,Andaman and Nicobar Islands,south andaman,AN_South Andaman,108324.0,94124.0,NaN,NaN
3,Andhra Pradesh,anantapur,AP_Anantapur,893118.0,1067715.0,NaN,NaN
4,Andhra Pradesh,chittoor,AP_Chittoor,1004937.0,1201195.0,NaN,NaN
...,...,...,...,...,...,...,...
724,West Bengal,purba medinipur,WB_Purba Medinipur,1110995.0,1099904.0,NaN,NaN
725,West Bengal,paschim medinipur,WB_Paschim Medinipur,735054.0,593166.0,NaN,NaN
726,West Bengal,puruliya,WB_Purulia,418785.0,368255.0,NaN,NaN
727,West Bengal,uttar dinajpur,WB_Uttar Dinajpur,386259.0,327606.0,NaN,NaN
728,West Bengal,paschim bardhaman,WB_Paschim Bardhaman,587059.0,457639.0,NaN,NaN

In [20]:
newdf.reset_index(drop=True,inplace=True)
newdf

,State,District,District_Key,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop
0,Andaman and Nicobar Islands,nicobars,AN_Nicobars,16267.0,13922.0,NaN,NaN
1,Andaman and Nicobar Islands,north & middle andaman,AN_North and Middle Andaman,50819.0,46493.0,NaN,NaN
2,Andaman and Nicobar Islands,south andaman,AN_South Andaman,108324.0,94124.0,NaN,NaN
3,Andhra Pradesh,anantapur,AP_Anantapur,893118.0,1067715.0,NaN,NaN
4,Andhra Pradesh,chittoor,AP_Chittoor,1004937.0,1201195.0,NaN,NaN
...,...,...,...,...,...,...,...
724,West Bengal,purba medinipur,WB_Purba Medinipur,1110995.0,1099904.0,NaN,NaN
725,West Bengal,paschim medinipur,WB_Paschim Medinipur,735054.0,593166.0,NaN,NaN
726,West Bengal,puruliya,WB_Purulia,418785.0,368255.0,NaN,NaN
727,West Bengal,uttar dinajpur,WB_Uttar Dinajpur,386259.0,327606.0,NaN,NaN
728,West Bengal,paschim bardhaman,WB_Paschim Bardhaman,587059.0,457639.0,NaN,NaN

### Below Cell shows that there are same name districts in our data (newdf) so after filling the population data from district census we have to manually correct some population values later

In [21]:
val_count = newdf['District'].value_counts()

val_count[val_count>1]

balrampur     2
hamirpur      2
bilaspur      2
pratapgarh    2
aurangabad    2
Name: District, dtype: int64

In [22]:
# Filling the population values from district_census data in our newdf
# Also printing the names of the district's not present in census data
for i in newdf.index:
    try:
        newdf.iloc[i,6] = int(district_census[district_census['Name'] == newdf.iloc[i,1].strip()].iloc[0]['TOT_F'])
        newdf.iloc[i,5] = int(district_census[district_census['Name'] == newdf.iloc[i,1].strip()].iloc[0]['TOT_M'])
    except:
        print(newdf.iloc[i,1])

upper dibang valley
kamle
kra daadi
lepa rada
longding
lower siang
namsai
pakke kessang
shi yomi
siang
bishwanath
charaideo
hojai
majuli
south salmara mankachar
west karbi anglong
balod
baloda bazar
bemetara
gariaband
gaurela pendra marwahi
kondagaon
mungeli
sukma
surajpur
central delhi
east delhi
north delhi
north east delhi
north west delhi
shahdara
south delhi
south east delhi
south west delhi
delhi
aravalli
botad
chhota udaipur
devbhumi dwaraka
gir somnath
mahisagar
morbi
charkhi dadri
nuh
kalaburagi
vijayapura
agar malwa
palghar
raigad
jiribam
kakching
kamjong
kangpokpi
noney
pherzawl
tengnoupal
east jaintia hills
north garo hills
south west garo hills
south west khasi hills
west jaintia hills
balasore
fazilka
pathankot
east sikkim
north sikkim
south sikkim
west sikkim
chengalpattu
kallakurichi
ranipet
tenkasi
tirupathur
bhadradri kothagudem
jagtial
jangaon
jayashankar bhupalapally
jogulamba gadwal
kamareddy
komram bheem
mahabubabad
mancherial
medchal malkajgiri
mulugu
nagarkurnool
narayanpet
nirmal
peddapalli
rajanna sircilla
sangareddy
siddipet
suryapet
vikarabad
wanaparthy
warangal rural
warangal urban
yadadri bhuvanagiri
gomati
khowai
sipahijala
unokoti
amethi
hapur
hathras
kasganj
prayagraj
sambhal
shamli
pauri garhwal
alipurduar
purba bardhaman
howrah
jhargram
kalimpong
paschim bardhaman

In [23]:
newdf

,State,District,District_Key,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop
0,Andaman and Nicobar Islands,nicobars,AN_Nicobars,16267.0,13922.0,20727.0,16115.0
1,Andaman and Nicobar Islands,north & middle andaman,AN_North and Middle Andaman,50819.0,46493.0,54861.0,50736.0
2,Andaman and Nicobar Islands,south andaman,AN_South Andaman,108324.0,94124.0,127283.0,110859.0
3,Andhra Pradesh,anantapur,AP_Anantapur,893118.0,1067715.0,2064495.0,2016653.0
4,Andhra Pradesh,chittoor,AP_Chittoor,1004937.0,1201195.0,2090204.0,2083860.0
...,...,...,...,...,...,...,...
724,West Bengal,purba medinipur,WB_Purba Medinipur,1110995.0,1099904.0,2629834.0,2466041.0
725,West Bengal,paschim medinipur,WB_Paschim Medinipur,735054.0,593166.0,3007885.0,2905572.0
726,West Bengal,puruliya,WB_Purulia,418785.0,368255.0,1496996.0,1433119.0
727,West Bengal,uttar dinajpur,WB_Uttar Dinajpur,386259.0,327606.0,1551066.0,1456068.0
728,West Bengal,paschim bardhaman,WB_Paschim Bardhaman,587059.0,457639.0,NaN,NaN

In [24]:
newdf.isnull().sum()

State                   0
District                0
District_Key            0
Males_Vaccinated        0
Females_Vaccinated      0
Male_Pop              115
Female_Pop            115
dtype: int64

In [25]:
# Deleting the rows of the district that are not present in census data
district_result_df = newdf.dropna()
district_result_df

,State,District,District_Key,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop
0,Andaman and Nicobar Islands,nicobars,AN_Nicobars,16267.0,13922.0,20727.0,16115.0
1,Andaman and Nicobar Islands,north & middle andaman,AN_North and Middle Andaman,50819.0,46493.0,54861.0,50736.0
2,Andaman and Nicobar Islands,south andaman,AN_South Andaman,108324.0,94124.0,127283.0,110859.0
3,Andhra Pradesh,anantapur,AP_Anantapur,893118.0,1067715.0,2064495.0,2016653.0
4,Andhra Pradesh,chittoor,AP_Chittoor,1004937.0,1201195.0,2090204.0,2083860.0
...,...,...,...,...,...,...,...
723,West Bengal,nadia,WB_Nadia,732551.0,688465.0,2653768.0,2513832.0
724,West Bengal,purba medinipur,WB_Purba Medinipur,1110995.0,1099904.0,2629834.0,2466041.0
725,West Bengal,paschim medinipur,WB_Paschim Medinipur,735054.0,593166.0,3007885.0,2905572.0
726,West Bengal,puruliya,WB_Purulia,418785.0,368255.0,1496996.0,1433119.0
727,West Bengal,uttar dinajpur,WB_Uttar Dinajpur,386259.0,327606.0,1551066.0,1456068.0

In [26]:
district_result_df.reset_index(drop=True,inplace=True)

In [27]:
district_result_df

,State,District,District_Key,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop
0,Andaman and Nicobar Islands,nicobars,AN_Nicobars,16267.0,13922.0,20727.0,16115.0
1,Andaman and Nicobar Islands,north & middle andaman,AN_North and Middle Andaman,50819.0,46493.0,54861.0,50736.0
2,Andaman and Nicobar Islands,south andaman,AN_South Andaman,108324.0,94124.0,127283.0,110859.0
3,Andhra Pradesh,anantapur,AP_Anantapur,893118.0,1067715.0,2064495.0,2016653.0
4,Andhra Pradesh,chittoor,AP_Chittoor,1004937.0,1201195.0,2090204.0,2083860.0
...,...,...,...,...,...,...,...
609,West Bengal,nadia,WB_Nadia,732551.0,688465.0,2653768.0,2513832.0
610,West Bengal,purba medinipur,WB_Purba Medinipur,1110995.0,1099904.0,2629834.0,2466041.0
611,West Bengal,paschim medinipur,WB_Paschim Medinipur,735054.0,593166.0,3007885.0,2905572.0
612,West Bengal,puruliya,WB_Purulia,418785.0,368255.0,1496996.0,1433119.0
613,West Bengal,uttar dinajpur,WB_Uttar Dinajpur,386259.0,327606.0,1551066.0,1456068.0

### Duplicate Disticts
Balrampur     
Hamirpur      
Bilaspur      
Pratapgarh    
Aurangabad  
### Manually Correcting duplicate district population values from census csv file

census data contains only balrampur district of Uttar Pradesh so drop balrampur district of Chattisgarh

In [28]:
# census data contains balrampur district of Uttar Pradesh only so dropping  balrampur district of Chattisgarh
district_result_df[(district_result_df['State'] == 'Chhattisgarh') &(district_result_df['District'] == 'balrampur')]

,State,District,District_Key,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop
97,Chhattisgarh,balrampur,CT_Balrampur,123684.0,111025.0,1114721.0,1033944.0

In [29]:
district_result_df.drop([97],axis=0,inplace=True)

c:\users\chabil kansal\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [30]:
district_result_df.reset_index(drop=True,inplace=True)
district_result_df

,State,District,District_Key,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop
0,Andaman and Nicobar Islands,nicobars,AN_Nicobars,16267.0,13922.0,20727.0,16115.0
1,Andaman and Nicobar Islands,north & middle andaman,AN_North and Middle Andaman,50819.0,46493.0,54861.0,50736.0
2,Andaman and Nicobar Islands,south andaman,AN_South Andaman,108324.0,94124.0,127283.0,110859.0
3,Andhra Pradesh,anantapur,AP_Anantapur,893118.0,1067715.0,2064495.0,2016653.0
4,Andhra Pradesh,chittoor,AP_Chittoor,1004937.0,1201195.0,2090204.0,2083860.0
...,...,...,...,...,...,...,...
608,West Bengal,nadia,WB_Nadia,732551.0,688465.0,2653768.0,2513832.0
609,West Bengal,purba medinipur,WB_Purba Medinipur,1110995.0,1099904.0,2629834.0,2466041.0
610,West Bengal,paschim medinipur,WB_Paschim Medinipur,735054.0,593166.0,3007885.0,2905572.0
611,West Bengal,puruliya,WB_Purulia,418785.0,368255.0,1496996.0,1433119.0
612,West Bengal,uttar dinajpur,WB_Uttar Dinajpur,386259.0,327606.0,1551066.0,1456068.0

### Correcting remaining duplicate district population values manually

In [31]:
district_result_df[(district_result_df['State'] == 'Uttar Pradesh') &(district_result_df['District'] == 'hamirpur')]

,State,District,District_Key,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop
548,Uttar Pradesh,hamirpur,UP_Hamirpur,197910.0,165911.0,217070.0,237698.0

In [32]:
district_result_df.iloc[548,5] = 593537
district_result_df.iloc[548,6] = 510748

c:\users\chabil kansal\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [33]:
district_result_df[(district_result_df['State'] == 'Uttar Pradesh') &(district_result_df['District'] == 'hamirpur')]

,State,District,District_Key,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop
548,Uttar Pradesh,hamirpur,UP_Hamirpur,197910.0,165911.0,593537.0,510748.0

In [34]:
district_result_df[(district_result_df['State'] == 'Chhattisgarh') &(district_result_df['District'] == 'bilaspur')]

,State,District,District_Key,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop
99,Chhattisgarh,bilaspur,CT_Bilaspur,388572.0,379882.0,192764.0,189192.0

In [35]:
district_result_df.iloc[99,5] = 1351574
district_result_df.iloc[99,6] = 1312055

c:\users\chabil kansal\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [36]:
district_result_df[(district_result_df['State'] == 'Chhattisgarh') &(district_result_df['District'] == 'bilaspur')]

,State,District,District_Key,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop
99,Chhattisgarh,bilaspur,CT_Bilaspur,388572.0,379882.0,1351574.0,1312055.0

In [37]:
district_result_df[(district_result_df['State'] == 'Uttar Pradesh') &(district_result_df['District'] == 'pratapgarh')]

,State,District,District_Key,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop
571,Uttar Pradesh,pratapgarh,UP_Pratapgarh,368250.0,309171.0,437744.0,430104.0

In [38]:
district_result_df.iloc[571,5] = 1606085
district_result_df.iloc[571,6] = 1603056

c:\users\chabil kansal\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [39]:
district_result_df[(district_result_df['State'] == 'Uttar Pradesh') &(district_result_df['District'] == 'pratapgarh')]

,State,District,District_Key,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop
571,Uttar Pradesh,pratapgarh,UP_Pratapgarh,368250.0,309171.0,1606085.0,1603056.0

In [40]:
district_result_df[(district_result_df['State'] == 'Maharashtra') &(district_result_df['District'] == 'aurangabad')]

,State,District,District_Key,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop
321,Maharashtra,aurangabad,MH_Aurangabad,751545.0,578850.0,1318684.0,1221389.0

In [41]:
district_result_df.iloc[321,5] = 1924469
district_result_df.iloc[321,6] = 1776813

c:\users\chabil kansal\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [42]:
district_result_df[(district_result_df['State'] == 'Maharashtra') &(district_result_df['District'] == 'aurangabad')]

,State,District,District_Key,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop
321,Maharashtra,aurangabad,MH_Aurangabad,751545.0,578850.0,1924469.0,1776813.0

In [43]:
district_result_df

,State,District,District_Key,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop
0,Andaman and Nicobar Islands,nicobars,AN_Nicobars,16267.0,13922.0,20727.0,16115.0
1,Andaman and Nicobar Islands,north & middle andaman,AN_North and Middle Andaman,50819.0,46493.0,54861.0,50736.0
2,Andaman and Nicobar Islands,south andaman,AN_South Andaman,108324.0,94124.0,127283.0,110859.0
3,Andhra Pradesh,anantapur,AP_Anantapur,893118.0,1067715.0,2064495.0,2016653.0
4,Andhra Pradesh,chittoor,AP_Chittoor,1004937.0,1201195.0,2090204.0,2083860.0
...,...,...,...,...,...,...,...
608,West Bengal,nadia,WB_Nadia,732551.0,688465.0,2653768.0,2513832.0
609,West Bengal,purba medinipur,WB_Purba Medinipur,1110995.0,1099904.0,2629834.0,2466041.0
610,West Bengal,paschim medinipur,WB_Paschim Medinipur,735054.0,593166.0,3007885.0,2905572.0
611,West Bengal,puruliya,WB_Purulia,418785.0,368255.0,1496996.0,1433119.0
612,West Bengal,uttar dinajpur,WB_Uttar Dinajpur,386259.0,327606.0,1551066.0,1456068.0

In [44]:
# Calculating the Ratio of number of females vaccinated to number of males vaccinated 
# Also the ratio of population of females to population of male for every district
district_result_df['F_to_M_Vaccination_Ratio'] = district_result_df['Females_Vaccinated'] / district_result_df['Males_Vaccinated']
district_result_df['F_to_M_Population_Ratio'] = district_result_df['Female_Pop'] / district_result_df['Male_Pop']
district_result_df['Ratio_of_Ratios'] = district_result_df['F_to_M_Vaccination_Ratio'] / district_result_df['F_to_M_Population_Ratio']
district_result_df

C:\Users\CHABIL~1\AppData\Local\Temp/ipykernel_12544/3451318542.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  district_result_df['F_to_M_Vaccination_Ratio'] = district_result_df['Females_Vaccinated'] / district_result_df['Males_Vaccinated']
C:\Users\CHABIL~1\AppData\Local\Temp/ipykernel_12544/3451318542.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  district_result_df['F_to_M_Population_Ratio'] = district_result_df['Female_Pop'] / district_result_df['Male_Pop']
C:\Users\CHABIL~1\AppData\Local\Temp/ipykernel_12544/3451318542.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  district_result_df['Ratio_of_Ratios'] = district_result_df['F_to_M_Vaccination_Ratio'] / district_result_df['F_to_M_Population_Ratio']

,State,District,District_Key,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop,F_to_M_Vaccination_Ratio,F_to_M_Population_Ratio,Ratio_of_Ratios
0,Andaman and Nicobar Islands,nicobars,AN_Nicobars,16267.0,13922.0,20727.0,16115.0,0.855843,0.777488,1.100779
1,Andaman and Nicobar Islands,north & middle andaman,AN_North and Middle Andaman,50819.0,46493.0,54861.0,50736.0,0.914874,0.924810,0.989257
2,Andaman and Nicobar Islands,south andaman,AN_South Andaman,108324.0,94124.0,127283.0,110859.0,0.868912,0.870965,0.997643
3,Andhra Pradesh,anantapur,AP_Anantapur,893118.0,1067715.0,2064495.0,2016653.0,1.195492,0.976826,1.223853
4,Andhra Pradesh,chittoor,AP_Chittoor,1004937.0,1201195.0,2090204.0,2083860.0,1.195294,0.996965,1.198933
...,...,...,...,...,...,...,...,...,...,...
608,West Bengal,nadia,WB_Nadia,732551.0,688465.0,2653768.0,2513832.0,0.939819,0.947269,0.992135
609,West Bengal,purba medinipur,WB_Purba Medinipur,1110995.0,1099904.0,2629834.0,2466041.0,0.990017,0.937717,1.055773
610,West Bengal,paschim medinipur,WB_Paschim Medinipur,735054.0,593166.0,3007885.0,2905572.0,0.806969,0.965985,0.835385
611,West Bengal,puruliya,WB_Purulia,418785.0,368255.0,1496996.0,1433119.0,0.879341,0.957330,0.918535
612,West Bengal,uttar dinajpur,WB_Uttar Dinajpur,386259.0,327606.0,1551066.0,1456068.0,0.848151,0.938753,0.903487

In [45]:
district_result_df.drop(['State','District','Males_Vaccinated','Females_Vaccinated','Male_Pop','Female_Pop'],axis=1,inplace = True)
district_result_df

c:\users\chabil kansal\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,District_Key,F_to_M_Vaccination_Ratio,F_to_M_Population_Ratio,Ratio_of_Ratios
0,AN_Nicobars,0.855843,0.777488,1.100779
1,AN_North and Middle Andaman,0.914874,0.924810,0.989257
2,AN_South Andaman,0.868912,0.870965,0.997643
3,AP_Anantapur,1.195492,0.976826,1.223853
4,AP_Chittoor,1.195294,0.996965,1.198933
...,...,...,...,...
608,WB_Nadia,0.939819,0.947269,0.992135
609,WB_Purba Medinipur,0.990017,0.937717,1.055773
610,WB_Paschim Medinipur,0.806969,0.965985,0.835385
611,WB_Purulia,0.879341,0.957330,0.918535
612,WB_Uttar Dinajpur,0.848151,0.938753,0.903487

In [46]:
district_result_df.columns = ['districtid','vaccinationratio', 'populationratio', 'ratioofratios']
district_result_df

,districtid,vaccinationratio,populationratio,ratioofratios
0,AN_Nicobars,0.855843,0.777488,1.100779
1,AN_North and Middle Andaman,0.914874,0.924810,0.989257
2,AN_South Andaman,0.868912,0.870965,0.997643
3,AP_Anantapur,1.195492,0.976826,1.223853
4,AP_Chittoor,1.195294,0.996965,1.198933
...,...,...,...,...
608,WB_Nadia,0.939819,0.947269,0.992135
609,WB_Purba Medinipur,0.990017,0.937717,1.055773
610,WB_Paschim Medinipur,0.806969,0.965985,0.835385
611,WB_Purulia,0.879341,0.957330,0.918535
612,WB_Uttar Dinajpur,0.848151,0.938753,0.903487

In [47]:
#  Saving the result in district-vaccination-population-ratio.csv
district_result_df.to_csv('Outputs/district-vaccination-population-ratio.csv',index=False)

## Now Doing same thing for State Data

In [48]:
# Creating a temporary dataframe to store the vaccination data for each state
newdf = pd.DataFrame()
newdf['State'] = df['State'].unique()
newdf

                                       State
0                Andaman and Nicobar Islands
1                             Andhra Pradesh
2                          Arunachal Pradesh
3                                      Assam
4                                      Bihar
5                                 Chandigarh
6                               Chhattisgarh
7   Dadra and Nagar Haveli and Daman and Diu
8                                      Delhi
9                                        Goa
10                                   Gujarat
11                                   Haryana
12                          Himachal Pradesh
13                         Jammu and Kashmir
14                                 Jharkhand
15                                 Karnataka
16                                    Kerala
17                                    Ladakh
18                               Lakshadweep
19                            Madhya Pradesh
20                               Maharashtra
21                                   Manipur
22                                 Meghalaya
23                                   Mizoram
24                                  Nagaland
25                                    Odisha
26                                Puducherry
27                                    Punjab
28                                 Rajasthan
29                                    Sikkim
30                                Tamil Nadu
31                                 Telangana
32                                   Tripura
33                             Uttar Pradesh
34                               Uttarakhand
35                               West Bengal

In [49]:
# Adding null columns to newdf for vaccination data
newdf['Males_Vaccinated'] = np.nan
newdf['Females_Vaccinated'] = np.nan
newdf

,State,Males_Vaccinated,Females_Vaccinated
0,Andaman and Nicobar Islands,NaN,NaN
1,Andhra Pradesh,NaN,NaN
2,Arunachal Pradesh,NaN,NaN
3,Assam,NaN,NaN
4,Bihar,NaN,NaN
5,Chandigarh,NaN,NaN
6,Chhattisgarh,NaN,NaN
7,Dadra and Nagar Haveli and Daman and Diu,NaN,NaN
8,Delhi,NaN,NaN
9,Goa,NaN,NaN
10,Gujarat,NaN,NaN
11,Haryana,NaN,NaN
12,Himachal Pradesh,NaN,NaN
13,Jammu and Kashmir,NaN,NaN
14,Jharkhand,NaN,NaN
15,Karnataka,NaN,NaN
16,Kerala,NaN,NaN
17,Ladakh,NaN,NaN
18,Lakshadweep,NaN,NaN
19,Madhya Pradesh,NaN,NaN
20,Maharashtra,NaN,NaN
21,Manipur,NaN,NaN
22,Meghalaya,NaN,NaN
23,Mizoram,NaN,NaN
24,Nagaland,NaN,NaN
25,Odisha,NaN,NaN
26,Puducherry,NaN,NaN
27,Punjab,NaN,NaN
28,Rajasthan,NaN,NaN
29,Sikkim,NaN,NaN
30,Tamil Nadu,NaN,NaN
31,Telangana,NaN,NaN
32,Tripura,NaN,NaN
33,Uttar Pradesh,NaN,NaN
34,Uttarakhand,NaN,NaN
35,West Bengal,NaN,NaN

In [50]:
# Filling number of males/females vaccinated data for each state
# As vaccine_df contains data district wise so adding  number of males/females vaccinated of all the district of a state
for i in range(len(newdf)):
    tempdf = vaccine_df_copy[vaccine_df_copy['State'] == newdf.iloc[i,0]]
    sumdf = tempdf.sum(axis=0)
    newdf.iloc[i,1] = pd.to_numeric(sumdf.loc['14/08/2021.5'])
    newdf.iloc[i,2] = pd.to_numeric(sumdf.loc['14/08/2021.6'])
newdf

,State,Males_Vaccinated,Females_Vaccinated
0,Andaman and Nicobar Islands,175410.0,154539.0
1,Andhra Pradesh,11404153.0,13593094.0
2,Arunachal Pradesh,498628.0,401853.0
3,Assam,7316294.0,6554641.0
4,Bihar,16028771.0,13991844.0
5,Chandigarh,557241.0,420544.0
6,Chhattisgarh,6121658.0,6036284.0
7,Dadra and Nagar Haveli and Daman and Diu,459960.0,228702.0
8,Delhi,6617971.0,4895427.0
9,Goa,775729.0,666866.0
10,Gujarat,21750605.0,18085977.0
11,Haryana,7570107.0,6110952.0
12,Himachal Pradesh,3235925.0,3227200.0
13,Jammu and Kashmir,4078026.0,3040382.0
14,Jharkhand,5998147.0,4932484.0
15,Karnataka,17332703.0,17161214.0
16,Kerala,11472595.0,12462142.0
17,Ladakh,148068.0,114265.0
18,Lakshadweep,37963.0,31585.0
19,Madhya Pradesh,20415684.0,17335058.0
20,Maharashtra,26683747.0,22505152.0
21,Manipur,776121.0,663774.0
22,Meghalaya,647136.0,578865.0
23,Mizoram,442818.0,434839.0
24,Nagaland,460630.0,346571.0
25,Odisha,10267227.0,9213425.0
26,Puducherry,376669.0,396699.0
27,Punjab,6075438.0,4847874.0
28,Rajasthan,19697748.0,17810716.0
29,Sikkim,359355.0,299299.0
30,Tamil Nadu,13458669.0,13184098.0
31,Telangana,8395228.0,7827562.0
32,Tripura,1669978.0,1590021.0
33,Uttar Pradesh,32265050.0,25143377.0
34,Uttarakhand,3693299.0,3522364.0
35,West Bengal,18053003.0,16146278.0

In [51]:
# Separating state population data from complete census data
state_census = census_df[census_df['Level'] == 'STATE']
state_census

,State,District,Subdistt,Town/Village,Ward,EB,Level,Name,TRU,No_HH,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
3,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Total,2119718,...,44570,26585,6780,19805,108457,56880,51577,8218589,3445572,4773017
4,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Rural,1553433,...,40936,21963,5757,16206,89232,45625,43607,5994979,2562471,3432508
5,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Urban,566285,...,3634,4622,1023,3599,19225,11255,7970,2223610,883101,1340509
72,2,0,0,0,0,0,STATE,HIMACHAL PRADESH,Total,1483280,...,13195,7676,2959,4717,53557,29186,24371,3305180,1438500,1866680
73,2,0,0,0,0,0,STATE,HIMACHAL PRADESH,Rural,1312510,...,13026,7407,2842,4565,50852,27470,23382,2886666,1273987,1612679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002,34,0,0,0,0,0,STATE,PUDUCHERRY,Rural,95018,...,1908,188,71,117,1713,1029,684,247324,89202,158122
2003,34,0,0,0,0,0,STATE,PUDUCHERRY,Urban,207432,...,281,215,64,151,2905,1802,1103,555661,190378,365283
2016,35,0,0,0,0,0,STATE,ANDAMAN & NICOBAR ISLANDS,Total,94551,...,204,559,282,277,3774,2576,1198,228046,81982,146064
2017,35,0,0,0,0,0,STATE,ANDAMAN & NICOBAR ISLANDS,Rural,58530,...,202,553,278,275,3170,2150,1020,142624,51617,91007
2018,35,0,0,0,0,0,STATE,ANDAMAN & NICOBAR ISLANDS,Urban,36021,...,2,6,4,2,604,426,178,85422,30365,55057

In [52]:
newdf

,State,Males_Vaccinated,Females_Vaccinated
0,Andaman and Nicobar Islands,175410.0,154539.0
1,Andhra Pradesh,11404153.0,13593094.0
2,Arunachal Pradesh,498628.0,401853.0
3,Assam,7316294.0,6554641.0
4,Bihar,16028771.0,13991844.0
5,Chandigarh,557241.0,420544.0
6,Chhattisgarh,6121658.0,6036284.0
7,Dadra and Nagar Haveli and Daman and Diu,459960.0,228702.0
8,Delhi,6617971.0,4895427.0
9,Goa,775729.0,666866.0
10,Gujarat,21750605.0,18085977.0
11,Haryana,7570107.0,6110952.0
12,Himachal Pradesh,3235925.0,3227200.0
13,Jammu and Kashmir,4078026.0,3040382.0
14,Jharkhand,5998147.0,4932484.0
15,Karnataka,17332703.0,17161214.0
16,Kerala,11472595.0,12462142.0
17,Ladakh,148068.0,114265.0
18,Lakshadweep,37963.0,31585.0
19,Madhya Pradesh,20415684.0,17335058.0
20,Maharashtra,26683747.0,22505152.0
21,Manipur,776121.0,663774.0
22,Meghalaya,647136.0,578865.0
23,Mizoram,442818.0,434839.0
24,Nagaland,460630.0,346571.0
25,Odisha,10267227.0,9213425.0
26,Puducherry,376669.0,396699.0
27,Punjab,6075438.0,4847874.0
28,Rajasthan,19697748.0,17810716.0
29,Sikkim,359355.0,299299.0
30,Tamil Nadu,13458669.0,13184098.0
31,Telangana,8395228.0,7827562.0
32,Tripura,1669978.0,1590021.0
33,Uttar Pradesh,32265050.0,25143377.0
34,Uttarakhand,3693299.0,3522364.0
35,West Bengal,18053003.0,16146278.0

In [53]:
# Adding a null column to store state population data in future
newdf['Male_Pop'] = np.nan
newdf['Female_Pop'] = np.nan
newdf

,State,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop
0,Andaman and Nicobar Islands,175410.0,154539.0,NaN,NaN
1,Andhra Pradesh,11404153.0,13593094.0,NaN,NaN
2,Arunachal Pradesh,498628.0,401853.0,NaN,NaN
3,Assam,7316294.0,6554641.0,NaN,NaN
4,Bihar,16028771.0,13991844.0,NaN,NaN
5,Chandigarh,557241.0,420544.0,NaN,NaN
6,Chhattisgarh,6121658.0,6036284.0,NaN,NaN
7,Dadra and Nagar Haveli and Daman and Diu,459960.0,228702.0,NaN,NaN
8,Delhi,6617971.0,4895427.0,NaN,NaN
9,Goa,775729.0,666866.0,NaN,NaN
10,Gujarat,21750605.0,18085977.0,NaN,NaN
11,Haryana,7570107.0,6110952.0,NaN,NaN
12,Himachal Pradesh,3235925.0,3227200.0,NaN,NaN
13,Jammu and Kashmir,4078026.0,3040382.0,NaN,NaN
14,Jharkhand,5998147.0,4932484.0,NaN,NaN
15,Karnataka,17332703.0,17161214.0,NaN,NaN
16,Kerala,11472595.0,12462142.0,NaN,NaN
17,Ladakh,148068.0,114265.0,NaN,NaN
18,Lakshadweep,37963.0,31585.0,NaN,NaN
19,Madhya Pradesh,20415684.0,17335058.0,NaN,NaN
20,Maharashtra,26683747.0,22505152.0,NaN,NaN
21,Manipur,776121.0,663774.0,NaN,NaN
22,Meghalaya,647136.0,578865.0,NaN,NaN
23,Mizoram,442818.0,434839.0,NaN,NaN
24,Nagaland,460630.0,346571.0,NaN,NaN
25,Odisha,10267227.0,9213425.0,NaN,NaN
26,Puducherry,376669.0,396699.0,NaN,NaN
27,Punjab,6075438.0,4847874.0,NaN,NaN
28,Rajasthan,19697748.0,17810716.0,NaN,NaN
29,Sikkim,359355.0,299299.0,NaN,NaN
30,Tamil Nadu,13458669.0,13184098.0,NaN,NaN
31,Telangana,8395228.0,7827562.0,NaN,NaN
32,Tripura,1669978.0,1590021.0,NaN,NaN
33,Uttar Pradesh,32265050.0,25143377.0,NaN,NaN
34,Uttarakhand,3693299.0,3522364.0,NaN,NaN
35,West Bengal,18053003.0,16146278.0,NaN,NaN

In [54]:
# Converting the state name's to upper case so that the names could match with state_census data
newdf['State'] = newdf['State'].apply(lambda x: x.upper())
newdf

,State,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop
0,ANDAMAN AND NICOBAR ISLANDS,175410.0,154539.0,NaN,NaN
1,ANDHRA PRADESH,11404153.0,13593094.0,NaN,NaN
2,ARUNACHAL PRADESH,498628.0,401853.0,NaN,NaN
3,ASSAM,7316294.0,6554641.0,NaN,NaN
4,BIHAR,16028771.0,13991844.0,NaN,NaN
5,CHANDIGARH,557241.0,420544.0,NaN,NaN
6,CHHATTISGARH,6121658.0,6036284.0,NaN,NaN
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,459960.0,228702.0,NaN,NaN
8,DELHI,6617971.0,4895427.0,NaN,NaN
9,GOA,775729.0,666866.0,NaN,NaN
10,GUJARAT,21750605.0,18085977.0,NaN,NaN
11,HARYANA,7570107.0,6110952.0,NaN,NaN
12,HIMACHAL PRADESH,3235925.0,3227200.0,NaN,NaN
13,JAMMU AND KASHMIR,4078026.0,3040382.0,NaN,NaN
14,JHARKHAND,5998147.0,4932484.0,NaN,NaN
15,KARNATAKA,17332703.0,17161214.0,NaN,NaN
16,KERALA,11472595.0,12462142.0,NaN,NaN
17,LADAKH,148068.0,114265.0,NaN,NaN
18,LAKSHADWEEP,37963.0,31585.0,NaN,NaN
19,MADHYA PRADESH,20415684.0,17335058.0,NaN,NaN
20,MAHARASHTRA,26683747.0,22505152.0,NaN,NaN
21,MANIPUR,776121.0,663774.0,NaN,NaN
22,MEGHALAYA,647136.0,578865.0,NaN,NaN
23,MIZORAM,442818.0,434839.0,NaN,NaN
24,NAGALAND,460630.0,346571.0,NaN,NaN
25,ODISHA,10267227.0,9213425.0,NaN,NaN
26,PUDUCHERRY,376669.0,396699.0,NaN,NaN
27,PUNJAB,6075438.0,4847874.0,NaN,NaN
28,RAJASTHAN,19697748.0,17810716.0,NaN,NaN
29,SIKKIM,359355.0,299299.0,NaN,NaN
30,TAMIL NADU,13458669.0,13184098.0,NaN,NaN
31,TELANGANA,8395228.0,7827562.0,NaN,NaN
32,TRIPURA,1669978.0,1590021.0,NaN,NaN
33,UTTAR PRADESH,32265050.0,25143377.0,NaN,NaN
34,UTTARAKHAND,3693299.0,3522364.0,NaN,NaN
35,WEST BENGAL,18053003.0,16146278.0,NaN,NaN

In [55]:
# Changing the names of states according to census data
newdf.replace('ANDAMAN AND NICOBAR ISLANDS', 'ANDAMAN & NICOBAR ISLANDS',inplace=True)
newdf.replace('DELHI', 'NCT OF DELHI',inplace=True)

In [56]:
newdf

,State,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop
0,ANDAMAN & NICOBAR ISLANDS,175410.0,154539.0,NaN,NaN
1,ANDHRA PRADESH,11404153.0,13593094.0,NaN,NaN
2,ARUNACHAL PRADESH,498628.0,401853.0,NaN,NaN
3,ASSAM,7316294.0,6554641.0,NaN,NaN
4,BIHAR,16028771.0,13991844.0,NaN,NaN
5,CHANDIGARH,557241.0,420544.0,NaN,NaN
6,CHHATTISGARH,6121658.0,6036284.0,NaN,NaN
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,459960.0,228702.0,NaN,NaN
8,NCT OF DELHI,6617971.0,4895427.0,NaN,NaN
9,GOA,775729.0,666866.0,NaN,NaN
10,GUJARAT,21750605.0,18085977.0,NaN,NaN
11,HARYANA,7570107.0,6110952.0,NaN,NaN
12,HIMACHAL PRADESH,3235925.0,3227200.0,NaN,NaN
13,JAMMU AND KASHMIR,4078026.0,3040382.0,NaN,NaN
14,JHARKHAND,5998147.0,4932484.0,NaN,NaN
15,KARNATAKA,17332703.0,17161214.0,NaN,NaN
16,KERALA,11472595.0,12462142.0,NaN,NaN
17,LADAKH,148068.0,114265.0,NaN,NaN
18,LAKSHADWEEP,37963.0,31585.0,NaN,NaN
19,MADHYA PRADESH,20415684.0,17335058.0,NaN,NaN
20,MAHARASHTRA,26683747.0,22505152.0,NaN,NaN
21,MANIPUR,776121.0,663774.0,NaN,NaN
22,MEGHALAYA,647136.0,578865.0,NaN,NaN
23,MIZORAM,442818.0,434839.0,NaN,NaN
24,NAGALAND,460630.0,346571.0,NaN,NaN
25,ODISHA,10267227.0,9213425.0,NaN,NaN
26,PUDUCHERRY,376669.0,396699.0,NaN,NaN
27,PUNJAB,6075438.0,4847874.0,NaN,NaN
28,RAJASTHAN,19697748.0,17810716.0,NaN,NaN
29,SIKKIM,359355.0,299299.0,NaN,NaN
30,TAMIL NADU,13458669.0,13184098.0,NaN,NaN
31,TELANGANA,8395228.0,7827562.0,NaN,NaN
32,TRIPURA,1669978.0,1590021.0,NaN,NaN
33,UTTAR PRADESH,32265050.0,25143377.0,NaN,NaN
34,UTTARAKHAND,3693299.0,3522364.0,NaN,NaN
35,WEST BENGAL,18053003.0,16146278.0,NaN,NaN

In [57]:
# Filling that state population values from state_census dataframe
# Also printing the names of the states not present in state census data
for i in newdf.index:
    try:
        newdf.iloc[i,4] = int(state_census[state_census['Name'] == newdf.iloc[i,0]].iloc[0]['TOT_F'])
        newdf.iloc[i,3] = int(state_census[state_census['Name'] == newdf.iloc[i,0]].iloc[0]['TOT_M'])
    except:
        print(newdf.iloc[i,0])

DADRA AND NAGAR HAVELI AND DAMAN AND DIU
JAMMU AND KASHMIR
LADAKH
TELANGANA

In [58]:
newdf

,State,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop
0,ANDAMAN & NICOBAR ISLANDS,175410.0,154539.0,202871.0,177710.0
1,ANDHRA PRADESH,11404153.0,13593094.0,42442146.0,42138631.0
2,ARUNACHAL PRADESH,498628.0,401853.0,713912.0,669815.0
3,ASSAM,7316294.0,6554641.0,15939443.0,15266133.0
4,BIHAR,16028771.0,13991844.0,54278157.0,49821295.0
5,CHANDIGARH,557241.0,420544.0,580663.0,474787.0
6,CHHATTISGARH,6121658.0,6036284.0,12832895.0,12712303.0
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,459960.0,228702.0,NaN,NaN
8,NCT OF DELHI,6617971.0,4895427.0,8987326.0,7800615.0
9,GOA,775729.0,666866.0,739140.0,719405.0
10,GUJARAT,21750605.0,18085977.0,31491260.0,28948432.0
11,HARYANA,7570107.0,6110952.0,13494734.0,11856728.0
12,HIMACHAL PRADESH,3235925.0,3227200.0,3481873.0,3382729.0
13,JAMMU AND KASHMIR,4078026.0,3040382.0,NaN,NaN
14,JHARKHAND,5998147.0,4932484.0,16930315.0,16057819.0
15,KARNATAKA,17332703.0,17161214.0,30966657.0,30128640.0
16,KERALA,11472595.0,12462142.0,16027412.0,17378649.0
17,LADAKH,148068.0,114265.0,NaN,NaN
18,LAKSHADWEEP,37963.0,31585.0,33123.0,31350.0
19,MADHYA PRADESH,20415684.0,17335058.0,37612306.0,35014503.0
20,MAHARASHTRA,26683747.0,22505152.0,58243056.0,54131277.0
21,MANIPUR,776121.0,663774.0,1438586.0,1417208.0
22,MEGHALAYA,647136.0,578865.0,1491832.0,1475057.0
23,MIZORAM,442818.0,434839.0,555339.0,541867.0
24,NAGALAND,460630.0,346571.0,1024649.0,953853.0
25,ODISHA,10267227.0,9213425.0,21212136.0,20762082.0
26,PUDUCHERRY,376669.0,396699.0,612511.0,635442.0
27,PUNJAB,6075438.0,4847874.0,14639465.0,13103873.0
28,RAJASTHAN,19697748.0,17810716.0,35550997.0,32997440.0
29,SIKKIM,359355.0,299299.0,323070.0,287507.0
30,TAMIL NADU,13458669.0,13184098.0,36137975.0,36009055.0
31,TELANGANA,8395228.0,7827562.0,NaN,NaN
32,TRIPURA,1669978.0,1590021.0,1874376.0,1799541.0
33,UTTAR PRADESH,32265050.0,25143377.0,104480510.0,95331831.0
34,UTTARAKHAND,3693299.0,3522364.0,5137773.0,4948519.0
35,WEST BENGAL,18053003.0,16146278.0,46809027.0,44467088.0

In [59]:
# As state census data contains dadra & nagar haveli population and daman  & diu population seperately, adding both values
# to find the population of Union territory DADRA AND NAGAR HAVELI AND DAMAN AND DIU
newdf.iloc[7,3] = state_census[state_census['Name']=='DADRA & NAGAR HAVELI'].iloc[0]['TOT_M'] + state_census[state_census['Name']=='DAMAN & DIU'].iloc[0]['TOT_M']
newdf.iloc[7,4] = state_census[state_census['Name']=='DADRA & NAGAR HAVELI'].iloc[0]['TOT_F'] + state_census[state_census['Name']=='DAMAN & DIU'].iloc[0]['TOT_F']

In [60]:
newdf

,State,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop
0,ANDAMAN & NICOBAR ISLANDS,175410.0,154539.0,202871.0,177710.0
1,ANDHRA PRADESH,11404153.0,13593094.0,42442146.0,42138631.0
2,ARUNACHAL PRADESH,498628.0,401853.0,713912.0,669815.0
3,ASSAM,7316294.0,6554641.0,15939443.0,15266133.0
4,BIHAR,16028771.0,13991844.0,54278157.0,49821295.0
5,CHANDIGARH,557241.0,420544.0,580663.0,474787.0
6,CHHATTISGARH,6121658.0,6036284.0,12832895.0,12712303.0
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,459960.0,228702.0,344061.0,242895.0
8,NCT OF DELHI,6617971.0,4895427.0,8987326.0,7800615.0
9,GOA,775729.0,666866.0,739140.0,719405.0
10,GUJARAT,21750605.0,18085977.0,31491260.0,28948432.0
11,HARYANA,7570107.0,6110952.0,13494734.0,11856728.0
12,HIMACHAL PRADESH,3235925.0,3227200.0,3481873.0,3382729.0
13,JAMMU AND KASHMIR,4078026.0,3040382.0,NaN,NaN
14,JHARKHAND,5998147.0,4932484.0,16930315.0,16057819.0
15,KARNATAKA,17332703.0,17161214.0,30966657.0,30128640.0
16,KERALA,11472595.0,12462142.0,16027412.0,17378649.0
17,LADAKH,148068.0,114265.0,NaN,NaN
18,LAKSHADWEEP,37963.0,31585.0,33123.0,31350.0
19,MADHYA PRADESH,20415684.0,17335058.0,37612306.0,35014503.0
20,MAHARASHTRA,26683747.0,22505152.0,58243056.0,54131277.0
21,MANIPUR,776121.0,663774.0,1438586.0,1417208.0
22,MEGHALAYA,647136.0,578865.0,1491832.0,1475057.0
23,MIZORAM,442818.0,434839.0,555339.0,541867.0
24,NAGALAND,460630.0,346571.0,1024649.0,953853.0
25,ODISHA,10267227.0,9213425.0,21212136.0,20762082.0
26,PUDUCHERRY,376669.0,396699.0,612511.0,635442.0
27,PUNJAB,6075438.0,4847874.0,14639465.0,13103873.0
28,RAJASTHAN,19697748.0,17810716.0,35550997.0,32997440.0
29,SIKKIM,359355.0,299299.0,323070.0,287507.0
30,TAMIL NADU,13458669.0,13184098.0,36137975.0,36009055.0
31,TELANGANA,8395228.0,7827562.0,NaN,NaN
32,TRIPURA,1669978.0,1590021.0,1874376.0,1799541.0
33,UTTAR PRADESH,32265050.0,25143377.0,104480510.0,95331831.0
34,UTTARAKHAND,3693299.0,3522364.0,5137773.0,4948519.0
35,WEST BENGAL,18053003.0,16146278.0,46809027.0,44467088.0

In [61]:
# Dropping remaining states as their population state in not present in 2011 census data
newdf.dropna(inplace=True)

In [62]:
newdf

,State,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop
0,ANDAMAN & NICOBAR ISLANDS,175410.0,154539.0,202871.0,177710.0
1,ANDHRA PRADESH,11404153.0,13593094.0,42442146.0,42138631.0
2,ARUNACHAL PRADESH,498628.0,401853.0,713912.0,669815.0
3,ASSAM,7316294.0,6554641.0,15939443.0,15266133.0
4,BIHAR,16028771.0,13991844.0,54278157.0,49821295.0
5,CHANDIGARH,557241.0,420544.0,580663.0,474787.0
6,CHHATTISGARH,6121658.0,6036284.0,12832895.0,12712303.0
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,459960.0,228702.0,344061.0,242895.0
8,NCT OF DELHI,6617971.0,4895427.0,8987326.0,7800615.0
9,GOA,775729.0,666866.0,739140.0,719405.0
10,GUJARAT,21750605.0,18085977.0,31491260.0,28948432.0
11,HARYANA,7570107.0,6110952.0,13494734.0,11856728.0
12,HIMACHAL PRADESH,3235925.0,3227200.0,3481873.0,3382729.0
14,JHARKHAND,5998147.0,4932484.0,16930315.0,16057819.0
15,KARNATAKA,17332703.0,17161214.0,30966657.0,30128640.0
16,KERALA,11472595.0,12462142.0,16027412.0,17378649.0
18,LAKSHADWEEP,37963.0,31585.0,33123.0,31350.0
19,MADHYA PRADESH,20415684.0,17335058.0,37612306.0,35014503.0
20,MAHARASHTRA,26683747.0,22505152.0,58243056.0,54131277.0
21,MANIPUR,776121.0,663774.0,1438586.0,1417208.0
22,MEGHALAYA,647136.0,578865.0,1491832.0,1475057.0
23,MIZORAM,442818.0,434839.0,555339.0,541867.0
24,NAGALAND,460630.0,346571.0,1024649.0,953853.0
25,ODISHA,10267227.0,9213425.0,21212136.0,20762082.0
26,PUDUCHERRY,376669.0,396699.0,612511.0,635442.0
27,PUNJAB,6075438.0,4847874.0,14639465.0,13103873.0
28,RAJASTHAN,19697748.0,17810716.0,35550997.0,32997440.0
29,SIKKIM,359355.0,299299.0,323070.0,287507.0
30,TAMIL NADU,13458669.0,13184098.0,36137975.0,36009055.0
32,TRIPURA,1669978.0,1590021.0,1874376.0,1799541.0
33,UTTAR PRADESH,32265050.0,25143377.0,104480510.0,95331831.0
34,UTTARAKHAND,3693299.0,3522364.0,5137773.0,4948519.0
35,WEST BENGAL,18053003.0,16146278.0,46809027.0,44467088.0

In [63]:
newdf.reset_index(drop=True,inplace=True)

In [64]:
newdf

,State,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop
0,ANDAMAN & NICOBAR ISLANDS,175410.0,154539.0,202871.0,177710.0
1,ANDHRA PRADESH,11404153.0,13593094.0,42442146.0,42138631.0
2,ARUNACHAL PRADESH,498628.0,401853.0,713912.0,669815.0
3,ASSAM,7316294.0,6554641.0,15939443.0,15266133.0
4,BIHAR,16028771.0,13991844.0,54278157.0,49821295.0
5,CHANDIGARH,557241.0,420544.0,580663.0,474787.0
6,CHHATTISGARH,6121658.0,6036284.0,12832895.0,12712303.0
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,459960.0,228702.0,344061.0,242895.0
8,NCT OF DELHI,6617971.0,4895427.0,8987326.0,7800615.0
9,GOA,775729.0,666866.0,739140.0,719405.0
10,GUJARAT,21750605.0,18085977.0,31491260.0,28948432.0
11,HARYANA,7570107.0,6110952.0,13494734.0,11856728.0
12,HIMACHAL PRADESH,3235925.0,3227200.0,3481873.0,3382729.0
13,JHARKHAND,5998147.0,4932484.0,16930315.0,16057819.0
14,KARNATAKA,17332703.0,17161214.0,30966657.0,30128640.0
15,KERALA,11472595.0,12462142.0,16027412.0,17378649.0
16,LAKSHADWEEP,37963.0,31585.0,33123.0,31350.0
17,MADHYA PRADESH,20415684.0,17335058.0,37612306.0,35014503.0
18,MAHARASHTRA,26683747.0,22505152.0,58243056.0,54131277.0
19,MANIPUR,776121.0,663774.0,1438586.0,1417208.0
20,MEGHALAYA,647136.0,578865.0,1491832.0,1475057.0
21,MIZORAM,442818.0,434839.0,555339.0,541867.0
22,NAGALAND,460630.0,346571.0,1024649.0,953853.0
23,ODISHA,10267227.0,9213425.0,21212136.0,20762082.0
24,PUDUCHERRY,376669.0,396699.0,612511.0,635442.0
25,PUNJAB,6075438.0,4847874.0,14639465.0,13103873.0
26,RAJASTHAN,19697748.0,17810716.0,35550997.0,32997440.0
27,SIKKIM,359355.0,299299.0,323070.0,287507.0
28,TAMIL NADU,13458669.0,13184098.0,36137975.0,36009055.0
29,TRIPURA,1669978.0,1590021.0,1874376.0,1799541.0
30,UTTAR PRADESH,32265050.0,25143377.0,104480510.0,95331831.0
31,UTTARAKHAND,3693299.0,3522364.0,5137773.0,4948519.0
32,WEST BENGAL,18053003.0,16146278.0,46809027.0,44467088.0

In [65]:
state_result_df = newdf.copy()

In [66]:
## Calculating the Ratio of number of females vaccinated to number of males vaccinated 
# Also the ratio of population of females to population of male for every state
state_result_df['F_to_M_Vaccination_Ratio'] = state_result_df['Females_Vaccinated'] / state_result_df['Males_Vaccinated']
state_result_df['F_to_M_Population_Ratio'] = state_result_df['Female_Pop'] / state_result_df['Male_Pop']
state_result_df['Ratio_of_Ratios'] = state_result_df['F_to_M_Vaccination_Ratio'] / state_result_df['F_to_M_Population_Ratio']
state_result_df

,State,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop,F_to_M_Vaccination_Ratio,F_to_M_Population_Ratio,Ratio_of_Ratios
0,ANDAMAN & NICOBAR ISLANDS,175410.0,154539.0,202871.0,177710.0,0.881016,0.875975,1.005754
1,ANDHRA PRADESH,11404153.0,13593094.0,42442146.0,42138631.0,1.191942,0.992849,1.200528
2,ARUNACHAL PRADESH,498628.0,401853.0,713912.0,669815.0,0.805917,0.938232,0.858975
3,ASSAM,7316294.0,6554641.0,15939443.0,15266133.0,0.895896,0.957758,0.935410
4,BIHAR,16028771.0,13991844.0,54278157.0,49821295.0,0.872921,0.917888,0.951009
5,CHANDIGARH,557241.0,420544.0,580663.0,474787.0,0.754690,0.817664,0.922983
6,CHHATTISGARH,6121658.0,6036284.0,12832895.0,12712303.0,0.986054,0.990603,0.995408
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,459960.0,228702.0,344061.0,242895.0,0.497221,0.705965,0.704315
8,NCT OF DELHI,6617971.0,4895427.0,8987326.0,7800615.0,0.739717,0.867957,0.852251
9,GOA,775729.0,666866.0,739140.0,719405.0,0.859664,0.973300,0.883246
10,GUJARAT,21750605.0,18085977.0,31491260.0,28948432.0,0.831516,0.919253,0.904556
11,HARYANA,7570107.0,6110952.0,13494734.0,11856728.0,0.807248,0.878619,0.918769
12,HIMACHAL PRADESH,3235925.0,3227200.0,3481873.0,3382729.0,0.997304,0.971526,1.026534
13,JHARKHAND,5998147.0,4932484.0,16930315.0,16057819.0,0.822335,0.948465,0.867016
14,KARNATAKA,17332703.0,17161214.0,30966657.0,30128640.0,0.990106,0.972938,1.017645
15,KERALA,11472595.0,12462142.0,16027412.0,17378649.0,1.086253,1.084308,1.001794
16,LAKSHADWEEP,37963.0,31585.0,33123.0,31350.0,0.831994,0.946472,0.879048
17,MADHYA PRADESH,20415684.0,17335058.0,37612306.0,35014503.0,0.849105,0.930932,0.912102
18,MAHARASHTRA,26683747.0,22505152.0,58243056.0,54131277.0,0.843403,0.929403,0.907467
19,MANIPUR,776121.0,663774.0,1438586.0,1417208.0,0.855246,0.985140,0.868147
20,MEGHALAYA,647136.0,578865.0,1491832.0,1475057.0,0.894503,0.988755,0.904676
21,MIZORAM,442818.0,434839.0,555339.0,541867.0,0.981981,0.975741,1.006396
22,NAGALAND,460630.0,346571.0,1024649.0,953853.0,0.752385,0.930907,0.808228
23,ODISHA,10267227.0,9213425.0,21212136.0,20762082.0,0.897363,0.978783,0.916814
24,PUDUCHERRY,376669.0,396699.0,612511.0,635442.0,1.053177,1.037438,1.015171
25,PUNJAB,6075438.0,4847874.0,14639465.0,13103873.0,0.797946,0.895106,0.891455
26,RAJASTHAN,19697748.0,17810716.0,35550997.0,32997440.0,0.904201,0.928172,0.974174
27,SIKKIM,359355.0,299299.0,323070.0,287507.0,0.832878,0.889922,0.935901
28,TAMIL NADU,13458669.0,13184098.0,36137975.0,36009055.0,0.979599,0.996433,0.983106
29,TRIPURA,1669978.0,1590021.0,1874376.0,1799541.0,0.952121,0.960075,0.991715
30,UTTAR PRADESH,32265050.0,25143377.0,104480510.0,95331831.0,0.779276,0.912437,0.854060
31,UTTARAKHAND,3693299.0,3522364.0,5137773.0,4948519.0,0.953718,0.963164,0.990192
32,WEST BENGAL,18053003.0,16146278.0,46809027.0,44467088.0,0.894382,0.949968,0.941486

In [67]:
state_result_df.drop(['Males_Vaccinated','Females_Vaccinated','Male_Pop','Female_Pop'],axis=1,inplace = True)
state_result_df

,State,F_to_M_Vaccination_Ratio,F_to_M_Population_Ratio,Ratio_of_Ratios
0,ANDAMAN & NICOBAR ISLANDS,0.881016,0.875975,1.005754
1,ANDHRA PRADESH,1.191942,0.992849,1.200528
2,ARUNACHAL PRADESH,0.805917,0.938232,0.858975
3,ASSAM,0.895896,0.957758,0.935410
4,BIHAR,0.872921,0.917888,0.951009
5,CHANDIGARH,0.754690,0.817664,0.922983
6,CHHATTISGARH,0.986054,0.990603,0.995408
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,0.497221,0.705965,0.704315
8,NCT OF DELHI,0.739717,0.867957,0.852251
9,GOA,0.859664,0.973300,0.883246
10,GUJARAT,0.831516,0.919253,0.904556
11,HARYANA,0.807248,0.878619,0.918769
12,HIMACHAL PRADESH,0.997304,0.971526,1.026534
13,JHARKHAND,0.822335,0.948465,0.867016
14,KARNATAKA,0.990106,0.972938,1.017645
15,KERALA,1.086253,1.084308,1.001794
16,LAKSHADWEEP,0.831994,0.946472,0.879048
17,MADHYA PRADESH,0.849105,0.930932,0.912102
18,MAHARASHTRA,0.843403,0.929403,0.907467
19,MANIPUR,0.855246,0.985140,0.868147
20,MEGHALAYA,0.894503,0.988755,0.904676
21,MIZORAM,0.981981,0.975741,1.006396
22,NAGALAND,0.752385,0.930907,0.808228
23,ODISHA,0.897363,0.978783,0.916814
24,PUDUCHERRY,1.053177,1.037438,1.015171
25,PUNJAB,0.797946,0.895106,0.891455
26,RAJASTHAN,0.904201,0.928172,0.974174
27,SIKKIM,0.832878,0.889922,0.935901
28,TAMIL NADU,0.979599,0.996433,0.983106
29,TRIPURA,0.952121,0.960075,0.991715
30,UTTAR PRADESH,0.779276,0.912437,0.854060
31,UTTARAKHAND,0.953718,0.963164,0.990192
32,WEST BENGAL,0.894382,0.949968,0.941486

In [68]:
state_result_df.columns = ['stateid','vaccinationratio', 'populationratio', 'ratioofratios']
state_result_df

,stateid,vaccinationratio,populationratio,ratioofratios
0,ANDAMAN & NICOBAR ISLANDS,0.881016,0.875975,1.005754
1,ANDHRA PRADESH,1.191942,0.992849,1.200528
2,ARUNACHAL PRADESH,0.805917,0.938232,0.858975
3,ASSAM,0.895896,0.957758,0.935410
4,BIHAR,0.872921,0.917888,0.951009
5,CHANDIGARH,0.754690,0.817664,0.922983
6,CHHATTISGARH,0.986054,0.990603,0.995408
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,0.497221,0.705965,0.704315
8,NCT OF DELHI,0.739717,0.867957,0.852251
9,GOA,0.859664,0.973300,0.883246
10,GUJARAT,0.831516,0.919253,0.904556
11,HARYANA,0.807248,0.878619,0.918769
12,HIMACHAL PRADESH,0.997304,0.971526,1.026534
13,JHARKHAND,0.822335,0.948465,0.867016
14,KARNATAKA,0.990106,0.972938,1.017645
15,KERALA,1.086253,1.084308,1.001794
16,LAKSHADWEEP,0.831994,0.946472,0.879048
17,MADHYA PRADESH,0.849105,0.930932,0.912102
18,MAHARASHTRA,0.843403,0.929403,0.907467
19,MANIPUR,0.855246,0.985140,0.868147
20,MEGHALAYA,0.894503,0.988755,0.904676
21,MIZORAM,0.981981,0.975741,1.006396
22,NAGALAND,0.752385,0.930907,0.808228
23,ODISHA,0.897363,0.978783,0.916814
24,PUDUCHERRY,1.053177,1.037438,1.015171
25,PUNJAB,0.797946,0.895106,0.891455
26,RAJASTHAN,0.904201,0.928172,0.974174
27,SIKKIM,0.832878,0.889922,0.935901
28,TAMIL NADU,0.979599,0.996433,0.983106
29,TRIPURA,0.952121,0.960075,0.991715
30,UTTAR PRADESH,0.779276,0.912437,0.854060
31,UTTARAKHAND,0.953718,0.963164,0.990192
32,WEST BENGAL,0.894382,0.949968,0.941486

In [69]:
#  Saving the result in state-vaccination-population-ratio.csv
state_result_df.to_csv('Outputs/state-vaccination-population-ratio.csv',index=False)

## Now doing the same thing for India

In [70]:
# Finding the number of males/females vaccinated in India till last data (14/08/2021)
males_vaccinated_india = vaccine_df_copy['14/08/2021.5'].sum()
females_vaccinated_india = vaccine_df_copy['14/08/2021.6'].sum()

In [71]:
# Creating dataframe to store result
india_result_df = pd.DataFrame()

In [72]:
# Adding a single row India
india_result_df['Country'] = ['India']
india_result_df

  Country
0   India

In [73]:
# Adding vaccination data
india_result_df['Males_Vaccinated'] = males_vaccinated_india
india_result_df['Females_Vaccinated'] = females_vaccinated_india
india_result_df

  Country  Males_Vaccinated  Females_Vaccinated
0   India         285317754           253955967

In [74]:
census_df

,State,District,Subdistt,Town/Village,Ward,EB,Level,Name,TRU,No_HH,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
0,0,0,0,0,0,0,India,India,Total,249501663,...,5820403,1420348,491424,928924,5518450,3082613,2435837,728966109,291330383,437635726
1,0,0,0,0,0,0,India,India,Rural,168612897,...,5640822,1154975,386077,768898,3803400,1972348,1831052,485005760,200944045,284061715
2,0,0,0,0,0,0,India,India,Urban,80888766,...,179581,265373,105347,160026,1715050,1110265,604785,243960349,90386338,153574011
3,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Total,2119718,...,44570,26585,6780,19805,108457,56880,51577,8218589,3445572,4773017
4,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Rural,1553433,...,40936,21963,5757,16206,89232,45625,43607,5994979,2562471,3432508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,35,639,0,0,0,0,DISTRICT,North & Middle Andaman,Rural,25475,...,119,30,21,9,1047,654,393,65311,23633,41678
2024,35,639,0,0,0,0,DISTRICT,North & Middle Andaman,Urban,724,...,1,0,0,0,70,43,27,1707,616,1091
2025,35,640,0,0,0,0,DISTRICT,South Andaman,Total,59064,...,63,48,24,24,1311,933,378,141311,49720,91591
2026,35,640,0,0,0,0,DISTRICT,South Andaman,Rural,23767,...,62,42,20,22,777,550,227,57596,19971,37625
2027,35,640,0,0,0,0,DISTRICT,South Andaman,Urban,35297,...,1,6,4,2,534,383,151,83715,29749,53966

In [75]:
# Finding male/female population in india from census data
males_population_india = census_df.iloc[0]['TOT_M']
females_population_india = census_df.iloc[0]['TOT_F']

In [76]:
# Adding population of males/females of India to dataframe
india_result_df['Male_Pop'] = males_population_india
india_result_df['Female_Pop'] = females_population_india
india_result_df

  Country  Males_Vaccinated  Females_Vaccinated   Male_Pop  Female_Pop
0   India         285317754           253955967  623270258   587584719

In [77]:
## Calculating the Ratio of number of females vaccinated to number of males vaccinated 
# Also the ratio of population of females to population of male for India
india_result_df['F_to_M_Vaccination_Ratio'] = india_result_df['Females_Vaccinated'] / india_result_df['Males_Vaccinated']
india_result_df['F_to_M_Population_Ratio'] = india_result_df['Female_Pop'] / india_result_df['Male_Pop']
india_result_df['Ratio_of_Ratios'] = india_result_df['F_to_M_Vaccination_Ratio'] / india_result_df['F_to_M_Population_Ratio']
india_result_df

,Country,Males_Vaccinated,Females_Vaccinated,Male_Pop,Female_Pop,F_to_M_Vaccination_Ratio,F_to_M_Population_Ratio,Ratio_of_Ratios
0,India,285317754,253955967,623270258,587584719,0.890081,0.942745,0.944138

In [78]:
india_result_df.drop(['Males_Vaccinated','Females_Vaccinated','Male_Pop','Female_Pop'],axis=1,inplace = True)
india_result_df

  Country  F_to_M_Vaccination_Ratio  F_to_M_Population_Ratio  Ratio_of_Ratios
0   India                  0.890081                 0.942745         0.944138

In [79]:
india_result_df.columns = ['countryid','vaccinationratio', 'populationratio', 'ratioofratios']
india_result_df

  countryid  vaccinationratio  populationratio  ratioofratios
0     India          0.890081         0.942745       0.944138

In [80]:
#  Saving the result in india-vaccinated-dose-ratio.csv
india_result_df.to_csv('Outputs/india-vaccination-population-ratio.csv',index=False)