In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
# Reading vaccination data in df
df = pd.read_csv('vaccine_data_new.csv')
df

,S No,State_Code,State,District_Key,Cowin Key,District,16/01/2021,16/01/2021.1,16/01/2021.2,16/01/2021.3,...,01/09/2021,01/09/2021.1,01/09/2021.2,01/09/2021.3,01/09/2021.4,01/09/2021.5,01/09/2021.6,01/09/2021.7,01/09/2021.8,01/09/2021.9
0,1.0,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobar,Nicobars,745.0,0.0,0.0,0.0,...,1433521,1262,10,22234,8326,16468,14090,2,0,30560
1,2.0,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,North and Middle Andaman,1496.0,0.0,0.0,0.0,...,104841,4406,18,73655,31186,54856,49972,13,0,104841
2,3.0,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,South Andaman,6028.0,2.0,2.0,23.0,...,229879,15704,25,163017,66862,123444,106397,38,1,229879
3,4.0,AP,Andhra Pradesh,AP_Anantapur,Anantapur,Anantapur,20781.0,28.0,26.0,287.0,...,2471041,416660,372,1678857,792184,1141050,1328828,1163,342472,2128569
4,5.0,AP,Andhra Pradesh,AP_Chittoor,Chittoor,Chittoor,26285.0,63.0,31.0,424.0,...,2774228,370134,436,1935756,838472,1288979,1484856,393,436745,2322388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,751.0,WB,West Bengal,WB_Purulia,Purulia,Purulia,18395.0,1.0,1.0,31.0,...,957812,60500,217,689952,267860,508759,448907,146,132217,825595
750,752.0,WB,West Bengal,WB_Birbhum,Rampurhat HD (Birbhum),Birbhum,4685.0,0.0,0.0,1.0,...,612157,54198,248,445297,166860,284440,327614,103,74282,537875
751,753.0,WB,West Bengal,WB_South 24 Parganas,South 24 Parganas,South 24 Parganas,24722.0,6.0,6.0,14.0,...,2206458,183463,421,1616155,590303,1142488,1063614,356,182772,2023686
752,754.0,WB,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,Uttar Dinajpur,0.0,0.0,0.0,0.0,...,873498,70159,131,651975,221523,475245,398040,213,126507,746991
753,755.0,WB,West Bengal,WB_Paschim Bardhaman,West Bardhaman,Paschim Bardhaman,22782.0,2.0,2.0,62.0,...,1304227,66471,156,973371,330856,714378,589599,250,140487,1163385

In [3]:
# Reading Population Census data in census_df
census_df = pd.read_excel('DDW_PCA0000_2011_Indiastatedist.xlsx')
census_df

,State,District,Subdistt,Town/Village,Ward,EB,Level,Name,TRU,No_HH,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
0,0,0,0,0,0,0,India,India,Total,249501663,...,5820403,1420348,491424,928924,5518450,3082613,2435837,728966109,291330383,437635726
1,0,0,0,0,0,0,India,India,Rural,168612897,...,5640822,1154975,386077,768898,3803400,1972348,1831052,485005760,200944045,284061715
2,0,0,0,0,0,0,India,India,Urban,80888766,...,179581,265373,105347,160026,1715050,1110265,604785,243960349,90386338,153574011
3,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Total,2119718,...,44570,26585,6780,19805,108457,56880,51577,8218589,3445572,4773017
4,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Rural,1553433,...,40936,21963,5757,16206,89232,45625,43607,5994979,2562471,3432508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,35,639,0,0,0,0,DISTRICT,North & Middle Andaman,Rural,25475,...,119,30,21,9,1047,654,393,65311,23633,41678
2024,35,639,0,0,0,0,DISTRICT,North & Middle Andaman,Urban,724,...,1,0,0,0,70,43,27,1707,616,1091
2025,35,640,0,0,0,0,DISTRICT,South Andaman,Total,59064,...,63,48,24,24,1311,933,378,141311,49720,91591
2026,35,640,0,0,0,0,DISTRICT,South Andaman,Rural,23767,...,62,42,20,22,777,550,227,57596,19971,37625
2027,35,640,0,0,0,0,DISTRICT,South Andaman,Urban,35297,...,1,6,4,2,534,383,151,83715,29749,53966

In [4]:
# Creating a temporary Dataframe for storing district_wise first dose and second dose data
newdf = pd.DataFrame()
newdf['State'] = df['State']
newdf['District'] = df['District']
newdf['District_Key'] = df['District_Key']
newdf

,State,District,District_Key
0,Andaman and Nicobar Islands,Nicobars,AN_Nicobars
1,Andaman and Nicobar Islands,North and Middle Andaman,AN_North and Middle Andaman
2,Andaman and Nicobar Islands,South Andaman,AN_South Andaman
3,Andhra Pradesh,Anantapur,AP_Anantapur
4,Andhra Pradesh,Chittoor,AP_Chittoor
...,...,...,...
749,West Bengal,Purulia,WB_Purulia
750,West Bengal,Birbhum,WB_Birbhum
751,West Bengal,South 24 Parganas,WB_South 24 Parganas
752,West Bengal,Uttar Dinajpur,WB_Uttar Dinajpur
753,West Bengal,Paschim Bardhaman,WB_Paschim Bardhaman

In [5]:
newdf.drop_duplicates(inplace=True)

In [6]:
newdf

,State,District,District_Key
0,Andaman and Nicobar Islands,Nicobars,AN_Nicobars
1,Andaman and Nicobar Islands,North and Middle Andaman,AN_North and Middle Andaman
2,Andaman and Nicobar Islands,South Andaman,AN_South Andaman
3,Andhra Pradesh,Anantapur,AP_Anantapur
4,Andhra Pradesh,Chittoor,AP_Chittoor
...,...,...,...
745,West Bengal,Purba Medinipur,WB_Purba Medinipur
747,West Bengal,Paschim Medinipur,WB_Paschim Medinipur
749,West Bengal,Purulia,WB_Purulia
752,West Bengal,Uttar Dinajpur,WB_Uttar Dinajpur
753,West Bengal,Paschim Bardhaman,WB_Paschim Bardhaman

In [7]:
# As the vaccination data is cumulative so to find the number of first dose/second dose of a district only taking the last 
# date's data is enough.
# Taking 14 August 2021 as standard last date for entire assignment.
vaccine_df_copy = df.copy()

#Converting last date first,second dose columns to numeric
vaccine_df_copy['14/08/2021.3'] = pd.to_numeric(vaccine_df_copy['14/08/2021.3'])   
vaccine_df_copy['14/08/2021.4'] = pd.to_numeric(vaccine_df_copy['14/08/2021.4'])
vaccine_df_copy

,S No,State_Code,State,District_Key,Cowin Key,District,16/01/2021,16/01/2021.1,16/01/2021.2,16/01/2021.3,...,01/09/2021,01/09/2021.1,01/09/2021.2,01/09/2021.3,01/09/2021.4,01/09/2021.5,01/09/2021.6,01/09/2021.7,01/09/2021.8,01/09/2021.9
0,1.0,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobar,Nicobars,745.0,0.0,0.0,0.0,...,1433521,1262,10,22234,8326,16468,14090,2,0,30560
1,2.0,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,North and Middle Andaman,1496.0,0.0,0.0,0.0,...,104841,4406,18,73655,31186,54856,49972,13,0,104841
2,3.0,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,South Andaman,6028.0,2.0,2.0,23.0,...,229879,15704,25,163017,66862,123444,106397,38,1,229879
3,4.0,AP,Andhra Pradesh,AP_Anantapur,Anantapur,Anantapur,20781.0,28.0,26.0,287.0,...,2471041,416660,372,1678857,792184,1141050,1328828,1163,342472,2128569
4,5.0,AP,Andhra Pradesh,AP_Chittoor,Chittoor,Chittoor,26285.0,63.0,31.0,424.0,...,2774228,370134,436,1935756,838472,1288979,1484856,393,436745,2322388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,751.0,WB,West Bengal,WB_Purulia,Purulia,Purulia,18395.0,1.0,1.0,31.0,...,957812,60500,217,689952,267860,508759,448907,146,132217,825595
750,752.0,WB,West Bengal,WB_Birbhum,Rampurhat HD (Birbhum),Birbhum,4685.0,0.0,0.0,1.0,...,612157,54198,248,445297,166860,284440,327614,103,74282,537875
751,753.0,WB,West Bengal,WB_South 24 Parganas,South 24 Parganas,South 24 Parganas,24722.0,6.0,6.0,14.0,...,2206458,183463,421,1616155,590303,1142488,1063614,356,182772,2023686
752,754.0,WB,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,Uttar Dinajpur,0.0,0.0,0.0,0.0,...,873498,70159,131,651975,221523,475245,398040,213,126507,746991
753,755.0,WB,West Bengal,WB_Paschim Bardhaman,West Bardhaman,Paschim Bardhaman,22782.0,2.0,2.0,62.0,...,1304227,66471,156,973371,330856,714378,589599,250,140487,1163385

In [8]:
newdf.reset_index(drop=True,inplace=True)

In [9]:
newdf

,State,District,District_Key
0,Andaman and Nicobar Islands,Nicobars,AN_Nicobars
1,Andaman and Nicobar Islands,North and Middle Andaman,AN_North and Middle Andaman
2,Andaman and Nicobar Islands,South Andaman,AN_South Andaman
3,Andhra Pradesh,Anantapur,AP_Anantapur
4,Andhra Pradesh,Chittoor,AP_Chittoor
...,...,...,...
724,West Bengal,Purba Medinipur,WB_Purba Medinipur
725,West Bengal,Paschim Medinipur,WB_Paschim Medinipur
726,West Bengal,Purulia,WB_Purulia
727,West Bengal,Uttar Dinajpur,WB_Uttar Dinajpur
728,West Bengal,Paschim Bardhaman,WB_Paschim Bardhaman

In [10]:
# Creating null columns for storing first/second dose data in future
newdf['First_Dose'] = np.nan
newdf['Second_Dose'] = np.nan
newdf

,State,District,District_Key,First_Dose,Second_Dose
0,Andaman and Nicobar Islands,Nicobars,AN_Nicobars,NaN,NaN
1,Andaman and Nicobar Islands,North and Middle Andaman,AN_North and Middle Andaman,NaN,NaN
2,Andaman and Nicobar Islands,South Andaman,AN_South Andaman,NaN,NaN
3,Andhra Pradesh,Anantapur,AP_Anantapur,NaN,NaN
4,Andhra Pradesh,Chittoor,AP_Chittoor,NaN,NaN
...,...,...,...,...,...
724,West Bengal,Purba Medinipur,WB_Purba Medinipur,NaN,NaN
725,West Bengal,Paschim Medinipur,WB_Paschim Medinipur,NaN,NaN
726,West Bengal,Purulia,WB_Purulia,NaN,NaN
727,West Bengal,Uttar Dinajpur,WB_Uttar Dinajpur,NaN,NaN
728,West Bengal,Paschim Bardhaman,WB_Paschim Bardhaman,NaN,NaN

In [11]:
# We can see below that using just district key for identifying unique district is not enough in some cases
# So we have to add vaccine data for such district to calculate actual number of first/second doses
vaccine_df_copy[vaccine_df_copy['District_Key'] == 'GJ_Gandhinagar']

,S No,State_Code,State,District_Key,Cowin Key,District,16/01/2021,16/01/2021.1,16/01/2021.2,16/01/2021.3,...,01/09/2021,01/09/2021.1,01/09/2021.2,01/09/2021.3,01/09/2021.4,01/09/2021.5,01/09/2021.6,01/09/2021.7,01/09/2021.8,01/09/2021.9
172,173.0,GJ,Gujarat,GJ_Gandhinagar,Gandhinagar,Gandhinagar,11989.0,1.0,1.0,5.0,...,891442,47321,231,686840,204602,478194,413129,119,62801,828641
173,174.0,GJ,Gujarat,GJ_Gandhinagar,Gandhinagar Corporation,Gandhinagar,2800.0,1.0,1.0,29.0,...,457598,16140,381,331139,126459,256987,200526,85,47281,410317

In [12]:
# Filling first/second dose data from vaccination data (vaccine_df_copy) also as mentioned earlier adding the vaccine data
# For districts with multiple entries (example: Gandhinagar and Gandhinagar Corporation)
for i in range(len(newdf)):
    try:
        tempdf = vaccine_df_copy[(vaccine_df_copy['State'] == newdf.iloc[i,0])&(vaccine_df_copy['District'] == newdf.iloc[i,1])]
        sumdf = tempdf.sum(axis=0)
        newdf.iloc[i,3] = pd.to_numeric(sumdf.loc['14/08/2021.3'])
        newdf.iloc[i,4] = pd.to_numeric(sumdf.loc['14/08/2021.4'])
    except:
        print(newdf.iloc[i,0],' ',newdf.iloc[i,1])
newdf

,State,District,District_Key,First_Dose,Second_Dose
0,Andaman and Nicobar Islands,Nicobars,AN_Nicobars,22081.0,8110.0
1,Andaman and Nicobar Islands,North and Middle Andaman,AN_North and Middle Andaman,68043.0,29281.0
2,Andaman and Nicobar Islands,South Andaman,AN_South Andaman,142585.0,59896.0
3,Andhra Pradesh,Anantapur,AP_Anantapur,1364374.0,597346.0
4,Andhra Pradesh,Chittoor,AP_Chittoor,1565591.0,640864.0
...,...,...,...,...,...
724,West Bengal,Purba Medinipur,WB_Purba Medinipur,1539152.0,672014.0
725,West Bengal,Paschim Medinipur,WB_Paschim Medinipur,948146.0,380217.0
726,West Bengal,Purulia,WB_Purulia,580596.0,206567.0
727,West Bengal,Uttar Dinajpur,WB_Uttar Dinajpur,540958.0,173055.0
728,West Bengal,Paschim Bardhaman,WB_Paschim Bardhaman,786694.0,258180.0

In [13]:
newdf.isnull().sum()

State           0
District        0
District_Key    0
First_Dose      0
Second_Dose     0
dtype: int64

####  Below two cells show that this code is dealing with same name districts correctly as for both Hamirpur different value is read from vaccination data

In [14]:
newdf[(newdf['State'] == 'Uttar Pradesh') &(newdf['District'] == 'Hamirpur')]

             State  District District_Key  First_Dose  Second_Dose
651  Uttar Pradesh  Hamirpur  UP_Hamirpur    314741.0      49132.0

In [15]:
newdf[(newdf['State'] == 'Himachal Pradesh') &(newdf['District'] == 'Hamirpur')]

                State  District District_Key  First_Dose  Second_Dose
214  Himachal Pradesh  Hamirpur  HP_Hamirpur    358566.0     134460.0

In [16]:
#Lowering the case of the district names and changing their names according to census data
newdf['District'] = newdf['District'].str.lower()
newdf

,State,District,District_Key,First_Dose,Second_Dose
0,Andaman and Nicobar Islands,nicobars,AN_Nicobars,22081.0,8110.0
1,Andaman and Nicobar Islands,north and middle andaman,AN_North and Middle Andaman,68043.0,29281.0
2,Andaman and Nicobar Islands,south andaman,AN_South Andaman,142585.0,59896.0
3,Andhra Pradesh,anantapur,AP_Anantapur,1364374.0,597346.0
4,Andhra Pradesh,chittoor,AP_Chittoor,1565591.0,640864.0
...,...,...,...,...,...
724,West Bengal,purba medinipur,WB_Purba Medinipur,1539152.0,672014.0
725,West Bengal,paschim medinipur,WB_Paschim Medinipur,948146.0,380217.0
726,West Bengal,purulia,WB_Purulia,580596.0,206567.0
727,West Bengal,uttar dinajpur,WB_Uttar Dinajpur,540958.0,173055.0
728,West Bengal,paschim bardhaman,WB_Paschim Bardhaman,786694.0,258180.0

In [17]:
# As many district's in vaccination and census data have different spellings so we need to convert any one to match other
# this function maps the name of districts from vaccination data to names of same district in census data
# this will be used to change names of vaccination data 

def corrected_name( x ):
    if(x=="ahmedabad"):
        x = "ahmadabad"
    if(x=="ahmednagar"):
        x = "ahmadnagar"
    if(x=="bagalkote"):
        x = "bagalkot"
    if(x=="bandipora"):
        x = "bandipore"
    if(x=="barabanki"):
        x = "bara banki"
    if(x=="buldhana"):
        x = "buldana"
    if(x=="chikkamagaluru"):
        x = "chikmagalur"
    if(x=="chittorgarh"):
        x = "chittaurgarh"
    if(x=="dadra and nagar haveli"):
        x = "dadra & nagar haveli"
    if(x=="darjeeling"):
        x = "darjiling"
    if(x=="dahod"):
        x = "dohad"
    if(x=="gurugram"):
        x = "gurgaon"
    if(x=="haridwar"):
        x = "hardwar"
    if(x=="janjgir champa"):
        x = "janjgir - champa"
    if(x=="kanyakumari"):
        x = "kanniyakumari"
    if(x=="khandwa"):
        x = "khandwa (east nimar)"
    if(x=="khargone"):
        x = "khargone (west nimar)"
    if(x=="kutch"):
        x = "kachchh"
    if(x=="lahaul and spiti"):
        x = "lahul & spiti"
    if(x=="leh"):
        x = "leh(ladakh)"
    if(x=="mahabubnagar"):
        x = "mahbubnagar"
    if(x=="mysuru"):
        x = "mysore"
    if(x=="north 24 parganas"):
        x = "north twenty four parganas"
    if(x=="south 24 parganas"):
        x = "south twenty four parganas"
    if(x=="north and middle andaman"):
        x = "north  & middle andaman"
    if(x=="panchmahal"):
        x = "panch mahals"
    if(x=="shopiyan"):
        x = "shupiyan"
    if(x=="y.s.r. kadapa"):
        x = "y.s.r."
    if(x=="bengaluru urban"):
        x = "bangalore"
    if(x=="aizwal"):
        x = "aizawl"
    if(x=="rae bareilly"):
        x = "rae bareli"
    if(x=='angul'):
        x = 'anugul'
    if(x=='ashok nagar'):
        x = 'ashoknagar'
    if(x=='budgam'):
        x = 'badgam'
    if(x=='bageshwar'):
        x = 'baleshwar'
    if(x=='banaskantha'):
        x = 'banas kantha'
    if(x=='bengaluru rural'):
        x = 'bangalore rural'
    if(x=='bangalore urban'):
        x = 'bengaluru urban'
    if(x=='baramulla'):
        x = 'baramula'
    if(x=='boudh'):
        x = 'baudh'
    if(x=='belagavi'):
        x = 'belgaum'
    if(x=='ballari'):
        x = 'bellary'
    if(x=='bametara'):
        x = 'bemetara'
    if(x=='beed'):
        x = 'bid'
    if(x=='biswanath'):
        x = 'bishwanath'
    if(x=='chamarajanagara'):
        x = 'chamarajanagar'
    if(x=='dantewada'):
        x = 'dakshin bastar dantewada'
    if(x=='deogarh'):
        x = 'debagarh'
    if(x=='devbhumi dwarka'):
        x = 'devbhumi dwaraka'
    if(x=='dholpur'):
        x = 'dhaulpur'
#     if(x=='east delhi'):
#         x = "delhi"
    if(x=='east karbi anglong'):
        x = 'karbi anglong'
    if(x=='ayodhya'):
        x = 'faizabad'
    if(x=='fategarh sahib'):
        x = 'fatehgarh sahib'
    if(x=='ferozepur'):
        x = 'firozpur'
    if(x=='gondia'):
        x = 'gondiya'
    if(x=='hooghly'):
        x = 'hugli'
    if(x=='jagatsinghpur'):
        x = 'jagatsinghapur'
    if(x=='jajpur'):
        x = 'jajapur'
    if(x=='jalore'):
        x = 'jalor'
    if(x=='janjgir-champa'):
        x = 'janjgir champa'
    if(x=='jhunjhunu'):
        x = 'jhunjhunun'
    if(x=='amroha'):
        x = 'jyotiba phule nagar'
    if(x=='kabirdham'):
        x = 'kabeerdham'
    if(x=='kaimur'):
        x = 'kaimur (bhabua)'
    if(x=='kanchipuram'):
        x = 'kancheepuram'
    if(x=='lakhimpur kheri'):
        x = 'kheri'
    if(x=='cooch behar'):
        x = 'koch bihar'
    if(x=='koderma'):
        x = 'kodarma'
    if(x=='komaram bheem'):
        x = 'komram bheem'
    if(x=='konkan division'): #not found
        x = 'konkan division'
    if(x=='lahul and spiti'):
        x = 'lahaul and spiti'
    if(x=='mehsana'):
        x = 'mahesana'
    if(x=='maharajganj'):
        x = 'mahrajganj'
    if(x=='malda'):
        x = 'maldah'
    if(x=='marigaon'):
        x = 'morigaon'
    if(x=='medchal–malkajgiri'):
        x = 'medchal malkajgiri'
    if(x=='sri muktsar sahib'): #not found
        x = 'muktsar'
#     if(x=='mumbai city'):
#         x = 'mumbai'
#     if x== 'mumbai suburban':
#         x = 'mumbai'
    if x== 'nandubar':
        x = 'nandurbar'
    if x== 'narsinghpur':
        x = 'narsimhapur'
    if x== 'nav sari':
        x = 'navsari'
#     if x=='new delhi' :
#         x = 'delhi'
    if x== 'noklak': #not found
        x = 'noklak'
#     if x== 'north delhi':
#         x = 'delhi'
#     if x== 'north east delhi':
#         x = 'delhi'
#     if x== 'north west delhi':
#         x = 'delhi'
    if x== 'pakaur':
        x = 'pakur'
    if x== 'palghat':
        x = 'palghar'
    if x== 'panch mahal':
        x = 'panchmahal'
    if x== 'west champaran':
        x = 'pashchim champaran'
    if x== 'west singhbhum':
        x = 'pashchimi singhbhum'
    if x== 'pattanamtitta':
        x = 'pathanamthitta'
    if x== 'east champaran':
        x = 'purba champaran'
    if x== 'east singhbhum':
        x = 'purbi singhbhum'
    if x== 'purulia':
        x = 'puruliya'
    if x== 'rajauri':
        x = 'rajouri'
    if x== 'ranga reddy':
        x = 'rangareddy'
    if x== 'ri-bhoi':
        x = 'ribhoi'
    if x== 'sabarkantha':
        x = 'sabar kantha'
    if x== 's.a.s. nagar':
        x = 'sahibzada ajit singh nagar'
    if x== 'sait kibir nagar':
        x = 'sant kabir nagar'
    if x== 'bhadohi':
        x = 'sant ravidas nagar (bhadohi)'
    if x== 'sepahijala':
        x = 'sipahijala'
    if x== 'seraikela kharsawan':
        x = 'saraikela-kharsawan'
    if x== 'shahdara': #not found
        x = 'shahdara'
    if x== 'shaheed bhagat singh nagar':
        x = 'shahid bhagat singh nagar'
    if x== 'sharawasti':
        x = 'shrawasti'
    if x== 'shivamogga':
        x = 'shimoga'
    if x== 'shopian':
        x = 'shopiyan'
    if x== 'siddharth nagar':
        x = 'siddharthnagar'
    if x== 'sivagangai':
        x = 'sivaganga'
    if x== 'sonapur':
        x = 'subarnapur'
#     if x== 'south delhi':
#         x = 'delhi'
#     if x== 'south east delhi':
#         x = 'delhi'
    if x== 'south salmara-mankachar':
        x = 'south salmara mankachar'
#     if x== 'south west delhi':
#         x = 'delhi'
    if x== 'sri ganganagar':
        x = 'ganganagar'
    if x== 's.p.s. nellore':
        x = 'sri potti sriramulu nellore'
    if x== 'dang':
        x = 'the dangs'
    if x== 'nilgiris':
        x = 'the nilgiris'
    if x== 'thoothukudi':
        x = 'thoothukkudi'
    if x== 'tiruchchirappalli':
        x = 'tiruchirappalli'
    if x== 'tirunelveli kattabo':
        x = 'tirunelveli'
    if x== 'tiruvanamalai':
        x = 'tiruvannamalai'
    if x== 'tumakuru':
        x = 'tumkur'
    if x== 'west delhi':
        x = 'delhi'
    if x== 'yadagiri':
        x = 'yadadri bhuvanagiri'
    return x

In [18]:
# Using above function to map district names
newdf['District'] = newdf['District'].apply(corrected_name)
newdf

,State,District,District_Key,First_Dose,Second_Dose
0,Andaman and Nicobar Islands,nicobars,AN_Nicobars,22081.0,8110.0
1,Andaman and Nicobar Islands,north & middle andaman,AN_North and Middle Andaman,68043.0,29281.0
2,Andaman and Nicobar Islands,south andaman,AN_South Andaman,142585.0,59896.0
3,Andhra Pradesh,anantapur,AP_Anantapur,1364374.0,597346.0
4,Andhra Pradesh,chittoor,AP_Chittoor,1565591.0,640864.0
...,...,...,...,...,...
724,West Bengal,purba medinipur,WB_Purba Medinipur,1539152.0,672014.0
725,West Bengal,paschim medinipur,WB_Paschim Medinipur,948146.0,380217.0
726,West Bengal,puruliya,WB_Purulia,580596.0,206567.0
727,West Bengal,uttar dinajpur,WB_Uttar Dinajpur,540958.0,173055.0
728,West Bengal,paschim bardhaman,WB_Paschim Bardhaman,786694.0,258180.0

In [19]:
# Separate district population data from complete census data
district_census = census_df[census_df['Level'] == 'DISTRICT']
district_census

,State,District,Subdistt,Town/Village,Ward,EB,Level,Name,TRU,No_HH,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
6,1,1,0,0,0,0,DISTRICT,Kupwara,Total,113929,...,1955,1216,597,619,7369,4727,2642,641290,283291,357999
7,1,1,0,0,0,0,DISTRICT,Kupwara,Rural,101930,...,1893,1130,556,574,6644,4149,2495,569632,250046,319586
8,1,1,0,0,0,0,DISTRICT,Kupwara,Urban,11999,...,62,86,41,45,725,578,147,71658,33245,38413
9,1,2,0,0,0,0,DISTRICT,Badgam,Total,103363,...,2035,3823,1148,2675,4674,2393,2281,538879,235463,303416
10,1,2,0,0,0,0,DISTRICT,Badgam,Rural,89417,...,2000,3652,1107,2545,3585,1740,1845,474065,208816,265249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,35,639,0,0,0,0,DISTRICT,North & Middle Andaman,Rural,25475,...,119,30,21,9,1047,654,393,65311,23633,41678
2024,35,639,0,0,0,0,DISTRICT,North & Middle Andaman,Urban,724,...,1,0,0,0,70,43,27,1707,616,1091
2025,35,640,0,0,0,0,DISTRICT,South Andaman,Total,59064,...,63,48,24,24,1311,933,378,141311,49720,91591
2026,35,640,0,0,0,0,DISTRICT,South Andaman,Rural,23767,...,62,42,20,22,777,550,227,57596,19971,37625
2027,35,640,0,0,0,0,DISTRICT,South Andaman,Urban,35297,...,1,6,4,2,534,383,151,83715,29749,53966

In [20]:
# Lowering the case of the names of the district in census data so that they can match with our vaccination data
district_census['Name'] = district_census['Name'].str.lower()
district_census['Name'] = district_census['Name'].str.strip()
district_census

C:\Users\CHABIL~1\AppData\Local\Temp/ipykernel_212/3332354619.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  district_census['Name'] = district_census['Name'].str.lower()
C:\Users\CHABIL~1\AppData\Local\Temp/ipykernel_212/3332354619.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  district_census['Name'] = district_census['Name'].str.strip()

,State,District,Subdistt,Town/Village,Ward,EB,Level,Name,TRU,No_HH,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
6,1,1,0,0,0,0,DISTRICT,kupwara,Total,113929,...,1955,1216,597,619,7369,4727,2642,641290,283291,357999
7,1,1,0,0,0,0,DISTRICT,kupwara,Rural,101930,...,1893,1130,556,574,6644,4149,2495,569632,250046,319586
8,1,1,0,0,0,0,DISTRICT,kupwara,Urban,11999,...,62,86,41,45,725,578,147,71658,33245,38413
9,1,2,0,0,0,0,DISTRICT,badgam,Total,103363,...,2035,3823,1148,2675,4674,2393,2281,538879,235463,303416
10,1,2,0,0,0,0,DISTRICT,badgam,Rural,89417,...,2000,3652,1107,2545,3585,1740,1845,474065,208816,265249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,35,639,0,0,0,0,DISTRICT,north & middle andaman,Rural,25475,...,119,30,21,9,1047,654,393,65311,23633,41678
2024,35,639,0,0,0,0,DISTRICT,north & middle andaman,Urban,724,...,1,0,0,0,70,43,27,1707,616,1091
2025,35,640,0,0,0,0,DISTRICT,south andaman,Total,59064,...,63,48,24,24,1311,933,378,141311,49720,91591
2026,35,640,0,0,0,0,DISTRICT,south andaman,Rural,23767,...,62,42,20,22,777,550,227,57596,19971,37625
2027,35,640,0,0,0,0,DISTRICT,south andaman,Urban,35297,...,1,6,4,2,534,383,151,83715,29749,53966

In [21]:
# Creating  a null column for storing the population data in future
newdf['Population'] = np.nan
newdf

,State,District,District_Key,First_Dose,Second_Dose,Population
0,Andaman and Nicobar Islands,nicobars,AN_Nicobars,22081.0,8110.0,NaN
1,Andaman and Nicobar Islands,north & middle andaman,AN_North and Middle Andaman,68043.0,29281.0,NaN
2,Andaman and Nicobar Islands,south andaman,AN_South Andaman,142585.0,59896.0,NaN
3,Andhra Pradesh,anantapur,AP_Anantapur,1364374.0,597346.0,NaN
4,Andhra Pradesh,chittoor,AP_Chittoor,1565591.0,640864.0,NaN
...,...,...,...,...,...,...
724,West Bengal,purba medinipur,WB_Purba Medinipur,1539152.0,672014.0,NaN
725,West Bengal,paschim medinipur,WB_Paschim Medinipur,948146.0,380217.0,NaN
726,West Bengal,puruliya,WB_Purulia,580596.0,206567.0,NaN
727,West Bengal,uttar dinajpur,WB_Uttar Dinajpur,540958.0,173055.0,NaN
728,West Bengal,paschim bardhaman,WB_Paschim Bardhaman,786694.0,258180.0,NaN

In [22]:
newdf.reset_index(drop=True,inplace=True)
newdf

,State,District,District_Key,First_Dose,Second_Dose,Population
0,Andaman and Nicobar Islands,nicobars,AN_Nicobars,22081.0,8110.0,NaN
1,Andaman and Nicobar Islands,north & middle andaman,AN_North and Middle Andaman,68043.0,29281.0,NaN
2,Andaman and Nicobar Islands,south andaman,AN_South Andaman,142585.0,59896.0,NaN
3,Andhra Pradesh,anantapur,AP_Anantapur,1364374.0,597346.0,NaN
4,Andhra Pradesh,chittoor,AP_Chittoor,1565591.0,640864.0,NaN
...,...,...,...,...,...,...
724,West Bengal,purba medinipur,WB_Purba Medinipur,1539152.0,672014.0,NaN
725,West Bengal,paschim medinipur,WB_Paschim Medinipur,948146.0,380217.0,NaN
726,West Bengal,puruliya,WB_Purulia,580596.0,206567.0,NaN
727,West Bengal,uttar dinajpur,WB_Uttar Dinajpur,540958.0,173055.0,NaN
728,West Bengal,paschim bardhaman,WB_Paschim Bardhaman,786694.0,258180.0,NaN

### Below Cell shows that there are same name districts in our data (newdf) so after filling the population data from district census we have to manually correct some population values later

In [23]:
val_count = newdf['District'].value_counts()

val_count[val_count>1]

balrampur     2
hamirpur      2
bilaspur      2
pratapgarh    2
aurangabad    2
Name: District, dtype: int64

In [24]:
# Filling the population values from district_census data in our newdf
# Also printing the names of the district's not present in census data
for i in newdf.index:
    try:
        newdf.iloc[i,5] = int(district_census[district_census['Name'] == newdf.iloc[i,1]].iloc[0]['TOT_P'])
    except:
        print(newdf.iloc[i,1])

upper dibang valley
kamle
kra daadi
lepa rada
longding
lower siang
namsai
pakke kessang
shi yomi
siang
bishwanath
charaideo
hojai
majuli
south salmara mankachar
west karbi anglong
balod
baloda bazar
bemetara
gariaband
gaurela pendra marwahi
kondagaon
mungeli
sukma
surajpur
central delhi
east delhi
north delhi
north east delhi
north west delhi
shahdara
south delhi
south east delhi
south west delhi
delhi
aravalli
botad
chhota udaipur
devbhumi dwaraka
gir somnath
mahisagar
morbi
charkhi dadri
nuh
kalaburagi
vijayapura
agar malwa
palghar
raigad
jiribam
kakching
kamjong
kangpokpi
noney
pherzawl
tengnoupal
east jaintia hills
north garo hills
south west garo hills
south west khasi hills
west jaintia hills
balasore
fazilka
pathankot
east sikkim
north sikkim
south sikkim
west sikkim
chengalpattu
kallakurichi
ranipet
tenkasi
tirupathur
bhadradri kothagudem
jagtial
jangaon
jayashankar bhupalapally
jogulamba gadwal
kamareddy
komram bheem
mahabubabad
mancherial
medchal malkajgiri
mulugu
nagarkurnool
narayanpet
nirmal
peddapalli
rajanna sircilla
sangareddy
siddipet
suryapet
vikarabad
wanaparthy
warangal rural
warangal urban
yadadri bhuvanagiri
gomati
khowai
sipahijala
unokoti
amethi
hapur
hathras
kasganj
prayagraj
sambhal
shamli
pauri garhwal
alipurduar
purba bardhaman
howrah
jhargram
kalimpong
paschim bardhaman

In [25]:
newdf

,State,District,District_Key,First_Dose,Second_Dose,Population
0,Andaman and Nicobar Islands,nicobars,AN_Nicobars,22081.0,8110.0,36842.0
1,Andaman and Nicobar Islands,north & middle andaman,AN_North and Middle Andaman,68043.0,29281.0,105597.0
2,Andaman and Nicobar Islands,south andaman,AN_South Andaman,142585.0,59896.0,238142.0
3,Andhra Pradesh,anantapur,AP_Anantapur,1364374.0,597346.0,4081148.0
4,Andhra Pradesh,chittoor,AP_Chittoor,1565591.0,640864.0,4174064.0
...,...,...,...,...,...,...
724,West Bengal,purba medinipur,WB_Purba Medinipur,1539152.0,672014.0,5095875.0
725,West Bengal,paschim medinipur,WB_Paschim Medinipur,948146.0,380217.0,5913457.0
726,West Bengal,puruliya,WB_Purulia,580596.0,206567.0,2930115.0
727,West Bengal,uttar dinajpur,WB_Uttar Dinajpur,540958.0,173055.0,3007134.0
728,West Bengal,paschim bardhaman,WB_Paschim Bardhaman,786694.0,258180.0,NaN

In [26]:
newdf.isnull().sum()

State             0
District          0
District_Key      0
First_Dose        0
Second_Dose       0
Population      115
dtype: int64

In [27]:
# Deleting the rows of the district that are not present in census data
district_result_df = newdf.dropna()
district_result_df

,State,District,District_Key,First_Dose,Second_Dose,Population
0,Andaman and Nicobar Islands,nicobars,AN_Nicobars,22081.0,8110.0,36842.0
1,Andaman and Nicobar Islands,north & middle andaman,AN_North and Middle Andaman,68043.0,29281.0,105597.0
2,Andaman and Nicobar Islands,south andaman,AN_South Andaman,142585.0,59896.0,238142.0
3,Andhra Pradesh,anantapur,AP_Anantapur,1364374.0,597346.0,4081148.0
4,Andhra Pradesh,chittoor,AP_Chittoor,1565591.0,640864.0,4174064.0
...,...,...,...,...,...,...
723,West Bengal,nadia,WB_Nadia,994959.0,426292.0,5167600.0
724,West Bengal,purba medinipur,WB_Purba Medinipur,1539152.0,672014.0,5095875.0
725,West Bengal,paschim medinipur,WB_Paschim Medinipur,948146.0,380217.0,5913457.0
726,West Bengal,puruliya,WB_Purulia,580596.0,206567.0,2930115.0
727,West Bengal,uttar dinajpur,WB_Uttar Dinajpur,540958.0,173055.0,3007134.0

In [28]:
district_result_df.reset_index(drop=True,inplace=True)

In [29]:
district_result_df

,State,District,District_Key,First_Dose,Second_Dose,Population
0,Andaman and Nicobar Islands,nicobars,AN_Nicobars,22081.0,8110.0,36842.0
1,Andaman and Nicobar Islands,north & middle andaman,AN_North and Middle Andaman,68043.0,29281.0,105597.0
2,Andaman and Nicobar Islands,south andaman,AN_South Andaman,142585.0,59896.0,238142.0
3,Andhra Pradesh,anantapur,AP_Anantapur,1364374.0,597346.0,4081148.0
4,Andhra Pradesh,chittoor,AP_Chittoor,1565591.0,640864.0,4174064.0
...,...,...,...,...,...,...
609,West Bengal,nadia,WB_Nadia,994959.0,426292.0,5167600.0
610,West Bengal,purba medinipur,WB_Purba Medinipur,1539152.0,672014.0,5095875.0
611,West Bengal,paschim medinipur,WB_Paschim Medinipur,948146.0,380217.0,5913457.0
612,West Bengal,puruliya,WB_Purulia,580596.0,206567.0,2930115.0
613,West Bengal,uttar dinajpur,WB_Uttar Dinajpur,540958.0,173055.0,3007134.0

### Duplicate Disticts
Balrampur     
Hamirpur      
Bilaspur      
Pratapgarh    
Aurangabad    
### As we saw earlier above are the name of the duplicate district's, which means multiple district's with same name

In [30]:
# census data contains balrampur district of Uttar Pradesh only so dropping  balrampur district of Chattisgarh
district_result_df[(district_result_df['State'] == 'Chhattisgarh') &(district_result_df['District'] == 'balrampur')]

           State   District  District_Key  First_Dose  Second_Dose  Population
97  Chhattisgarh  balrampur  CT_Balrampur    194776.0      39958.0   2148665.0

In [31]:
district_result_df.drop([97],axis=0,inplace=True)

c:\users\chabil kansal\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [32]:
district_result_df.reset_index(drop=True,inplace=True)
district_result_df

,State,District,District_Key,First_Dose,Second_Dose,Population
0,Andaman and Nicobar Islands,nicobars,AN_Nicobars,22081.0,8110.0,36842.0
1,Andaman and Nicobar Islands,north & middle andaman,AN_North and Middle Andaman,68043.0,29281.0,105597.0
2,Andaman and Nicobar Islands,south andaman,AN_South Andaman,142585.0,59896.0,238142.0
3,Andhra Pradesh,anantapur,AP_Anantapur,1364374.0,597346.0,4081148.0
4,Andhra Pradesh,chittoor,AP_Chittoor,1565591.0,640864.0,4174064.0
...,...,...,...,...,...,...
608,West Bengal,nadia,WB_Nadia,994959.0,426292.0,5167600.0
609,West Bengal,purba medinipur,WB_Purba Medinipur,1539152.0,672014.0,5095875.0
610,West Bengal,paschim medinipur,WB_Paschim Medinipur,948146.0,380217.0,5913457.0
611,West Bengal,puruliya,WB_Purulia,580596.0,206567.0,2930115.0
612,West Bengal,uttar dinajpur,WB_Uttar Dinajpur,540958.0,173055.0,3007134.0

### Correcting remaining duplicate district population values manually

In [33]:
district_result_df[(district_result_df['State'] == 'Uttar Pradesh') &(district_result_df['District'] == 'hamirpur')]

             State  District District_Key  First_Dose  Second_Dose  Population
548  Uttar Pradesh  hamirpur  UP_Hamirpur    314741.0      49132.0    454768.0

In [34]:
district_result_df.iloc[548,5] = 1104285

c:\users\chabil kansal\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [35]:
district_result_df[(district_result_df['State'] == 'Uttar Pradesh') &(district_result_df['District'] == 'hamirpur')]

             State  District District_Key  First_Dose  Second_Dose  Population
548  Uttar Pradesh  hamirpur  UP_Hamirpur    314741.0      49132.0   1104285.0

In [36]:
district_result_df[(district_result_df['State'] == 'Chhattisgarh') &(district_result_df['District'] == 'bilaspur')]

           State  District District_Key  First_Dose  Second_Dose  Population
99  Chhattisgarh  bilaspur  CT_Bilaspur    576150.0     192418.0    381956.0

In [37]:
district_result_df.iloc[99,5] = 2663629

c:\users\chabil kansal\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [38]:
district_result_df[(district_result_df['State'] == 'Chhattisgarh') &(district_result_df['District'] == 'bilaspur')]

           State  District District_Key  First_Dose  Second_Dose  Population
99  Chhattisgarh  bilaspur  CT_Bilaspur    576150.0     192418.0   2663629.0

In [39]:
district_result_df[(district_result_df['State'] == 'Uttar Pradesh') &(district_result_df['District'] == 'pratapgarh')]

,State,District,District_Key,First_Dose,Second_Dose,Population
571,Uttar Pradesh,pratapgarh,UP_Pratapgarh,571849.0,105818.0,867848.0

In [40]:
district_result_df.iloc[571,5] = 3209141

c:\users\chabil kansal\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [41]:
district_result_df[(district_result_df['State'] == 'Uttar Pradesh') &(district_result_df['District'] == 'pratapgarh')]

,State,District,District_Key,First_Dose,Second_Dose,Population
571,Uttar Pradesh,pratapgarh,UP_Pratapgarh,571849.0,105818.0,3209141.0

In [42]:
district_result_df[(district_result_df['State'] == 'Maharashtra') &(district_result_df['District'] == 'aurangabad')]

,State,District,District_Key,First_Dose,Second_Dose,Population
321,Maharashtra,aurangabad,MH_Aurangabad,997525.0,333225.0,2540073.0

In [43]:
district_result_df.iloc[321,5] = 3701282

c:\users\chabil kansal\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [44]:
district_result_df[(district_result_df['State'] == 'Maharashtra') &(district_result_df['District'] == 'aurangabad')]

,State,District,District_Key,First_Dose,Second_Dose,Population
321,Maharashtra,aurangabad,MH_Aurangabad,997525.0,333225.0,3701282.0

In [45]:
district_result_df

,State,District,District_Key,First_Dose,Second_Dose,Population
0,Andaman and Nicobar Islands,nicobars,AN_Nicobars,22081.0,8110.0,36842.0
1,Andaman and Nicobar Islands,north & middle andaman,AN_North and Middle Andaman,68043.0,29281.0,105597.0
2,Andaman and Nicobar Islands,south andaman,AN_South Andaman,142585.0,59896.0,238142.0
3,Andhra Pradesh,anantapur,AP_Anantapur,1364374.0,597346.0,4081148.0
4,Andhra Pradesh,chittoor,AP_Chittoor,1565591.0,640864.0,4174064.0
...,...,...,...,...,...,...
608,West Bengal,nadia,WB_Nadia,994959.0,426292.0,5167600.0
609,West Bengal,purba medinipur,WB_Purba Medinipur,1539152.0,672014.0,5095875.0
610,West Bengal,paschim medinipur,WB_Paschim Medinipur,948146.0,380217.0,5913457.0
611,West Bengal,puruliya,WB_Purulia,580596.0,206567.0,2930115.0
612,West Bengal,uttar dinajpur,WB_Uttar Dinajpur,540958.0,173055.0,3007134.0

In [46]:
## Calculating the Ratio of number of first dose/second dose administered to population for every district
district_result_df['First_Dose_Ratio'] = district_result_df['First_Dose'] / district_result_df['Population']
district_result_df['Second_Dose_Ratio'] = district_result_df['Second_Dose'] / district_result_df['Population']
district_result_df

C:\Users\CHABIL~1\AppData\Local\Temp/ipykernel_212/3400259034.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  district_result_df['First_Dose_Ratio'] = district_result_df['First_Dose'] / district_result_df['Population']
C:\Users\CHABIL~1\AppData\Local\Temp/ipykernel_212/3400259034.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  district_result_df['Second_Dose_Ratio'] = district_result_df['Second_Dose'] / district_result_df['Population']

,State,District,District_Key,First_Dose,Second_Dose,Population,First_Dose_Ratio,Second_Dose_Ratio
0,Andaman and Nicobar Islands,nicobars,AN_Nicobars,22081.0,8110.0,36842.0,0.599343,0.220129
1,Andaman and Nicobar Islands,north & middle andaman,AN_North and Middle Andaman,68043.0,29281.0,105597.0,0.644365,0.277290
2,Andaman and Nicobar Islands,south andaman,AN_South Andaman,142585.0,59896.0,238142.0,0.598739,0.251514
3,Andhra Pradesh,anantapur,AP_Anantapur,1364374.0,597346.0,4081148.0,0.334311,0.146367
4,Andhra Pradesh,chittoor,AP_Chittoor,1565591.0,640864.0,4174064.0,0.375076,0.153535
...,...,...,...,...,...,...,...,...
608,West Bengal,nadia,WB_Nadia,994959.0,426292.0,5167600.0,0.192538,0.082493
609,West Bengal,purba medinipur,WB_Purba Medinipur,1539152.0,672014.0,5095875.0,0.302039,0.131874
610,West Bengal,paschim medinipur,WB_Paschim Medinipur,948146.0,380217.0,5913457.0,0.160337,0.064297
611,West Bengal,puruliya,WB_Purulia,580596.0,206567.0,2930115.0,0.198148,0.070498
612,West Bengal,uttar dinajpur,WB_Uttar Dinajpur,540958.0,173055.0,3007134.0,0.179892,0.057548

In [47]:
district_result_df.drop(['State','District','First_Dose','Second_Dose','Population'],axis=1,inplace = True)
district_result_df

c:\users\chabil kansal\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                    District_Key  First_Dose_Ratio  Second_Dose_Ratio
0                    AN_Nicobars          0.599343           0.220129
1    AN_North and Middle Andaman          0.644365           0.277290
2               AN_South Andaman          0.598739           0.251514
3                   AP_Anantapur          0.334311           0.146367
4                    AP_Chittoor          0.375076           0.153535
..                           ...               ...                ...
608                     WB_Nadia          0.192538           0.082493
609           WB_Purba Medinipur          0.302039           0.131874
610         WB_Paschim Medinipur          0.160337           0.064297
611                   WB_Purulia          0.198148           0.070498
612            WB_Uttar Dinajpur          0.179892           0.057548

[613 rows x 3 columns]

In [48]:
district_result_df.columns = ['districtid', 'vaccinateddose1ratio', 'vaccinateddose2ratio']
district_result_df

                      districtid  vaccinateddose1ratio  vaccinateddose2ratio
0                    AN_Nicobars              0.599343              0.220129
1    AN_North and Middle Andaman              0.644365              0.277290
2               AN_South Andaman              0.598739              0.251514
3                   AP_Anantapur              0.334311              0.146367
4                    AP_Chittoor              0.375076              0.153535
..                           ...                   ...                   ...
608                     WB_Nadia              0.192538              0.082493
609           WB_Purba Medinipur              0.302039              0.131874
610         WB_Paschim Medinipur              0.160337              0.064297
611                   WB_Purulia              0.198148              0.070498
612            WB_Uttar Dinajpur              0.179892              0.057548

[613 rows x 3 columns]

In [49]:
#  Saving the result in district-vaccinated-dose-ratio.csv
district_result_df.to_csv('Outputs/district-vaccinated-dose-ratio.csv',index=False)

## Now Doing the same for each state

In [50]:
# Creating a temporary dataframe to store the vaccination data for each state
newdf = pd.DataFrame()
newdf['State'] = df['State'].unique()
newdf

                                       State
0                Andaman and Nicobar Islands
1                             Andhra Pradesh
2                          Arunachal Pradesh
3                                      Assam
4                                      Bihar
5                                 Chandigarh
6                               Chhattisgarh
7   Dadra and Nagar Haveli and Daman and Diu
8                                      Delhi
9                                        Goa
10                                   Gujarat
11                                   Haryana
12                          Himachal Pradesh
13                         Jammu and Kashmir
14                                 Jharkhand
15                                 Karnataka
16                                    Kerala
17                                    Ladakh
18                               Lakshadweep
19                            Madhya Pradesh
20                               Maharashtra
21                                   Manipur
22                                 Meghalaya
23                                   Mizoram
24                                  Nagaland
25                                    Odisha
26                                Puducherry
27                                    Punjab
28                                 Rajasthan
29                                    Sikkim
30                                Tamil Nadu
31                                 Telangana
32                                   Tripura
33                             Uttar Pradesh
34                               Uttarakhand
35                               West Bengal

In [51]:
# Adding null columns to newdf for vaccination data
newdf['First_Dose'] = np.nan
newdf['Second_Dose'] = np.nan
newdf

                                       State  First_Dose  Second_Dose
0                Andaman and Nicobar Islands         NaN          NaN
1                             Andhra Pradesh         NaN          NaN
2                          Arunachal Pradesh         NaN          NaN
3                                      Assam         NaN          NaN
4                                      Bihar         NaN          NaN
5                                 Chandigarh         NaN          NaN
6                               Chhattisgarh         NaN          NaN
7   Dadra and Nagar Haveli and Daman and Diu         NaN          NaN
8                                      Delhi         NaN          NaN
9                                        Goa         NaN          NaN
10                                   Gujarat         NaN          NaN
11                                   Haryana         NaN          NaN
12                          Himachal Pradesh         NaN          NaN
13                         Jammu and Kashmir         NaN          NaN
14                                 Jharkhand         NaN          NaN
15                                 Karnataka         NaN          NaN
16                                    Kerala         NaN          NaN
17                                    Ladakh         NaN          NaN
18                               Lakshadweep         NaN          NaN
19                            Madhya Pradesh         NaN          NaN
20                               Maharashtra         NaN          NaN
21                                   Manipur         NaN          NaN
22                                 Meghalaya         NaN          NaN
23                                   Mizoram         NaN          NaN
24                                  Nagaland         NaN          NaN
25                                    Odisha         NaN          NaN
26                                Puducherry         NaN          NaN
27                                    Punjab         NaN          NaN
28                                 Rajasthan         NaN          NaN
29                                    Sikkim         NaN          NaN
30                                Tamil Nadu         NaN          NaN
31                                 Telangana         NaN          NaN
32                                   Tripura         NaN          NaN
33                             Uttar Pradesh         NaN          NaN
34                               Uttarakhand         NaN          NaN
35                               West Bengal         NaN          NaN

In [52]:
# Filling first/second dose data for each state
# As vaccine_df contains data district wise so adding first/second dose number of all the district of a state
for i in range(len(newdf)):
    tempdf = vaccine_df_copy[vaccine_df_copy['State'] == newdf.iloc[i,0]]
    sumdf = tempdf.sum(axis=0)
    newdf.iloc[i,1] = pd.to_numeric(sumdf.loc['14/08/2021.3'])
    newdf.iloc[i,2] = pd.to_numeric(sumdf.loc['14/08/2021.4'])
newdf

                                       State  First_Dose  Second_Dose
0                Andaman and Nicobar Islands    232709.0      97287.0
1                             Andhra Pradesh  18516141.0    6485212.0
2                          Arunachal Pradesh    700977.0     199737.0
3                                      Assam  11430053.0    2442900.0
4                                      Bihar  25167378.0    4859267.0
5                                 Chandigarh    733579.0     244351.0
6                               Chhattisgarh   9383511.0    2775881.0
7   Dadra and Nagar Haveli and Daman and Diu    598380.0      90421.0
8                                      Delhi   8251002.0    3265001.0
9                                        Goa   1112815.0     329909.0
10                                   Gujarat  30219308.0    9623519.0
11                                   Haryana  10492106.0    3191505.0
12                          Himachal Pradesh   4950789.0    1513695.0
13                         Jammu and Kashmir   5546227.0    1573432.0
14                                 Jharkhand   8797921.0    2134931.0
15                                 Karnataka  26662330.0    7837391.0
16                                    Kerala  17281691.0    6657813.0
17                                    Ladakh    189535.0      72825.0
18                               Lakshadweep     51678.0      17875.0
19                            Madhya Pradesh  31664637.0    6093628.0
20                               Maharashtra  36383348.0   12813692.0
21                                   Manipur   1173886.0     266350.0
22                                 Meghalaya    968800.0     257359.0
23                                   Mizoram    660109.0     217691.0
24                                  Nagaland    639379.0     167940.0
25                                    Odisha  15009657.0    4474924.0
26                                Puducherry    616278.0     157236.0
27                                    Punjab   8406019.0    2518633.0
28                                 Rajasthan  28531782.0    8983559.0
29                                    Sikkim    500829.0     158042.0
30                                Tamil Nadu  21748109.0    4899375.0
31                                 Telangana  12073689.0    4152114.0
32                                   Tripura   2433697.0     826786.0
33                             Uttar Pradesh  48248265.0    9180143.0
34                               Uttarakhand   5495857.0    1722454.0
35                               West Bengal  24815523.0    9389149.0

In [53]:
# Separating state population data from complete census data
state_census = census_df[census_df['Level'] == 'STATE']
state_census

,State,District,Subdistt,Town/Village,Ward,EB,Level,Name,TRU,No_HH,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
3,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Total,2119718,...,44570,26585,6780,19805,108457,56880,51577,8218589,3445572,4773017
4,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Rural,1553433,...,40936,21963,5757,16206,89232,45625,43607,5994979,2562471,3432508
5,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Urban,566285,...,3634,4622,1023,3599,19225,11255,7970,2223610,883101,1340509
72,2,0,0,0,0,0,STATE,HIMACHAL PRADESH,Total,1483280,...,13195,7676,2959,4717,53557,29186,24371,3305180,1438500,1866680
73,2,0,0,0,0,0,STATE,HIMACHAL PRADESH,Rural,1312510,...,13026,7407,2842,4565,50852,27470,23382,2886666,1273987,1612679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002,34,0,0,0,0,0,STATE,PUDUCHERRY,Rural,95018,...,1908,188,71,117,1713,1029,684,247324,89202,158122
2003,34,0,0,0,0,0,STATE,PUDUCHERRY,Urban,207432,...,281,215,64,151,2905,1802,1103,555661,190378,365283
2016,35,0,0,0,0,0,STATE,ANDAMAN & NICOBAR ISLANDS,Total,94551,...,204,559,282,277,3774,2576,1198,228046,81982,146064
2017,35,0,0,0,0,0,STATE,ANDAMAN & NICOBAR ISLANDS,Rural,58530,...,202,553,278,275,3170,2150,1020,142624,51617,91007
2018,35,0,0,0,0,0,STATE,ANDAMAN & NICOBAR ISLANDS,Urban,36021,...,2,6,4,2,604,426,178,85422,30365,55057

In [54]:
newdf

                                       State  First_Dose  Second_Dose
0                Andaman and Nicobar Islands    232709.0      97287.0
1                             Andhra Pradesh  18516141.0    6485212.0
2                          Arunachal Pradesh    700977.0     199737.0
3                                      Assam  11430053.0    2442900.0
4                                      Bihar  25167378.0    4859267.0
5                                 Chandigarh    733579.0     244351.0
6                               Chhattisgarh   9383511.0    2775881.0
7   Dadra and Nagar Haveli and Daman and Diu    598380.0      90421.0
8                                      Delhi   8251002.0    3265001.0
9                                        Goa   1112815.0     329909.0
10                                   Gujarat  30219308.0    9623519.0
11                                   Haryana  10492106.0    3191505.0
12                          Himachal Pradesh   4950789.0    1513695.0
13                         Jammu and Kashmir   5546227.0    1573432.0
14                                 Jharkhand   8797921.0    2134931.0
15                                 Karnataka  26662330.0    7837391.0
16                                    Kerala  17281691.0    6657813.0
17                                    Ladakh    189535.0      72825.0
18                               Lakshadweep     51678.0      17875.0
19                            Madhya Pradesh  31664637.0    6093628.0
20                               Maharashtra  36383348.0   12813692.0
21                                   Manipur   1173886.0     266350.0
22                                 Meghalaya    968800.0     257359.0
23                                   Mizoram    660109.0     217691.0
24                                  Nagaland    639379.0     167940.0
25                                    Odisha  15009657.0    4474924.0
26                                Puducherry    616278.0     157236.0
27                                    Punjab   8406019.0    2518633.0
28                                 Rajasthan  28531782.0    8983559.0
29                                    Sikkim    500829.0     158042.0
30                                Tamil Nadu  21748109.0    4899375.0
31                                 Telangana  12073689.0    4152114.0
32                                   Tripura   2433697.0     826786.0
33                             Uttar Pradesh  48248265.0    9180143.0
34                               Uttarakhand   5495857.0    1722454.0
35                               West Bengal  24815523.0    9389149.0

In [55]:
# Adding a null column to store state population data in future
newdf['Population'] = np.nan
newdf

,State,First_Dose,Second_Dose,Population
0,Andaman and Nicobar Islands,232709.0,97287.0,NaN
1,Andhra Pradesh,18516141.0,6485212.0,NaN
2,Arunachal Pradesh,700977.0,199737.0,NaN
3,Assam,11430053.0,2442900.0,NaN
4,Bihar,25167378.0,4859267.0,NaN
5,Chandigarh,733579.0,244351.0,NaN
6,Chhattisgarh,9383511.0,2775881.0,NaN
7,Dadra and Nagar Haveli and Daman and Diu,598380.0,90421.0,NaN
8,Delhi,8251002.0,3265001.0,NaN
9,Goa,1112815.0,329909.0,NaN
10,Gujarat,30219308.0,9623519.0,NaN
11,Haryana,10492106.0,3191505.0,NaN
12,Himachal Pradesh,4950789.0,1513695.0,NaN
13,Jammu and Kashmir,5546227.0,1573432.0,NaN
14,Jharkhand,8797921.0,2134931.0,NaN
15,Karnataka,26662330.0,7837391.0,NaN
16,Kerala,17281691.0,6657813.0,NaN
17,Ladakh,189535.0,72825.0,NaN
18,Lakshadweep,51678.0,17875.0,NaN
19,Madhya Pradesh,31664637.0,6093628.0,NaN
20,Maharashtra,36383348.0,12813692.0,NaN
21,Manipur,1173886.0,266350.0,NaN
22,Meghalaya,968800.0,257359.0,NaN
23,Mizoram,660109.0,217691.0,NaN
24,Nagaland,639379.0,167940.0,NaN
25,Odisha,15009657.0,4474924.0,NaN
26,Puducherry,616278.0,157236.0,NaN
27,Punjab,8406019.0,2518633.0,NaN
28,Rajasthan,28531782.0,8983559.0,NaN
29,Sikkim,500829.0,158042.0,NaN
30,Tamil Nadu,21748109.0,4899375.0,NaN
31,Telangana,12073689.0,4152114.0,NaN
32,Tripura,2433697.0,826786.0,NaN
33,Uttar Pradesh,48248265.0,9180143.0,NaN
34,Uttarakhand,5495857.0,1722454.0,NaN
35,West Bengal,24815523.0,9389149.0,NaN

In [56]:
# Converting the state name's to upper case so that the names could match with state_census data
newdf['State'] = newdf['State'].apply(lambda x: x.upper())
newdf

,State,First_Dose,Second_Dose,Population
0,ANDAMAN AND NICOBAR ISLANDS,232709.0,97287.0,NaN
1,ANDHRA PRADESH,18516141.0,6485212.0,NaN
2,ARUNACHAL PRADESH,700977.0,199737.0,NaN
3,ASSAM,11430053.0,2442900.0,NaN
4,BIHAR,25167378.0,4859267.0,NaN
5,CHANDIGARH,733579.0,244351.0,NaN
6,CHHATTISGARH,9383511.0,2775881.0,NaN
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,598380.0,90421.0,NaN
8,DELHI,8251002.0,3265001.0,NaN
9,GOA,1112815.0,329909.0,NaN
10,GUJARAT,30219308.0,9623519.0,NaN
11,HARYANA,10492106.0,3191505.0,NaN
12,HIMACHAL PRADESH,4950789.0,1513695.0,NaN
13,JAMMU AND KASHMIR,5546227.0,1573432.0,NaN
14,JHARKHAND,8797921.0,2134931.0,NaN
15,KARNATAKA,26662330.0,7837391.0,NaN
16,KERALA,17281691.0,6657813.0,NaN
17,LADAKH,189535.0,72825.0,NaN
18,LAKSHADWEEP,51678.0,17875.0,NaN
19,MADHYA PRADESH,31664637.0,6093628.0,NaN
20,MAHARASHTRA,36383348.0,12813692.0,NaN
21,MANIPUR,1173886.0,266350.0,NaN
22,MEGHALAYA,968800.0,257359.0,NaN
23,MIZORAM,660109.0,217691.0,NaN
24,NAGALAND,639379.0,167940.0,NaN
25,ODISHA,15009657.0,4474924.0,NaN
26,PUDUCHERRY,616278.0,157236.0,NaN
27,PUNJAB,8406019.0,2518633.0,NaN
28,RAJASTHAN,28531782.0,8983559.0,NaN
29,SIKKIM,500829.0,158042.0,NaN
30,TAMIL NADU,21748109.0,4899375.0,NaN
31,TELANGANA,12073689.0,4152114.0,NaN
32,TRIPURA,2433697.0,826786.0,NaN
33,UTTAR PRADESH,48248265.0,9180143.0,NaN
34,UTTARAKHAND,5495857.0,1722454.0,NaN
35,WEST BENGAL,24815523.0,9389149.0,NaN

In [57]:
# Changing the names of states according to census data
newdf.replace('ANDAMAN AND NICOBAR ISLANDS', 'ANDAMAN & NICOBAR ISLANDS',inplace=True)
newdf.replace('DELHI', 'NCT OF DELHI',inplace=True)

In [58]:
newdf

,State,First_Dose,Second_Dose,Population
0,ANDAMAN & NICOBAR ISLANDS,232709.0,97287.0,NaN
1,ANDHRA PRADESH,18516141.0,6485212.0,NaN
2,ARUNACHAL PRADESH,700977.0,199737.0,NaN
3,ASSAM,11430053.0,2442900.0,NaN
4,BIHAR,25167378.0,4859267.0,NaN
5,CHANDIGARH,733579.0,244351.0,NaN
6,CHHATTISGARH,9383511.0,2775881.0,NaN
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,598380.0,90421.0,NaN
8,NCT OF DELHI,8251002.0,3265001.0,NaN
9,GOA,1112815.0,329909.0,NaN
10,GUJARAT,30219308.0,9623519.0,NaN
11,HARYANA,10492106.0,3191505.0,NaN
12,HIMACHAL PRADESH,4950789.0,1513695.0,NaN
13,JAMMU AND KASHMIR,5546227.0,1573432.0,NaN
14,JHARKHAND,8797921.0,2134931.0,NaN
15,KARNATAKA,26662330.0,7837391.0,NaN
16,KERALA,17281691.0,6657813.0,NaN
17,LADAKH,189535.0,72825.0,NaN
18,LAKSHADWEEP,51678.0,17875.0,NaN
19,MADHYA PRADESH,31664637.0,6093628.0,NaN
20,MAHARASHTRA,36383348.0,12813692.0,NaN
21,MANIPUR,1173886.0,266350.0,NaN
22,MEGHALAYA,968800.0,257359.0,NaN
23,MIZORAM,660109.0,217691.0,NaN
24,NAGALAND,639379.0,167940.0,NaN
25,ODISHA,15009657.0,4474924.0,NaN
26,PUDUCHERRY,616278.0,157236.0,NaN
27,PUNJAB,8406019.0,2518633.0,NaN
28,RAJASTHAN,28531782.0,8983559.0,NaN
29,SIKKIM,500829.0,158042.0,NaN
30,TAMIL NADU,21748109.0,4899375.0,NaN
31,TELANGANA,12073689.0,4152114.0,NaN
32,TRIPURA,2433697.0,826786.0,NaN
33,UTTAR PRADESH,48248265.0,9180143.0,NaN
34,UTTARAKHAND,5495857.0,1722454.0,NaN
35,WEST BENGAL,24815523.0,9389149.0,NaN

In [59]:
# Filling that state population values from state_census dataframe
# Also printing the names of the states not present in state census data
for i in newdf.index:
    try:
        newdf.iloc[i,3] = int(state_census[state_census['Name'] == newdf.iloc[i,0]].iloc[0]['TOT_P'])
    except:
        print(newdf.iloc[i,0])

DADRA AND NAGAR HAVELI AND DAMAN AND DIU
JAMMU AND KASHMIR
LADAKH
TELANGANA

In [60]:
newdf

,State,First_Dose,Second_Dose,Population
0,ANDAMAN & NICOBAR ISLANDS,232709.0,97287.0,380581.0
1,ANDHRA PRADESH,18516141.0,6485212.0,84580777.0
2,ARUNACHAL PRADESH,700977.0,199737.0,1383727.0
3,ASSAM,11430053.0,2442900.0,31205576.0
4,BIHAR,25167378.0,4859267.0,104099452.0
5,CHANDIGARH,733579.0,244351.0,1055450.0
6,CHHATTISGARH,9383511.0,2775881.0,25545198.0
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,598380.0,90421.0,NaN
8,NCT OF DELHI,8251002.0,3265001.0,16787941.0
9,GOA,1112815.0,329909.0,1458545.0
10,GUJARAT,30219308.0,9623519.0,60439692.0
11,HARYANA,10492106.0,3191505.0,25351462.0
12,HIMACHAL PRADESH,4950789.0,1513695.0,6864602.0
13,JAMMU AND KASHMIR,5546227.0,1573432.0,NaN
14,JHARKHAND,8797921.0,2134931.0,32988134.0
15,KARNATAKA,26662330.0,7837391.0,61095297.0
16,KERALA,17281691.0,6657813.0,33406061.0
17,LADAKH,189535.0,72825.0,NaN
18,LAKSHADWEEP,51678.0,17875.0,64473.0
19,MADHYA PRADESH,31664637.0,6093628.0,72626809.0
20,MAHARASHTRA,36383348.0,12813692.0,112374333.0
21,MANIPUR,1173886.0,266350.0,2855794.0
22,MEGHALAYA,968800.0,257359.0,2966889.0
23,MIZORAM,660109.0,217691.0,1097206.0
24,NAGALAND,639379.0,167940.0,1978502.0
25,ODISHA,15009657.0,4474924.0,41974218.0
26,PUDUCHERRY,616278.0,157236.0,1247953.0
27,PUNJAB,8406019.0,2518633.0,27743338.0
28,RAJASTHAN,28531782.0,8983559.0,68548437.0
29,SIKKIM,500829.0,158042.0,610577.0
30,TAMIL NADU,21748109.0,4899375.0,72147030.0
31,TELANGANA,12073689.0,4152114.0,NaN
32,TRIPURA,2433697.0,826786.0,3673917.0
33,UTTAR PRADESH,48248265.0,9180143.0,199812341.0
34,UTTARAKHAND,5495857.0,1722454.0,10086292.0
35,WEST BENGAL,24815523.0,9389149.0,91276115.0

In [61]:
# As state census data contains dadra & nagar haveli population and daman  & diu population seperately, adding both values
# to find the population of Union territory DADRA AND NAGAR HAVELI AND DAMAN AND DIU
newdf.iloc[7,3] = state_census[state_census['Name']=='DADRA & NAGAR HAVELI'].iloc[0]['TOT_P'] + state_census[state_census['Name']=='DAMAN & DIU'].iloc[0]['TOT_P']

In [62]:
newdf

,State,First_Dose,Second_Dose,Population
0,ANDAMAN & NICOBAR ISLANDS,232709.0,97287.0,380581.0
1,ANDHRA PRADESH,18516141.0,6485212.0,84580777.0
2,ARUNACHAL PRADESH,700977.0,199737.0,1383727.0
3,ASSAM,11430053.0,2442900.0,31205576.0
4,BIHAR,25167378.0,4859267.0,104099452.0
5,CHANDIGARH,733579.0,244351.0,1055450.0
6,CHHATTISGARH,9383511.0,2775881.0,25545198.0
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,598380.0,90421.0,586956.0
8,NCT OF DELHI,8251002.0,3265001.0,16787941.0
9,GOA,1112815.0,329909.0,1458545.0
10,GUJARAT,30219308.0,9623519.0,60439692.0
11,HARYANA,10492106.0,3191505.0,25351462.0
12,HIMACHAL PRADESH,4950789.0,1513695.0,6864602.0
13,JAMMU AND KASHMIR,5546227.0,1573432.0,NaN
14,JHARKHAND,8797921.0,2134931.0,32988134.0
15,KARNATAKA,26662330.0,7837391.0,61095297.0
16,KERALA,17281691.0,6657813.0,33406061.0
17,LADAKH,189535.0,72825.0,NaN
18,LAKSHADWEEP,51678.0,17875.0,64473.0
19,MADHYA PRADESH,31664637.0,6093628.0,72626809.0
20,MAHARASHTRA,36383348.0,12813692.0,112374333.0
21,MANIPUR,1173886.0,266350.0,2855794.0
22,MEGHALAYA,968800.0,257359.0,2966889.0
23,MIZORAM,660109.0,217691.0,1097206.0
24,NAGALAND,639379.0,167940.0,1978502.0
25,ODISHA,15009657.0,4474924.0,41974218.0
26,PUDUCHERRY,616278.0,157236.0,1247953.0
27,PUNJAB,8406019.0,2518633.0,27743338.0
28,RAJASTHAN,28531782.0,8983559.0,68548437.0
29,SIKKIM,500829.0,158042.0,610577.0
30,TAMIL NADU,21748109.0,4899375.0,72147030.0
31,TELANGANA,12073689.0,4152114.0,NaN
32,TRIPURA,2433697.0,826786.0,3673917.0
33,UTTAR PRADESH,48248265.0,9180143.0,199812341.0
34,UTTARAKHAND,5495857.0,1722454.0,10086292.0
35,WEST BENGAL,24815523.0,9389149.0,91276115.0

In [63]:
# Dropping remaining states as their population state in not present in 2011 census data
newdf.dropna(inplace=True)

In [64]:
newdf

,State,First_Dose,Second_Dose,Population
0,ANDAMAN & NICOBAR ISLANDS,232709.0,97287.0,380581.0
1,ANDHRA PRADESH,18516141.0,6485212.0,84580777.0
2,ARUNACHAL PRADESH,700977.0,199737.0,1383727.0
3,ASSAM,11430053.0,2442900.0,31205576.0
4,BIHAR,25167378.0,4859267.0,104099452.0
5,CHANDIGARH,733579.0,244351.0,1055450.0
6,CHHATTISGARH,9383511.0,2775881.0,25545198.0
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,598380.0,90421.0,586956.0
8,NCT OF DELHI,8251002.0,3265001.0,16787941.0
9,GOA,1112815.0,329909.0,1458545.0
10,GUJARAT,30219308.0,9623519.0,60439692.0
11,HARYANA,10492106.0,3191505.0,25351462.0
12,HIMACHAL PRADESH,4950789.0,1513695.0,6864602.0
14,JHARKHAND,8797921.0,2134931.0,32988134.0
15,KARNATAKA,26662330.0,7837391.0,61095297.0
16,KERALA,17281691.0,6657813.0,33406061.0
18,LAKSHADWEEP,51678.0,17875.0,64473.0
19,MADHYA PRADESH,31664637.0,6093628.0,72626809.0
20,MAHARASHTRA,36383348.0,12813692.0,112374333.0
21,MANIPUR,1173886.0,266350.0,2855794.0
22,MEGHALAYA,968800.0,257359.0,2966889.0
23,MIZORAM,660109.0,217691.0,1097206.0
24,NAGALAND,639379.0,167940.0,1978502.0
25,ODISHA,15009657.0,4474924.0,41974218.0
26,PUDUCHERRY,616278.0,157236.0,1247953.0
27,PUNJAB,8406019.0,2518633.0,27743338.0
28,RAJASTHAN,28531782.0,8983559.0,68548437.0
29,SIKKIM,500829.0,158042.0,610577.0
30,TAMIL NADU,21748109.0,4899375.0,72147030.0
32,TRIPURA,2433697.0,826786.0,3673917.0
33,UTTAR PRADESH,48248265.0,9180143.0,199812341.0
34,UTTARAKHAND,5495857.0,1722454.0,10086292.0
35,WEST BENGAL,24815523.0,9389149.0,91276115.0

In [65]:
newdf.reset_index(drop=True,inplace=True)

In [66]:
newdf

,State,First_Dose,Second_Dose,Population
0,ANDAMAN & NICOBAR ISLANDS,232709.0,97287.0,380581.0
1,ANDHRA PRADESH,18516141.0,6485212.0,84580777.0
2,ARUNACHAL PRADESH,700977.0,199737.0,1383727.0
3,ASSAM,11430053.0,2442900.0,31205576.0
4,BIHAR,25167378.0,4859267.0,104099452.0
5,CHANDIGARH,733579.0,244351.0,1055450.0
6,CHHATTISGARH,9383511.0,2775881.0,25545198.0
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,598380.0,90421.0,586956.0
8,NCT OF DELHI,8251002.0,3265001.0,16787941.0
9,GOA,1112815.0,329909.0,1458545.0
10,GUJARAT,30219308.0,9623519.0,60439692.0
11,HARYANA,10492106.0,3191505.0,25351462.0
12,HIMACHAL PRADESH,4950789.0,1513695.0,6864602.0
13,JHARKHAND,8797921.0,2134931.0,32988134.0
14,KARNATAKA,26662330.0,7837391.0,61095297.0
15,KERALA,17281691.0,6657813.0,33406061.0
16,LAKSHADWEEP,51678.0,17875.0,64473.0
17,MADHYA PRADESH,31664637.0,6093628.0,72626809.0
18,MAHARASHTRA,36383348.0,12813692.0,112374333.0
19,MANIPUR,1173886.0,266350.0,2855794.0
20,MEGHALAYA,968800.0,257359.0,2966889.0
21,MIZORAM,660109.0,217691.0,1097206.0
22,NAGALAND,639379.0,167940.0,1978502.0
23,ODISHA,15009657.0,4474924.0,41974218.0
24,PUDUCHERRY,616278.0,157236.0,1247953.0
25,PUNJAB,8406019.0,2518633.0,27743338.0
26,RAJASTHAN,28531782.0,8983559.0,68548437.0
27,SIKKIM,500829.0,158042.0,610577.0
28,TAMIL NADU,21748109.0,4899375.0,72147030.0
29,TRIPURA,2433697.0,826786.0,3673917.0
30,UTTAR PRADESH,48248265.0,9180143.0,199812341.0
31,UTTARAKHAND,5495857.0,1722454.0,10086292.0
32,WEST BENGAL,24815523.0,9389149.0,91276115.0

In [67]:
state_result_df = newdf.copy()

In [68]:
## Calculating the Ratio of number of first dose/second dose administered to population for every state
state_result_df['First_Dose_Ratio'] = state_result_df['First_Dose'] / state_result_df['Population']
state_result_df['Second_Dose_Ratio'] = state_result_df['Second_Dose'] / state_result_df['Population']
state_result_df

,State,First_Dose,Second_Dose,Population,First_Dose_Ratio,Second_Dose_Ratio
0,ANDAMAN & NICOBAR ISLANDS,232709.0,97287.0,380581.0,0.611457,0.255628
1,ANDHRA PRADESH,18516141.0,6485212.0,84580777.0,0.218917,0.076675
2,ARUNACHAL PRADESH,700977.0,199737.0,1383727.0,0.506586,0.144347
3,ASSAM,11430053.0,2442900.0,31205576.0,0.366282,0.078284
4,BIHAR,25167378.0,4859267.0,104099452.0,0.241763,0.046679
5,CHANDIGARH,733579.0,244351.0,1055450.0,0.695039,0.231514
6,CHHATTISGARH,9383511.0,2775881.0,25545198.0,0.367330,0.108665
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,598380.0,90421.0,586956.0,1.019463,0.154051
8,NCT OF DELHI,8251002.0,3265001.0,16787941.0,0.491484,0.194485
9,GOA,1112815.0,329909.0,1458545.0,0.762962,0.226190
10,GUJARAT,30219308.0,9623519.0,60439692.0,0.499991,0.159225
11,HARYANA,10492106.0,3191505.0,25351462.0,0.413866,0.125890
12,HIMACHAL PRADESH,4950789.0,1513695.0,6864602.0,0.721206,0.220507
13,JHARKHAND,8797921.0,2134931.0,32988134.0,0.266700,0.064718
14,KARNATAKA,26662330.0,7837391.0,61095297.0,0.436406,0.128281
15,KERALA,17281691.0,6657813.0,33406061.0,0.517322,0.199300
16,LAKSHADWEEP,51678.0,17875.0,64473.0,0.801545,0.277248
17,MADHYA PRADESH,31664637.0,6093628.0,72626809.0,0.435991,0.083903
18,MAHARASHTRA,36383348.0,12813692.0,112374333.0,0.323769,0.114027
19,MANIPUR,1173886.0,266350.0,2855794.0,0.411054,0.093267
20,MEGHALAYA,968800.0,257359.0,2966889.0,0.326537,0.086744
21,MIZORAM,660109.0,217691.0,1097206.0,0.601627,0.198405
22,NAGALAND,639379.0,167940.0,1978502.0,0.323163,0.084882
23,ODISHA,15009657.0,4474924.0,41974218.0,0.357592,0.106611
24,PUDUCHERRY,616278.0,157236.0,1247953.0,0.493831,0.125995
25,PUNJAB,8406019.0,2518633.0,27743338.0,0.302992,0.090783
26,RAJASTHAN,28531782.0,8983559.0,68548437.0,0.416228,0.131054
27,SIKKIM,500829.0,158042.0,610577.0,0.820255,0.258840
28,TAMIL NADU,21748109.0,4899375.0,72147030.0,0.301442,0.067908
29,TRIPURA,2433697.0,826786.0,3673917.0,0.662426,0.225042
30,UTTAR PRADESH,48248265.0,9180143.0,199812341.0,0.241468,0.045944
31,UTTARAKHAND,5495857.0,1722454.0,10086292.0,0.544884,0.170772
32,WEST BENGAL,24815523.0,9389149.0,91276115.0,0.271873,0.102865

In [69]:
state_result_df.drop(['First_Dose','Second_Dose','Population'],axis=1,inplace = True)
state_result_df

,State,First_Dose_Ratio,Second_Dose_Ratio
0,ANDAMAN & NICOBAR ISLANDS,0.611457,0.255628
1,ANDHRA PRADESH,0.218917,0.076675
2,ARUNACHAL PRADESH,0.506586,0.144347
3,ASSAM,0.366282,0.078284
4,BIHAR,0.241763,0.046679
5,CHANDIGARH,0.695039,0.231514
6,CHHATTISGARH,0.367330,0.108665
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,1.019463,0.154051
8,NCT OF DELHI,0.491484,0.194485
9,GOA,0.762962,0.226190
10,GUJARAT,0.499991,0.159225
11,HARYANA,0.413866,0.125890
12,HIMACHAL PRADESH,0.721206,0.220507
13,JHARKHAND,0.266700,0.064718
14,KARNATAKA,0.436406,0.128281
15,KERALA,0.517322,0.199300
16,LAKSHADWEEP,0.801545,0.277248
17,MADHYA PRADESH,0.435991,0.083903
18,MAHARASHTRA,0.323769,0.114027
19,MANIPUR,0.411054,0.093267
20,MEGHALAYA,0.326537,0.086744
21,MIZORAM,0.601627,0.198405
22,NAGALAND,0.323163,0.084882
23,ODISHA,0.357592,0.106611
24,PUDUCHERRY,0.493831,0.125995
25,PUNJAB,0.302992,0.090783
26,RAJASTHAN,0.416228,0.131054
27,SIKKIM,0.820255,0.258840
28,TAMIL NADU,0.301442,0.067908
29,TRIPURA,0.662426,0.225042
30,UTTAR PRADESH,0.241468,0.045944
31,UTTARAKHAND,0.544884,0.170772
32,WEST BENGAL,0.271873,0.102865

In [70]:
state_result_df.columns = ['stateid', 'vaccinateddose1ratio', 'vaccinateddose2ratio']
state_result_df

,stateid,vaccinateddose1ratio,vaccinateddose2ratio
0,ANDAMAN & NICOBAR ISLANDS,0.611457,0.255628
1,ANDHRA PRADESH,0.218917,0.076675
2,ARUNACHAL PRADESH,0.506586,0.144347
3,ASSAM,0.366282,0.078284
4,BIHAR,0.241763,0.046679
5,CHANDIGARH,0.695039,0.231514
6,CHHATTISGARH,0.367330,0.108665
7,DADRA AND NAGAR HAVELI AND DAMAN AND DIU,1.019463,0.154051
8,NCT OF DELHI,0.491484,0.194485
9,GOA,0.762962,0.226190
10,GUJARAT,0.499991,0.159225
11,HARYANA,0.413866,0.125890
12,HIMACHAL PRADESH,0.721206,0.220507
13,JHARKHAND,0.266700,0.064718
14,KARNATAKA,0.436406,0.128281
15,KERALA,0.517322,0.199300
16,LAKSHADWEEP,0.801545,0.277248
17,MADHYA PRADESH,0.435991,0.083903
18,MAHARASHTRA,0.323769,0.114027
19,MANIPUR,0.411054,0.093267
20,MEGHALAYA,0.326537,0.086744
21,MIZORAM,0.601627,0.198405
22,NAGALAND,0.323163,0.084882
23,ODISHA,0.357592,0.106611
24,PUDUCHERRY,0.493831,0.125995
25,PUNJAB,0.302992,0.090783
26,RAJASTHAN,0.416228,0.131054
27,SIKKIM,0.820255,0.258840
28,TAMIL NADU,0.301442,0.067908
29,TRIPURA,0.662426,0.225042
30,UTTAR PRADESH,0.241468,0.045944
31,UTTARAKHAND,0.544884,0.170772
32,WEST BENGAL,0.271873,0.102865

In [71]:
#  Saving the result in state-vaccinated-dose-ratio.csv
state_result_df.to_csv('Outputs/state-vaccinated-dose-ratio.csv',index=False)

## Doing this for India

In [72]:
# Finding the number of first/second doses administerd in India till last data (14/08/2021)
first_dose_india = vaccine_df_copy['14/08/2021.3'].sum()
second_dose_india = vaccine_df_copy['14/08/2021.4'].sum()

In [73]:
# Creating dataframe to store result
india_result_df = pd.DataFrame()

In [74]:
# Adding a single row India
india_result_df['Country'] = ['India']
india_result_df

  Country
0   India

In [75]:
# Adding vaccination data
india_result_df['First_Dose'] = first_dose_india
india_result_df['Second_Dose'] = second_dose_india
india_result_df

  Country  First_Dose  Second_Dose
0   India   419687994    119692027

In [76]:
census_df

,State,District,Subdistt,Town/Village,Ward,EB,Level,Name,TRU,No_HH,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
0,0,0,0,0,0,0,India,India,Total,249501663,...,5820403,1420348,491424,928924,5518450,3082613,2435837,728966109,291330383,437635726
1,0,0,0,0,0,0,India,India,Rural,168612897,...,5640822,1154975,386077,768898,3803400,1972348,1831052,485005760,200944045,284061715
2,0,0,0,0,0,0,India,India,Urban,80888766,...,179581,265373,105347,160026,1715050,1110265,604785,243960349,90386338,153574011
3,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Total,2119718,...,44570,26585,6780,19805,108457,56880,51577,8218589,3445572,4773017
4,1,0,0,0,0,0,STATE,JAMMU & KASHMIR,Rural,1553433,...,40936,21963,5757,16206,89232,45625,43607,5994979,2562471,3432508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,35,639,0,0,0,0,DISTRICT,North & Middle Andaman,Rural,25475,...,119,30,21,9,1047,654,393,65311,23633,41678
2024,35,639,0,0,0,0,DISTRICT,North & Middle Andaman,Urban,724,...,1,0,0,0,70,43,27,1707,616,1091
2025,35,640,0,0,0,0,DISTRICT,South Andaman,Total,59064,...,63,48,24,24,1311,933,378,141311,49720,91591
2026,35,640,0,0,0,0,DISTRICT,South Andaman,Rural,23767,...,62,42,20,22,777,550,227,57596,19971,37625
2027,35,640,0,0,0,0,DISTRICT,South Andaman,Urban,35297,...,1,6,4,2,534,383,151,83715,29749,53966

In [77]:
# Finding Population of india from census data
population_india = census_df.iloc[0]['TOT_P']

In [78]:
# Adding population of India to dataframe
india_result_df['Population'] = population_india
india_result_df

  Country  First_Dose  Second_Dose  Population
0   India   419687994    119692027  1210854977

In [79]:
# Calculating the Ratio of number of first dose/second dose administered to population for India
india_result_df['First_Dose_Ratio'] = india_result_df['First_Dose'] / india_result_df['Population']
india_result_df['Second_Dose_Ratio'] = india_result_df['Second_Dose'] / india_result_df['Population']
india_result_df

,Country,First_Dose,Second_Dose,Population,First_Dose_Ratio,Second_Dose_Ratio
0,India,419687994,119692027,1210854977,0.346605,0.098849

In [80]:
india_result_df.drop(['First_Dose','Second_Dose','Population'],axis=1,inplace = True)
india_result_df

  Country  First_Dose_Ratio  Second_Dose_Ratio
0   India          0.346605           0.098849

In [81]:
india_result_df.columns = ['countryid', 'vaccinateddose1ratio', 'vaccinateddose2ratio']
india_result_df

  countryid  vaccinateddose1ratio  vaccinateddose2ratio
0     India              0.346605              0.098849

In [82]:
#  Saving the result in india-vaccinated-dose-ratio.csv
india_result_df.to_csv('Outputs/india-vaccinated-dose-ratio.csv',index=False)